/*
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
/*reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;	}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
.wrap{
	width:960px;
	margin:0 auto;
	background:#fff;
	padding:0px 12px;
	box-shadow: 0px 0px 10px #CDCDCD;
}
body{
	font-family:Arial;
	background-image:url('../images/body-bg.png');
}
.content{
	padding-bottom: 50px;
}
/*-----MENU----*/
.menu {
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
img {
	BORDER-TOP-STYLE: none;
	BORDER-RIGHT-STYLE: none;
	BORDER-LEFT-STYLE: none;
	BORDER-BOTTOM-STYLE: none;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}
#menu2 {
	padding: 0px;
	height: 40px;
	font-size:12px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom:16px;
	margin-left: auto;
}
#menu2 ul {
	padding: 0;
	list-style: none;
	font-size: 1.1em;
	font-family: 'Monda', sans-serif;
	font-weight:normal;
	margin-top: 15px;
	margin-right: 0;
	margin-left: 0;
}
#menu2 ul li {
	margin: 0;
	padding: 0;
	overflow: hidden;
	float: left;
	height: 40px;
	width:192px;
	display: block;
	text-align: center;
}
#menu2 ul li a, #menu2 ul li span {
	float: left;
	text-decoration: none;
	color: #fff;
	clear: both;
	width: 100%;
	height: 20px;
	line-height: 13px;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
}
#menu2 ul li a{
	color: #000000;
	background: transparent url(../images/a_bg.gif) repeat-x left bottom;
	background-position: left bottom;
	font-size:12px;
}
#menu2 ul li span {
	background: transparent url(../images/a_bg.gif) repeat-x left top;
	background-position: left top;
}
/*--- slider-css --*/
.slider {
position: relative;
  margin-bottom: 3em;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }
.rslides li {
  -webkit-backface-visibility: hidden;
  width: 100%;
  left: 0;
  top: 0;
  }
.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }
.caption{
	width: 60%;
	position: absolute;
	top: 40%;
	left: 20%;
	text-align:center;
}
.caption h3{
	color: #ffffff;
	font-weight: 700;
	font-size: 3.5em;
	text-transform: uppercase;
	
}
.caption p{
	line-height: 1.8em;
	font-size: 1.4em;
	text-align: center;
	font-weight: 400;
	width: 81%;
	margin: 5px auto 0px;
	color:#eee;
}
.callbacks_tabs a:after {
  content: "\f111";
  font-size: 0;
  font-family: FontAwesome;
  visibility: visible;
  display: block;
  height: 10px;
  width: 10px;
  display: inline-block;
  border: none;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  background: #969696;
}
.callbacks_here a:after{
    background: #811818;
}
.callbacks_tabs a{
	visibility:hidden;
}
.callbacks_tabs li{
	display:inline-block;
}
ul.callbacks_tabs.callbacks1_tabs {
  position: absolute;
  bottom: -2px;
  z-index: 999;
  left: 45%;
  top: 100%;
  background: none;
}
.callbacks_nav {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 44%;
  left: 14%;
  opacity: 0.7;
  z-index: 3;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 61px;
  width: 38px;
  background: transparent url("../images/themes.png") no-repeat left top;
  margin-top: -45px;
  }
.callbacks_nav.next {
  left: auto;
  background-position: right top;
  right: 14%;
 }
/*---products---*/
.products h3{
	font-size: 22px;
	text-transform: uppercase;
	color: #761414;
	margin-bottom: 14px;
	font-family: 'Monda', sans-serif;
}
.product-grid h4,.last1 h4{
	font-size:14px;
	text-transform: uppercase;
	color: #761414;
	font-family: 'Roboto Condensed', sans-serif;
}
.product-grid,.last1{
	width: 274.6px;
	float: left;
	border: 1px solid #F1F1F1;
	padding: 15px;
	margin-bottom:10px;
}
.product-grid:hover,.last1:hover{
	box-shadow:0px 0px 10px #F1F1F1;
	-webkit-box-shadow:0px 0px 10px #F1F1F1;
	-moz-box-shadow:0px 0px 10px #F1F1F1;
	-o-box-shadow:0px 0px 10px #F1F1F1;
}
.last1{
	margin:0px 20px;
}
.last2 li a:hover{
	color:#000;
}
.product-grid p,.last1 p{
	float: right;
	color:#666;
	font-size: 12px;
	text-align: justify;
	line-height: 2.2;
	font-family: 'Junge', serif;
}
.product-grid img,.last1 img{
	cursor:pointer;
}
/*---boxs---*/
.para{
  text-align: center;
  color: black;
  font-size: 14px;
  line-height: 2.2;
  border-bottom: 1px solid #F1F1F1;
  padding-bottom: 18px;
  font-family: 'Junge', serif;
  color: #666;
  margin-top: 42px;
}
.box1{
	width:300px;
	float:left;
	padding-bottom: 50px;
}
.box1 h2{
	font-size:22px;
	text-transform: uppercase;
	color: #761414;
	margin:10px 0px;
	font-family: 'Monda', sans-serif;
	font-weight:normal;
}
.box1 p{
	float: right;
	color: black;
	font-size: 12px;
	text-align: justify;
	line-height: 2.2;
	font-family: 'Junge', serif;
	color:#666;
}
.more a:hover{
	background-color:#881A1A;
	border: 1px solid #881A1A;
}
.list2{
	line-height:1.8em;
}
.list2 ul li{
	line-height:2.4;
}
.list2 ul li img{
	vertical-align: middle;
	margin-right: 5px;
}
.box1 a{
	font-size: 12px;
	text-align: justify;
	line-height: 2.6;
	font-family: 'Junge', serif;
	color: #666;
	padding: 5px 4px;
}
.box1 img{
	cursor:pointer;
}
.more a{
	line-height: 2;
	font-family: 'Monda', sans-serif;
	color: white;
	background-color: #424242;
	height:px;
	border: 1px solid #424242;
	cursor: pointer;
	font-size: 12px;
	background-image: url('../images/large-button-overlay.png');
	float:left;
	margin-top: 8px;
	height: 21px;
}
/*---content---*/
.Category{
	width:190px;
	float:left;
	font-family:Arial;
	color:#666;
}
.Category h4{
	text-transform:uppercase;
	background:#761414;
	padding:10px;
	color:#fff;
	font-family: 'Monda', sans-serif;
	font-size:14px;
}
.Category h4 img{
	vertical-align:middle;
}
.Category li a{
	font-size:12px;
	color:#858585;
	margin:10px 0px;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: normal;
	line-height: 2;
}
.Category li a:hover{
	border-bottom:1px dotted #858585;
}
.Category ul{
	padding-left:10px;
	padding-top:10px;
}
.Category li h3,.Category li h5{
	color:#555;
}
.Category li h3{
	text-decoration:line-through;
}
.Category li h6{
	font-size:12px;
	color:#761414;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: normal;
}
.Category li img{
	cursor:pointer;
}
/*---main----*/
.main{
	float:right;
	width:750px;
	font-family:Arial;
	color:#666;
}
.main h4{
	font-size:22px;
	text-transform: uppercase;
	color: #761414;
	font-family: 'Monda', sans-serif;
}
.grid1{
	float:left;
}
.grid1 span{
	float: right;
	color:#666;
	width: 589px;
	font-size: 12px;
	text-align: justify;
	line-height: 2.2;
	margin-left: 11px;
	margin-top:10px;
	font-family: 'Junge', serif;
}
.grid1 img{
	float:left;
}
.grid1 p{
	color:#666;
	font-family: 'Junge', serif;
	font-size: 12px;
	text-align: justify;
	line-height: 2.2;
	margin-left: 11px;
	margin-top: 10px;
}
/*---list---*/
.list{
	margin-top:20px;
	font-family:Arial;
	color:#666;
}
.list  ul{
	float: left;
	width: 187px;
	text-align: center;
}
.list h2{
	text-transform: uppercase;
	background: #761414;
	padding:7px;
	color: white;
	font-size:14px;
	margin-bottom: 17px;
	font-family: 'Monda', sans-serif;
}
.list li{
	style:none;
}
.list li h3,.listli h5{
	color:#555;
}
.list li h3{
	text-decoration:line-through;
}
.list li h6{
	font-size:12px;
	color:#761414;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: normal;
}
.list li img{
	cursor:pointer;
}
/*---contact---*/
/*------------contact-----------------*/
.contact{
	position:relative;
	padding-bottom: 50px;
}
.contact h2{
	font-size:20px;
	color: #761414;
	font-family: 'Monda', sans-serif;
	margin-bottom: 16px;
}
.contact p{
	font-size:12px;
	width:590px;
	margin-top: 10px;
}
.contact iframe{
  width: 100%;
  min-height: 246px;
}
.contactinfo{
	float:left;
	width: 238px;
}
.contactinfo img{
	float: left;
	margin: 13px 10px 0px 0px;
	height: 50px;
	width: 50px;
	cursor: pointer;
}	
.contactinfo span{
	font-size:12px;
}
.contactfrom{
	position: absolute;
	top: 55%;
	right: 5%;
}
.contactfrom input[type="text"]{
	width: 299px;
	margin-bottom: 18px;
	padding: 3px 0px;
	border: 1px solid silver;
	color:#555;
	outline: none;
}
.contactfrom input[type="submit"]{
	width: 300px;
	background-color: #424242;
	color: white;
	border: 1px solid #424242;
	cursor: pointer;
	font-size: 12px;
	padding: 5px 4px;
	background-image: url('../images/large-button-overlay.png');
	height:31px;
	font-family: 'Monda', sans-serif;
}
.contactfrom input[type="submit"]:hover{
	background-color:#881A1A;
	color:#fff;
}
.contact p{
	font-family: 'Junge', serif;
	color: #666;
	line-height: 2.2;
	margin-bottom: 11px;
}
.contactinfo{
	font-family: 'Roboto Condensed', sans-serif;
	color:#666;
}
.contactfrom h3{
	font-size:14px;
	color:#666;
}
/*---footer---*/
.footer ul{
	float:left;
	margin: 15px 50px 0px 0px;
	font-family:Arial;
	color:#666;
}
.footer li a{
	font-size: 12px;
	font-family: 'Roboto Condensed', sans-serif;
	color: lightGrey;
	text-align:left;
}
.footer li{
	margin:10px 0px;
}
.footer  h4{
	color: #fff;
	text-transform: uppercase;
	font-size:14px;
	font-family: 'Monda', sans-serif;
	font-weight:normal;
}
.footer{
	background:#821010;
	padding: 10px 0px;
	margin-top: 18px;
}
.last li{
	display:inline;
}
.last li a{
	margin:0px 10px 0px 0px;
	text-align:justify;
}
.footer li a:hover{
	color:#999;
}
.last li img{
	margin-top:20px;
}
.last li img:hover{
	opacity:0.6;
}
.last li h4{
	color: #fff;
	text-transform: capitalize;
	margin-top:10px;
	font-size:14px;
}
/*---copy---*/
.copy-right{
	padding: 20px;
}
.copy-right p{
	font-size: 12px;
	font-family: 'Roboto Condensed', sans-serif;
	color: lightGrey;
	text-align:center;
}
.copy-right a{
	color:#fff;
}
.copy-right a:hover{
 	text-decoration:underline;
}
.box1:nth-child(3){
	margin-left:60px;
}
/*-- responsive-design --*/ 
@media(max-width:1080px){
.wrap{
	width:90%;
}
#menu2 ul li {
    width: 191px;
}
.box1:nth-child(3) {
    margin-left: 56px;
}
.product-grid, .last1 {
    width: 25%;
}
.contact p {
    width: 60%;
}
}
@media(max-width:1024px){
.box1:nth-child(3) {
    margin-left: 25px;
}
.box1 {
    width: 290px;
}
#menu2 ul li {
    width: 181px;
}
.main {
    width: 75%;
}
.grid1 span {
    width: 73%;
}
.list ul {
    width: 23%;
    margin-right: 10px;
}
}
@media(max-width:991px){
.box1 {
    width: 282px;
}
#menu2 ul li {
    width: 175px;
}
}
@media(max-width:800px){
#menu2 ul li {
    width: 140px;
}
.box1 {
    width: 224px;
}
.footer ul {
    margin: 15px 25px 0px 0px;
}
.main {
    width: 72%;
}
.grid1 span {
    width: 67%;
}
.product-grid, .last1 {
    width: 24%;
}
.contact p {
    width: 48%;
}
.contactinfo {
    width: 23%;
}
}
@media(max-width:768px){
	#menu2 ul li {
    width: 134px;
}
.box1 {
    width: 92%;
}
.box1:nth-child(3) {
    margin-left: 0;
}
.footer ul {
    margin: 15px 20px 0px 0px;
}
.list ul {
    width: 22%;
}
.main {
    width: 70%;
}
.grid1 span {
    width: 65%;
}
.contact p {
    width: 46%;
}
}
@media(max-width:736px){
#menu2 ul li {
    width: 129px;
}
.footer ul {
    margin: 15px 14px 0px 0px;
}
.main {
    width: 67%;
}
.grid1 span {
    width: 61%;
}
}
@media(max-width:667px){
	#menu2 ul li {
    width: 117px;
}
.footer ul {
    margin: 15px 30px 0px 0px;
}
.main {
    width: 64%;
}
.grid1 span {
    width: 57%;
}
.contact p {
    width: 97%;
}
.contactinfo {
    width: 50%;
}
.contactfrom {
    position: unset;
    right: -2%;
    margin-top: 6em;
}
}
@media(max-width:640px){
#menu2 ul li {
    width: 112px;
}
.grid1 span {
    width: 55%;
}
}
@media(max-width:600px){
.footer ul {
    margin: 15px 64px 0px 0px;
}
#menu2 ul li {
    width: 104px;
}
.Category {
    width: 100%;
}
.main {
    width: 100%;
    margin-top: 1em;
}
.grid1 span {
    width: 69%;
}
}
@media(max-width:568px){
#menu2 ul li {
    width: 99px;
}
.footer ul {
    margin: 15px 53px 0px 0px;
}
.grid1 span {
    width: 65%;
}
}
@media(max-width:480px){
.footer ul {
    margin: 15px 29px 0px 0px;
}
#menu2 ul li {
    width: 83px;
}
#menu2 ul li a {
    font-size: 10px;
}
#menu2 ul li span {
    font-size: 10px;
}
.grid1 span {
    width: 61%;
}
.last1 {
    margin: 0px;
}
.product-grid, .last1 {
    width: 91%;
    float: left;
	margin-bottom:1em;
}
}
@media(max-width:414px){
#menu2 ul li {
    width: 71px;
}
.copy-right {
    padding: 20px 0;
}
.box1 {
    width: 100%;
}
.grid1 {
    text-align: center;
    width: 100%;
}
.grid1 img {
    float: none;
}
.grid1 span {
    width: 100%;
    margin-left: 0;
}
.grid1 p {
    margin-left: 0;
}
}
@media(max-width:384px){
#menu2 ul li {
    width: 66px;
}
.list ul {
    width: 21%;
}
}
@media(max-width:375px){
#menu2 ul li {
    width: 63px;
}
.product-grid, .last1 {
    width: 88%;
}
}
@media(max-width:320px){
#menu2 ul li {
    width: 54px;
}
#menu2 ul li a {
    font-size: 9px;
}
#menu2 ul li span {
    font-size: 9px;
}
.footer ul {
    margin: 15px 23px 0px 0px;
}
.copy-right p{
	line-height:25px;
}
.box1 {
    padding-bottom: 20px;
}
.contactfrom input[type="text"] {
    width: 268px;
}
.contactfrom input[type="submit"] {
    width: 272px;
}
}