/*
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body{
	font-family:Arial;
}
.header{
	background: #52453f;
	border-bottom:5px solid #007e9e;
	padding: 50px 0;
}
.wrap{
	width:1024px;
	margin:0 auto;
}
.logo{
	float:left;
}
.logo h1{
	color:white;
	font-size:40px;
}
.head-right{
	float:right;
}
.head-right h1{
	font-family: 'Archivo Black', sans-serif;
	color:#fff;
	font-size:38px;
}
.left-num{
	float:left;
	width:200px;
	border-right: 2px ridge #6D6353;
}
.left-num p{
	color:#fff;
	font-size:25px;
}
.right-num{
	float:right;	
	margin-left: 25px;
}
.right-num p{
	color:#fff;
	font-size:25px;
}
.menu-main{
	border-radius: 4px;
	box-shadow: inset 0px 0px 0px 1px #12a0bf, 0px 1px 4px 0px rgba(0,0,0,0.10);
	background-color: #007b9d;
	background-image: -moz-linear-gradient(top, #008ead, #007b9d);
	background-image: -webkit-linear-gradient(top, #008ead, #007b9d);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#008ead), to(#007b9d));
	background-image: -ms-linear-gradient(top, #008ead, #007b9d);
	background-image: -o-linear-gradient(top, #008ead, #007b9d);
	background-image: linear-gradient(top, #008ead, #007b9d);
	position: relative;
	height: 90px;
	margin-top: -45px;
	font-family: 'Fjalla One', sans-serif;
}
.dc_css3_menu,
.dc_css3_menu ul,
.dc_css3_menu li,
.dc_css3_menu a{
	margin:0;
	padding:0;
	border:none;
	outline:none;
}
.dc_css3_menu{
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}
.dc_css3_menu li{
	position:relative;
	list-style:none;
	float:left;
	display:block;
	height:40px;
}.dc_css3_menu li a{
	display:block;
	color:#fff;
	padding:27px 50px;
	margin-top:1px;
	text-decoration:none;
	border-right: 1px solid #3797AF;
	font-size:25px;
	-webkit-transition:color .2s ease-in-out;
	-moz-transition:color .2s ease-in-out;
	-o-transition:color .2s ease-in-out;
	-ms-transition:color .2s ease-in-out;
	transition:color .2s ease-in-out;
}
.dc_css3_menu li:first-child a{
	border-left:none;
}
.dc_css3_menu li:first-child a{
	border-left:none;
}
.dc_css3_menu li:last-child a{
	border-right:none;
}
.dc_css3_menu li:hover>a{
	background-color: #007897;
	background-image: -moz-linear-gradient(top, #007b99, #007897);
	background-image: -webkit-linear-gradient(top, #007b99, #007897);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#007b99), to(#007897));
	background-image: -ms-linear-gradient(top, #007b99, #007897);
	background-image: -o-linear-gradient(top, #007b99, #007897);
	background-image: linear-gradient(top, #007b99, #007897);
	box-shadow: inset 0px 1px 5px 1px rgba(0,0,0,0.1), 0px 0px 5px 1px rgba(255,255,255,0.1);
	color:#ffffff;
}
.dc_css3_menu ul{
	position:absolute;
	left:0;
	opacity:0;
	background:#007B9D;
	padding-bottom:5px;
	-webkit-border-radius:0 0 5px 5px;
	-moz-border-radius:0 0 5px 5px;
	border-radius:0 0 5px 5px;
	-webkit-transition:opacity .25s ease .1s;
	-moz-transition:opacity .25s ease .1s;
	-o-transition:opacity .25s ease .1s;
	-ms-transition:opacity .25s ease .1s;
	transition:opacity .25s ease .1s;
}
.dc_css3_menu li:hover > ul{
	opacity:1
}
.dc_css3_menu ul li{
	height:0;
	overflow:hidden;
	padding:0;
	margin:25px 0;
	-webkit-transition:height .25s ease .1s;-moz-transition:height .25s ease .1s;-o-transition:height .25s ease .1s;-ms-transition:height .25s ease .1s;transition:height .25s ease .1s
	}
.dc_css3_menu li:hover > ul li{
	height:36px;
	overflow:visible;
	padding:0
}
.dc_css3_menu ul li a{
	width: 95px;
	padding: 27px 10px 27px 50px;
	border-bottom: 1px solid #3797AF;
	margin: -24px 0px;
}
.search {
	width: auto;
	padding: 18px 40px 10px 0;
	float: right;
}
.search input[type="text"] {
	position: relative;
	padding: 13px 15px;
	margin-bottom: 20px;
	width: 267px;
	font-size: 13px;
	margin: 7px 0 20px;
	border: 1px solid #135464;
	color: white;
	background: #135464;
	outline: none;
	font-family: Arial;
	box-shadow: 0 0 5px #999;
	-webkit-border-radius: .2em;
	-moz-border-radius: .2em;
	border-radius: .2em;
	float: left;
}
.search input[type="submit"] {
	position:absolute;
}
.search .btn {
	float: right;
	padding: 4px 4px 0 0;
	margin: 0;
	border: 0;
	width: auto;
	position: absolute;
	top: 33px;
	right: 43px;
}
/*--content--*/
.content{
	background: #fff;
}
.grids{
	padding: 20px;
}
.bot-grid{
	background:#fff;
	width: 300px;
	float: left;
	margin-right: 42px;
	margin-bottom: 20px;
	box-shadow: 0 0 7px #C9C6C6;
	text-align: center;
	margin-top: 20px;
}
.bot-grid img{
	margin: 20px 0;
}
.bot-grid h4{
	font-family: 'Fjalla One', sans-serif;
	color:#DADFE2;
	font-size:30px;
	margin-bottom: 20px;
}
.bot-grid1 h4{
	font-family: 'Fjalla One', sans-serif;
	color:#DADFE2;
	font-size:30px;
	margin-bottom: 20px;
}
.cont-grid{
	font-family: 'Fjalla One', sans-serif;
	padding-left:90px;
}
.grid1-l-img{
	float:left;
	margin-bottom: 20px;
}
.grid1-l-img h2{
	color: #999;
	font-size: 16px;
	background: url(../images/arrow2.png) no-repeat 70px;
	padding-right: 30px;
}
.grid1-l-img a h2:hover{
	color:#007B9D;
}
.bot-grid img:hover{
	opacity: 0.9;
}
.bot-grid1 img{
	margin: 20px 0; 
}
.bot-grid1 img:hover{
	opacity: 0.9;
}
.bot-grid h3{
	font-family: 'Fjalla One', sans-serif;
	color:#999;
	font-size:3em;
}
.bot-grid p{
	font-size:13px;
	color:#999;
	line-height: 1.8em;
	padding: 0 20px 20px 20px;
}
.bot-grid1{
	background:#fff;
	width: 300px;
	float: left;
	margin-right: 0px;
	box-shadow: 0 0 7px #C9C6C6;
	text-align: center;
	margin-top: 20px;
}
.bot-grid1 h3{
	font-family: 'Fjalla One', sans-serif;
	color:#999;
	font-size:3em;
}
.bot-grid1 p{
	font-size:13px;
	color:#999;
	line-height: 1.8em;
	padding: 0 20px 20px 20px;
}
.content-bottom{
	background: #008cab;
	background: -moz-linear-gradient(top,  #008cab 0%, #007395 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#008cab), color-stop(100%,#007395));
	background: -webkit-linear-gradient(top,  #008cab 0%,#007395 100%);
	background: -o-linear-gradient(top,  #008cab 0%,#007395 100%);
	background: -ms-linear-gradient(top,  #008cab 0%,#007395 100%);
	background: linear-gradient(to bottom,  #008cab 0%,#007395 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008cab', endColorstr='#007395',GradientType=0 );
	border-bottom: 5px solid #03627E;
	box-shadow: 0 0 5px #999;
}
.content-bottom h1{
	font-family: 'Fjalla One', sans-serif;
	color:#fff;
	font-size:2em;
	text-align: center;
	padding: 20px 0;
	border-bottom: 2px ridge #08A5D3;
}
.content-bot-top{
	padding: 30px;
}
.content-left {
	width: 300px;
	float: left;
	margin-right: 32px;
}
.content-left h4 {
	font-family: 'Fjalla One', sans-serif;
	color:#fff;
	font-size:20px;
	margin-bottom: 20px;
}
.link-1 {
	display: inline-block;
	font-family: 'Fjalla One', sans-serif;
	font-size: 18px;
	line-height: 1em;
	color:#A1D2F0;
	padding: 0 24px 14px 0;
	border-bottom: 3px solid white;
	text-transform: uppercase;
	margin-bottom: 35px;
}
.link-1 a {
	color:#A1D2F0;
}
.link-1 a:hover{
	color:#fff;
}
.content-left p{
	font-size:13px;
	color:#A1D2F0;
	line-height: 1.8em;
	margin-bottom: 20px;
}
.cont1-grid{
	font-family: 'Fjalla One', sans-serif;
}
.content-right {
	width: 300px;
	float: left;
	margin-right: 0px;
}
.content-right h4 {
	font-family: 'Fjalla One', sans-serif;
	color:#fff;
	font-size:20px;
	margin-bottom: 20px;
}
.content-right p {
	font-size: 13px;
	color: #A1D2F0;
	line-height: 1.8em;
	margin-bottom: 20px;
}
/*--footer--*/
.footer-top{
	padding: 32px;
}
.footer-left{
	width:300px;
	float:left;
	margin-right: 30px;
}
.footer-nav h4{
	font-family: 'Fjalla One', sans-serif;
	font-size:40px;
	color:#999;
	margin-bottom: 20px;
}
.footer-nav p{
	font-size: 13px;
	color:#999;
	margin-bottom: 10px;
	line-height: 1.8em;
}
.footer-nav img{
	margin-right: 15px;
}
.footer-nav img:hover{
	opacity:0.9;
}
.footer-nav1 h4{
	font-family: 'Fjalla One', sans-serif;
	font-size: 40px;
	color: #999;
	margin-bottom: 20px;
}
.footer-nav1 p{
	font-size: 13px;
	color:#999;
	margin-bottom: 10px;
	line-height: 1.8em;
}
.footer-nav li{
	list-style-image: url(../images/arrow3.png);
	margin: 0 0 8px 20px;
}
.footer-nav li a{
	color:#999;
	font-size:13px;
	vertical-align: top;
}
.footer-nav li a:hover{
	color:#666;
}
.footer-right{
	width:300px;
	float:left;
	margin-right: 0px;
}
.footer-bottom{
	background: #52453F;
}
.footer-desc p{
	color:#6F89A2;
	font-size:14px;
	line-height: 1.8em;
}
.copy{
	text-align: center;
	padding: 20px;
}
.copy p{
	font-size:13px;
	color:#fff;
}
.copy a{
	color:#fff;
}
.copy a:hover{
	text-decoration: underline;
}
/*--about--*/
.about-grids {
	padding: 20px;
}
.about-grid {
	background: white;
	width: 300px;
	float: left;
	margin-right: 42px;
	margin-bottom: 20px;
	margin-top: 20px;
}
.grid-l-img{
	float:left;
}
.grid-l-img h2 {
	color: #fff;
	font-size: 16px;
	background: url(../images/arrow1.png) no-repeat 70px;
	padding-right: 30px;
}
.grid-l-img a h2:hover {
	color:#A1D2F0;
}
.about-grid h3 {
	font-family: 'Fjalla One', sans-serif;
	color: #999;
	font-size: 3em;
	margin-bottom: 20px;
}
.about-grid h4 {
	font-family: 'Fjalla One', sans-serif;
	color: #DADFE2;
	font-size: 20px;
	margin-bottom: 20px;
}
.about-grid p{
	font-size:13px;
	color:#999;
	line-height: 1.8em;
	margin-bottom: 20px;
} 
.about-img{
	float:left;
	width:140px;
	margin-right: 20px;
}
.about-img img{
	border:1px solid #C9C6C6;
	margin-bottom: 15px;
}
.about-img1{
	float:left;
	width:140px;
	margin-right: 0px;
}
.about-img1 img{
	border:1px solid #C9C6C6;
}
.about-grid1 {
	background: white;
	width: 300px;
	float: left;
	margin-right: 0px;
	margin-top: 20px;
}
.about-grid1 h3 {
	font-family: 'Fjalla One', sans-serif;
	color: #999;
	font-size: 3em;
	margin-bottom: 20px;
}
.about-grid1 h4 {
	font-family: 'Fjalla One', sans-serif;
	color: #DADFE2;
	font-size: 20px;
	margin-bottom: 20px;
}
.about-grid1 img{
	margin-bottom: 20px;
}
.about-grid1 p{
	font-size: 13px;
	color:#999;
	line-height: 1.8em;
	margin-bottom: 20px;
}
/*--client--*/
.client-grid {
	background: white;
	width: 620px;
	float: left;
	margin-right: 42px;
	margin-top: 20px;
}
.client-grid h3 {
	font-family: 'Fjalla One', sans-serif;
	color: #999;
	font-size: 3em;
	margin-bottom: 20px;
}
.client-img {
	width:300px;
	float: left;
	margin-right: 20px;
}
.client-desc {
	width:300px;
	float: left;
}
.client-desc p {
	font-size:13px;
	color:#999;
	line-height: 1.8em;
	margin-bottom: 20px;
}
.client-img img{
	border: 1px solid #C9C6C6;
}
.client-left{
	margin-bottom: 40px;
}
.client-grid1 {
	background: white;
	width: 322px;
	float: left;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-top: 20px;
}
.client-grid1 h3 {
	font-family: 'Fjalla One', sans-serif;
	color: #999;
	font-size: 3em;
	margin-bottom: 20px;
}
.client-grid1 h4 {
	font-family: 'Fjalla One', sans-serif;
	color: #DADFE2;
	font-size: 20px;
	margin-bottom: 20px;
}
.client-grid1 p{
	color: #999;
	font-size: 13px;
	line-height:1.8em;
	margin-bottom: 20px;
}
/*--contact--*/
.contact-grid {
	background: white;
	width: 620px;
	float: left;
	margin-right: 42px;
	margin-top: 20px;
}
.contact-grid h3 {
	font-family: 'Fjalla One', sans-serif;
	color: #999;
	font-size: 3em;
	margin-bottom: 20px;
}
form label {
	font-size: 16px;
	font-family: 'Fjalla One', sans-serif;
	color:#999;
}
form input[type="text"]{
	padding:13px;
	width:590px;
	font-size:13px;
	margin:5px 0 30px 0;
	border:1px solid #DADFE2;
	color: #999;
	background:#DADFE2;
	-webkit-border-radius:.2em;
   -moz-border-radius:.2em;
		border-radius:.2em;
	outline: none;
}
form textarea{
	width: 590px;
	font-size: 13px;
	margin:5px 0 30px 0;
	padding: 13px;
	border:1px solid #DADFE2;
	color:#999;
	background:#DADFE2;
	display: block;
	-webkit-border-radius: .2em;
	-moz-border-radius: .2em;
	border-radius: .2em;
	outline: none;
	font-family: Arial;
	margin-bottom: 25px;
	resize:none;
	height:150px;
}
.cont2-grid{
	font-family: 'Fjalla One', sans-serif;
}
.grid2-l-img{
	float:left;
	margin-bottom: 20px;
}
.grid2-l-img h2{
	color: #999;
	font-size: 16px;
	background: url(../images/arrow2.png) no-repeat 70px;
	padding-right: 30px;
}
.grid2-l-img a h2:hover{
	color:#007B9D;
}
.map{
	box-shadow: 0 0 5px #999;
}
/* submit-button */   
    .submit-button {
        border            : 1px solid #008CAB;
        background        : #008CAB;
        cursor:pointer;
        color             : #fff;
        font-size		: 12px;
	    padding          : 10px 40px 30px;
	    width: auto;
	   height: 29px;
	   line-height: 26px;
	   float: right;
	   margin-bottom:30px;
        text-shadow       : 0 -1px 0 rgba(0, 0, 0, 0.4);  
        box-shadow:  0 -1px 1px #B7E1EB inset, 0 1px 1px #B7E1EB inset, 1px 2px 2px -1px #2E6F97;
-moz-box-shadow:  0 -1px 1px #B7E1EB inset, 0 1px 1px #B7E1EB inset, 1px 2px 2px -1px #2E6F97;
-webkit-box-shadow: 0 -1px 1px #B7E1EB inset, 0 1px 1px #B7E1EB inset, 1px 2px 2px -1px #2E6F97;
}
.submit-button:hover {
         border            : 1px solid #1E7C91;
        background        : #1E7C91;
      	 text-shadow       : 0 -1px 0 rgba(0, 0, 0, 0.4);  
        box-shadow:  0 -1px 1px #B7E1EB inset, 0 1px 1px #B7E1EB inset, 1px 2px 2px -1px #2E6F97;
-moz-box-shadow:  0 -1px 1px #B7E1EB inset, 0 1px 1px #B7E1EB inset, 1px 2px 2px -1px #2E6F97;
-webkit-box-shadow: 0 -1px 1px #B7E1EB inset, 0 1px 1px  #B7E1EB inset, 1px 2px 2px -1px #2E6F97;
} 
/*-- responsive-design --*/ 
@media(max-width:1080px){
.wrap{
	width:90%;
}
.search {
    padding: 18px 27px 10px 0;
}
.dc_css3_menu li a {
    padding: 27px 40px;
}
.bot-grid1 {
    width: 30%;
}
.bot-grid {
    width: 30%;
}
.content-right {
    width: 30%;
}
.content-left {
    width: 30%;
}
.footer-left {
    width: 30%;
}
.footer-right {
    width: 30%;
}
.footer-nav h4,.footer-nav1 h4 {
    font-size: 34px;
}
.about-grid1 {
    width: 30%;
}
.about-grid {
    width: 30%;
}
.about-img1 {
    width: 46%;
}
.about-img {
    width: 46%;
}
.client-grid1 {
    width: 100%;
}
.client-grid {
    width: 100%;
    margin-right: 0;
}
.client-desc {
    width: 61%;
}
.contact-grid {
    width: 100%;
    margin-right: 0px;
}
form input[type="text"],form textarea {
    width: 100%;
}
.map iframe{
	width:100%;
}
}
@media(max-width:991px){
.head-right h1 {
    font-size: 30px;
}
.dc_css3_menu li a {
    padding: 27px 32px;
}
.logo {
    width: 53%;
}
.bot-grid {
    margin-right: 39px;
}
.footer-nav img {
    margin-right: 7px;
}
.about-grid {
    margin-right: 40px;
}
}
@media(max-width:800px){
.dc_css3_menu li a {
    padding: 27px 16px;
    font-size: 22px;
}
.right-num {
    margin-left: 9px;
}
.left-num {
    width: 162px;
}
.bot-grid {
    margin-right: 32px;
}
.bot-grid h3,.bot-grid1 h3 {
    font-size: 2em;
}
.bot-grid h4,.bot-grid1 h4 {
    font-size: 24px;
}
.about-grid {
    margin-right: 33px;
}
.about-grid h3,.about-grid1 h3 {
    font-size: 2em;
}
.client-grid h3,.client-grid1 h3 {
   font-size: 2em;
}
.about-img {
    margin-right: 15px;
}
.client-desc {
    width: 51%;
}
form input[type="text"], form textarea {
    width:96%;
}
}
@media(max-width:768px){
.logo {
    width: 100%;
    text-align: center;
}
.head-right {
    width: 100%;
}
.left-num {
    width: 50%;
    text-align: right;
    padding-right: 27px;
}
.right-num {
    float: left;
    margin-left:16px;
}
.header {
    padding: 10px 0 50px;
}
.bot-grid {
    margin-right: 30px;
}
.content-left {
    margin-right: 28px;
}
.footer-nav h4, .footer-nav1 h4 {
    font-size: 28px;
}
.about-grid1 {
    width: 29%;
}
.client-desc {
    width: 48%;
}
}
@media(max-width:736px){
.dc_css3_menu li a {
    padding: 27px 12px;
    font-size: 22px;
}
.grid1-l-img h2 {
    padding-right: 23px;
}
.footer-left {
    margin-right: 29px;
}
.about-img {
    margin-right: 13px;
}
.client-desc {
    width: 100%;
    float: left;
    margin-top: 1em;
}
.client-img {
    width: 100%;
}
form input[type="text"], form textarea {
    width: 95%;
}
}
@media(max-width:667px){
.dc_css3_menu li a {
    padding: 27px 5px;
    font-size: 20px;
}
.bot-grid,.bot-grid1 {
    width: 100%;
	margin-right:0;
}
.grid1-l-img {
    width: 100%;
    text-align: center;
}
.grid1-l-img h2 {
    background: url(../images/arrow2.png) no-repeat 250px;
}
.content-left,.content-right {
    width: 100%;
	margin-right:0;
}
.content-left {
	margin-bottom: 1.5em;
}
.footer-left {
    width: 100%;
    margin-bottom: 1.5em;
    margin-right: 0;
}
.footer-right {
    width: 100%;
}
.about-grid {
    width: 100%;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 20px;
}
.about-img,.about-img1 {
    width: 30%;
    margin-right: 0;
}
.about-grid1 {
    width: 100%;
    margin-top: 20px;
}
}
@media(max-width:640px){
.search input[type="text"] {
    width: 233px;
}
}
@media(max-width:600px){
.dc_css3_menu li a {
    padding: 14px 41px;
}
.search input[type="text"] {
    width: 442px;
}
.search .btn {
    top: 72px;
    right: 43px;
}
.menu-main {
    height: 126px;
}
.grid1-l-img h2 {
    background: url(../images/arrow2.png) no-repeat 232px;
}
}
@media(max-width:568px){
.dc_css3_menu li a {
    padding: 27px 36px;
}
.search input[type="text"] {
    width: 410px;
}
.grid1-l-img h2 {
    background: url(../images/arrow2.png) no-repeat 219px;
}
.about-img,.about-img1 {
    width: 32%;
    margin-right: 0;
}
form input[type="text"], form textarea {
    width: 95%;
}
}
@media(max-width:480px){
.dc_css3_menu li a {
    padding: 27px 26px;
}
.search input[type="text"] {
    width: 335px;
}
.grid1-l-img h2 {
    background: url(../images/arrow2.png) no-repeat 180px;
}
.copy p {
    line-height: 25px;
}
.about-img,.about-img1 {
    width: 33%;
}
form input[type="text"], form textarea {
    width: 92%;
}
}
@media(max-width:414px){
.left-num {
    width: 45%;
}
.dc_css3_menu li a {
    padding: 11px 20px;
}
.search input[type="text"] {
    width: 267px;
}
.grid1-l-img {
    width: 65%;
}
.grid1-l-img h2 {
    background: url(../images/arrow2.png) no-repeat 102px;
}
form input[type="text"], form textarea {
    width: 91%;
}
}
@media(max-width:384px){
	.left-num {
    width: 40%;
}
.dc_css3_menu li a {
    font-size: 17px;
}
.search {
    padding: 8px 15px 10px 0;
}
.search .btn {
    top: 61px;
    right: 21px;
}
.menu-main {
    height: 116px;
}
form input[type="text"], form textarea {
    width: 91%;
}
}
@media(max-width:375px){
.dc_css3_menu li a {
    font-size: 16px;
}
.head-right h1 {
    font-size: 24px;
}
.left-num p,.right-num p {
    font-size: 17px;
}
.left-num {
    width: 37%;
}
form input[type="text"], form textarea {
    width:91%;
}
}
@media(max-width:320px){
.left-num {
    width: 45%;
	padding-right: 14px;
}
.head-right h1 {
    font-size: 20px;
}
.left-num p, .right-num p {
    font-size: 14px;
}
.dc_css3_menu li a {
    padding: 11px 14px;
	font-size: 15px;
}
.search input[type="text"] {
    width: 210px;
}
.grid1-l-img h2 {
    background: url(../images/arrow2.png) no-repeat 76px;
}
.grid1-l-img h2 {
    padding-right: 25px;
}
.grids {
    padding: 20px 10px;
}
.footer-top {
    padding: 32px 10px;
}
.about-grids {
    padding: 20px 10px;
}
form input[type="text"], form textarea {
    width: 89%;
}
}