/*
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body {
	  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	  font-size: 100%;
}
.wrap{
	margin:0 auto;
	width:80%;
}
/*header-bg */
.h-bg{
	background-size:100% 100%;
	background-position:center;	
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background: url('../images/h_bg.jpg') left;
}
.header_bg{
	background: rgba(0, 0, 0, 0.2);
}
.logo{
	float: left;
	margin:5px 0 0 5px;
}
.header{
	display: block;
}
.menu{
	float:right;
}
.nav{
	margin: 8% 0;
}
.nav li.active{
	border: 4px solid rgba(128, 128, 128, 0.83);
	text-shadow: 0 1px 0px rgba(0, 0, 0, 1);
	color: white;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-o-border-radius: 20px;
	border-radius: 20px;
	background: rgb(135,49,140);
	background: -moz-linear-gradient(top,  rgba(135,49,140,1) 0%, rgba(121,44,126,1) 50%, rgba(109,39,113,1) 77%, rgba(95,34,99,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(135,49,140,1)), color-stop(50%,rgba(121,44,126,1)), color-stop(77%,rgba(109,39,113,1)), color-stop(100%,rgba(95,34,99,1)));
	background: -webkit-linear-gradient(top,  rgba(135,49,140,1) 0%,rgba(121,44,126,1) 50%,rgba(109,39,113,1) 77%,rgba(95,34,99,1) 100%);
	background: -o-linear-gradient(top,  rgba(135,49,140,1) 0%,rgba(121,44,126,1) 50%,rgba(109,39,113,1) 77%,rgba(95,34,99,1) 100%);
	background: -ms-linear-gradient(top,  rgba(135,49,140,1) 0%,rgba(121,44,126,1) 50%,rgba(109,39,113,1) 77%,rgba(95,34,99,1) 100%);
	background: linear-gradient(to bottom,  rgba(135,49,140,1) 0%,rgba(121,44,126,1) 50%,rgba(109,39,113,1) 77%,rgba(95,34,99,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87318c', endColorstr='#5f2263',GradientType=0 );

}
.nav li{
	display: inline-block;
	margin-right: 10px;
}
.nav li a{
	border:none;
	outline:none;
	font-weight: 400;
	font-family: 'Abel', sans-serif;
	display: block;
	color: #FFFFFF;
	font-size: 1.2em;
	line-height: 1.5em;
	padding: 2px 26px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-o-border-radius: 20px;
	border-radius: 20px;
	-webkit-transition: all 0.7s ease 0s;
	-moz-transition: all 0.7s ease 0s;
	-o-transition: all 0.7s ease 0s;
	transition: all 0.7s ease 0s;
}
.nav li a:hover{
	background: rgba(0, 0, 0, 0.41);
	color: white;
	text-shadow: 0 -1px 1px rgba(91, 53, 2, 0.35);
}
/*h_btm*/
.h_btm{
	padding: 8% 0;
}
.h_txt h2{
	font-family: 'Abel', sans-serif;
	font-size: 2.4em;
	color: #F09CE2;
	text-transform: capitalize;
}
.h_txt h3{
	margin-top: 10px;
	font-size: 1.4em;
	color: rgba(254, 254, 254, 0.87);
	text-transform: capitalize;
	line-height: 1.8em;
}
.h_form{
	margin-top:1%;
}
.search input[type="text"] {
	outline:none;
	background: rgba(255, 255, 255, 1);
	border: 1px solid rgba(255, 255, 255, 1);
    color: #101010;
    font-size:0.8924em;
    width: 200px;
    padding: 8px 15px 8px 25px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
    }

.search input[type="text"]:focus {
    width: 260px;
}
/*content*/
.cont_bg{
	background: #f0f0f0;
	padding: 1.333% 0;
}
/*  GRID OF TWO   ============================================================================= */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}
.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1;
}
.col_1_of_2{
	display: block;
	float:left;
	margin: 2.333% 2.333%;
}
.col_1_of_2:first-child {
	 margin-left: 0; 
}
.col_1_of_2:last-child{
 margin-right: 0;	
}
.span_1_of_2 {
	width: 45.333%;
}
.span_1_of_2  h3{
	font-family: 'Abel', sans-serif;
	font-size: 1.8em;
	color: #CE63BC;
	text-transform: capitalize;
}
.span_1_of_2  p{
	margin-top:10px;
	font-size: 0.824em;
	color:#555;
	line-height: 1.8em;
}
.menu1{
	margin-top: 1.333%;
}
.list li {
	width: 100%;
	overflow: hidden;
	vertical-align: top;
	padding: 8px 0 11px 0;
	position: relative;
}
.list li img {
	float: left;
	margin: 8px 12px 0 0;
}
.list li p {
	line-height: 1.8em;
	font-size: 0.824em;
	color: #555;
}
.list li strong {
	font-family: 'Abel', sans-serif;
	font-size: 1.8em;
	color: #CE63BC;
	text-transform: capitalize;
}
.bg{
	background:#ffffff;
	box-shadow: 0px 0px 5px #B4B4B4;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
}
.span_1_of_2  h3.color{
	padding: 1.333%;
	font-family: 'Abel', sans-serif;
	font-size: 1.8em;
	text-transform: capitalize;
	color: #fff;
	background: rgb(135,49,140);
	background: -moz-linear-gradient(top,  rgba(135,49,140,1) 0%, rgba(121,44,126,1) 50%, rgba(109,39,113,1) 77%, rgba(95,34,99,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(135,49,140,1)), color-stop(50%,rgba(121,44,126,1)), color-stop(77%,rgba(109,39,113,1)), color-stop(100%,rgba(95,34,99,1)));
	background: -webkit-linear-gradient(top,  rgba(135,49,140,1) 0%,rgba(121,44,126,1) 50%,rgba(109,39,113,1) 77%,rgba(95,34,99,1) 100%);
	background: -o-linear-gradient(top,  rgba(135,49,140,1) 0%,rgba(121,44,126,1) 50%,rgba(109,39,113,1) 77%,rgba(95,34,99,1) 100%);
	background: -ms-linear-gradient(top,  rgba(135,49,140,1) 0%,rgba(121,44,126,1) 50%,rgba(109,39,113,1) 77%,rgba(95,34,99,1) 100%);
	background: linear-gradient(to bottom,  rgba(135,49,140,1) 0%,rgba(121,44,126,1) 50%,rgba(109,39,113,1) 77%,rgba(95,34,99,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87318c', endColorstr='#5f2263',GradientType=0 );
}
.lb-album {
	font-family: 'AmbleRegular';
	margin: 0 auto;
}
.lb-album li {
	width: 24.9999%;
	float: left;
	position: relative;
}
.lb-album li:nth-child(4), .lb-album li:nth-child(8), .lb-album li:nth-child(12) {
	margin-right: 0;
}
.lb-album li > a, .lb-album li > a img {
	display: block;
	width:100%;
}
.lb-album li > a {
	position: relative;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px 4px 4px 4px;
}
.lb-album li > a span {
	position:absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	text-align: center;
	line-height: 150px;
	color: #fff;
	text-shadow: 0px 1px 1px rgba(255,255,255,0.6);
	font-size: 24px;
	opacity: 0;
	filter: alpha(opacity=0); /* internet explorer */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)"; /*IE8*/
	background: rgba(64, 72, 109, 0.61);
	-moz-transition: opacity 0.3s linear;
	-o-transition: opacity 0.3s linear;
	-ms-transition: opacity 0.3s linear;
	transition: opacity 0.3s linear;
}
.lb-album li > a:hover span {
	opacity: 1;
	filter: alpha(opacity=99); /* internet explorer */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=99)"; /*IE8*/
}
.lb-overlay {
	width: 0px;
	height: 0px;
	position: fixed;
	overflow: hidden;
	left: 0px;
	top: 0px;
	padding: 0px;
	z-index: 99;
	text-align: center;
	background: rgba(133, 81, 11, 0.47);
}
.lb-overlay > div {
	position: relative;
	color: rgba(27,54,81,0.8);
	opacity: 0;
	filter: alpha(opacity=0); /* internet explorer */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)"; /*IE8*/
	width: 550px;
	margin: 10px auto 0px auto;
	text-shadow: 0px 1px 1px rgba(255,255,255,0.6);
	-webkit-transition: opacity 0.3s linear 1.3s;
	-moz-transition: opacity 0.3s linear 1.3s;
	-o-transition: opacity 0.3s linear 1.3s;
	-ms-transition: opacity 0.3s linear 1.3s;
	transition: opacity 0.3s linear 1.3s;
}
.lb-overlay div h3, .lb-overlay div p {
	padding: 0px 20px;
	width: 200px;
	height: 60px;
	color: #fff;
}
.lb-overlay div h3 {
	color: #fff;
	font-size: 36px;
	float: left;
	text-align: right;
	border-right: 1px solid rgba(27,54,81,0.4);
}
.lb-overlay div h3 span, .lb-overlay div p {
	font-size: 16px;
	font-style: italic;
}
.lb-overlay div h3 span {
	display: block;
	line-height: 6px;
}
.lb-overlay div p {
	text-align: left;
	float: left;
	width: 260px;
}
.lb-overlay a.lb-close {
	font-size: 0.924em;
	padding: 4px;
	background: rgba(133, 81, 11, 0.81);
	z-index: 1001;
	color: #fff;
	position: absolute;
	top: 43px;
	left: 50%;
	font-size: 15px;
	line-height: 26px;
	text-align: center;
	width: 50px;
	height: 23px;
	overflow: hidden;
	margin-left: -25px;
	opacity: 0;
	filter: alpha(opacity=0); /* internet explorer */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)"; /*IE8*/
	-webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	-webkit-transition: opacity 0.3s linear 1.2s;
	-moz-transition: opacity 0.3s linear 1.2s;
	-o-transition: opacity 0.3s linear 1.2s;
	-ms-transition: opacity 0.3s linear 1.2s;
	transition: opacity 0.3s linear 1.2s;
}
.lb-overlay img {
	/* height: 100%; For Opera max-height does not seem to work */
	max-height: 100%;
	position: relative;
	-webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
	-moz-box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
	box-shadow: 0px 2px 7px rgba(0,0,0,0.2);
}
.lb-overlay:target {
	width: auto;
	height: auto;
	bottom: 0px;
	right: 0px;
	padding: 80px 100px 120px 100px;
}
.lb-overlay:target img {
	-webkit-animation: fadeInScale 1.2s ease-in-out;
	-moz-animation: fadeInScale 1.2s ease-in-out;
	-o-animation: fadeInScale 1.2s ease-in-out;
	-ms-animation: fadeInScale 1.2s ease-in-out;
	animation: fadeInScale 1.2s ease-in-out;
}
.lb-overlay:target a.lb-close, .lb-overlay:target > div {
	opacity: 1;
	filter: alpha(opacity=99); /* internet explorer */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=99)"; /*IE8*/
}
@-webkit-keyframes fadeInScale {
0% { -webkit-transform: scale(0.6); opacity: 0; }
100% { -webkit-transform: scale(1); opacity: 1; }
}
@-moz-keyframes fadeInScale {
0% { -moz-transform: scale(0.6); opacity: 0; }
100% { -moz-transform: scale(1); opacity: 1; }
}
@-o-keyframes fadeInScale {
0% { -o-transform: scale(0.6); opacity: 0; }
100% { -o-transform: scale(1); opacity: 1; }
}
@-ms-keyframes fadeInScale {
0% { -ms-transform: scale(0.6); opacity: 0; }
100% { -ms-transform: scale(1); opacity: 1; }
}
@keyframes fadeInScale {
0% { transform: scale(0.6); opacity: 0; }
100% { transform: scale(1); opacity: 1; }
}

/*
 100% Height for Opera as the max-height seems to be ignored, not optimal for large screens
 http://bricss.net/post/11230266445/css-hack-to-target-opera
 */
x:-o-prefocus, .lb-overlay img {
	height: 100%;
}
.txt_p {
	padding: 1.333% 2.333%;
}
.span_1_of_2 h3.color1 {
	padding: 1.333% 2.333%;
	margin-bottom: 2.333%;
}

.button {
	-webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
	box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
	background-color: #eeeeee;
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fbfbfb), color-stop(100%, #e1e1e1));
	background: -webkit-linear-gradient(top, #fbfbfb, #e1e1e1);
	background: -moz-linear-gradient(top, #fbfbfb, #e1e1e1);
	background: -o-linear-gradient(top, #fbfbfb, #e1e1e1);
	background: linear-gradient(top, #fbfbfb, #e1e1e1);
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	border: 1px solid #d4d4d4;
	height: 32px;
	line-height: 32px;
	padding: 0px 25.6px;
	font-weight: 300;
	font-size: 16px;
	font-family: 'Abel', sans-serif;
	color: #666666;
	text-shadow: 0 1px 1px white;
	margin: 0;
	text-decoration: none;
	text-align: center;
}
.button-pill {
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
	border-radius: 50px;
}
.button:active {
	-webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
	-moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
	box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
	background: #eeeeee;
	color: #bbbbbb;
}
.button:hover {
	background-color:#dddddd;
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dcdcdc));
	background: -webkit-linear-gradient(top, #ffffff, #dcdcdc);
	background: -moz-linear-gradient(top, #ffffff, #dcdcdc);
	background: -o-linear-gradient(top, #ffffff, #dcdcdc);
	background: linear-gradient(top, #ffffff, #dcdcdc);
}
/*footer*/
.ftr_bg{
	background: url('../images/ftr_border.png') repeat-x #d0d0d0;
	padding: 2.333% 0;
}
.f_nav{
	float:left;
	display: inline;
	width: 66.333%;
	margin-right: 2.333%;
}
.f_nav ul li{
	margin-right: 10px;
	display: inline-block;
}
.f_nav ul li.active a{
	color: #CE63BC;
}
.f_nav ul li a{
	padding:4px;
	display: block;
	font-size: 1em;
	color: #555;
	line-height: 1.8em;
	-webkit-transition: 0.9s;
}
.f_nav ul li a:hover{ 
	color: #CE63BC;
}
.copy{
	float:right;
	width:28.333%;
}
.copy p{
	color: #555;
	font-size: 1em;
	padding: 4px;
	line-height: 1.8em;
}
.copy p a{
	font-family: 'Abel', sans-serif;
	color: #CE63BC;
	-webkit-transition: 0.9s;
	-moz-transition: 0.9s;
	-o-transition: 0.9s;
	transition: 0.9s;
}
.copy p a:hover{
	color: #555;
}
/*about*/
.main{
	display: block;
	margin: 2.333% 0;
}
.about{
	float: left;
	width:69.333%;
	margin-right: 3.333%;
}
.about h2{
	padding: 10px;
	font-family: 'Abel', sans-serif;
	font-size: 1.8em;
	text-transform: capitalize;
	color: #fff;
	background: rgb(135,49,140);
	background: -moz-linear-gradient(top, rgba(135,49,140,1) 0%, rgba(121,44,126,1) 50%, rgba(109,39,113,1) 77%, rgba(95,34,99,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(135,49,140,1)), color-stop(50%,rgba(121,44,126,1)), color-stop(77%,rgba(109,39,113,1)), color-stop(100%,rgba(95,34,99,1)));
	background: -webkit-linear-gradient(top, rgba(135,49,140,1) 0%,rgba(121,44,126,1) 50%,rgba(109,39,113,1) 77%,rgba(95,34,99,1) 100%);
	background: -o-linear-gradient(top, rgba(135,49,140,1) 0%,rgba(121,44,126,1) 50%,rgba(109,39,113,1) 77%,rgba(95,34,99,1) 100%);
	background: -ms-linear-gradient(top, rgba(135,49,140,1) 0%,rgba(121,44,126,1) 50%,rgba(109,39,113,1) 77%,rgba(95,34,99,1) 100%);
	background: linear-gradient(to bottom, rgba(135,49,140,1) 0%,rgba(121,44,126,1) 50%,rgba(109,39,113,1) 77%,rgba(95,34,99,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87318c', endColorstr='#5f2263',GradientType=0 );
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
}
.text{
	display: inline-block;
	margin: 4% 0
}
.txt_img{
	float:left;
	width: 28.333%;
	margin-right: 2.333%;
}
.txt_img img{
	display: block;
	padding: 8px;
	background: #c5c5c5;
	-webkit-transition: all 0.7s ease 0s;
	-moz-transition: all 0.7s ease 0s;
	-o-transition: all 0.7s ease 0s;
	transition: all 0.7s ease 0s;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
}
.txt_img img:hover{
	opacity: 0.8;
}
.txt_para{
	float: right;
	width: 64.333%;
}
.txt_para p{
	font-size: 0.824em;
	color: #555;
	line-height: 1.8em;
}
.txt_p1 {
	margin-top: 2.333%;
	display: inline-block;
}
.txt_p1 p{
	font-size: 0.824em;
	color: #555;
	line-height: 1.8em;
}
.btn1 {
	display: inline-block;
	margin-top:2.333%;
}
/*sidebar*/
.sidebar{
	float: right;
	width: 26.333%;
}
.side_bar{
	display: inline-block;
	margin-top: 2.333%;
}
.side_bar h2{
	font-family: 'Abel', sans-serif;
	font-size: 1.8em;
	color: #CE63BC;
	text-transform: capitalize;
	margin-bottom: 6.333%;
}
.top {
	margin-top: 4.333%;
	display: inline-block;
}
.side_bar p a img {
	display: block;
	padding: 4px;
	background: #c5c5c5;
	-webkit-transition: all 0.7s ease 0s;
	-moz-transition: all 0.7s ease 0s;
	-o-transition: all 0.7s ease 0s;
	transition: all 0.7s ease 0s;
	border-radius:5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius:5px;
	float: left;
	margin-right: 4%;
	margin-top: 1.333%;
}
.side_bar p a {
	-webkit-transition: 0.9s;
	-moz-transition: 0.9s;
	-o-transition: 0.9s;
	line-height:1.8em;
	font-size:0.824em;
	color: #555;
}
.side_bar p a:hover{
	color: #CE63BC;
}
/*wedding*/
.wedding{
	background: #ffffff;
	box-shadow: 0px 0px 5px #B4B4B4;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius:5px;
}
.wedding h2{
	font-family: 'Abel', sans-serif;
	font-size: 1.8em;
	color: #CE63BC;
	text-transform: capitalize;
	padding: 10px;
}

/*  Contact Form  ============================================================================= */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}
.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1;
}
.col{
	display: block;
	float:left;
	margin-left:4.333%;
}
.col:first-child{
	margin-left:0;
}	
.span_2_of_3 {
	width: 63.333%;
}
.span_1_of_3 {
	width: 29.333%;
}
.contact-form{
	position:relative;
	padding-bottom:30px;
}
.contact-form div{
	display:block;
	padding:5px 0;
}
.contact_info h3, .contact-form h3, .company_address h3{	
	font-family: 'Abel', sans-serif;
	font-size: 1.8em;
	color: #CE63BC;
	text-transform: capitalize;
}
.contact-form span{
	line-height: 1.8em;
	font-size: 0.824em;
	color: #555;
}
.contact-form span label{
	font-size: 0.824em;
	color: #555;
}
.contact-form input[type="text"],.contact-form textarea{
	font-family: 'Abel', sans-serif;
	font-size:1em;
	margin-top: 4px;
	color: #333333;
	padding: 8px;
	display: block;
	width: 98%;
	background: #fff;
	border: 1px outset rgba(194, 194, 194, 0.19);
	outline: none;
	-webkit-appearance: none;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
}
.contact-form textarea{
	resize:none;
	height:120px;		
}
.contact-form form {
	margin-top: 1.333%;
}
.button-wrap {
	margin-top: 2%;
	display: inline-block;
}
.contact-form input[type="submit"]{
	font-family: 'Abel', sans-serif;
	cursor:pointer;
	-webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
	-o-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
	box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
	background-color: #eeeeee;
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fbfbfb), color-stop(100%, #e1e1e1));
	background: -webkit-linear-gradient(top, #fbfbfb, #e1e1e1);
	background: -moz-linear-gradient(top, #fbfbfb, #e1e1e1);
	background: -o-linear-gradient(top, #fbfbfb, #e1e1e1);
	background: linear-gradient(top, #fbfbfb, #e1e1e1);
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	border: 1px solid #d4d4d4;
	padding: 6px 24px;
	font-weight: 300;
	font-size: 1.2em;
	color: #666666;
	text-shadow: 0 1px 1px white;
	text-decoration: none;
	text-align: center;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
	border-radius: 50px;
}
.contact-form input[type="submit"]:hover{
	background-color: #eeeeee;
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dcdcdc));
	background: -webkit-linear-gradient(top, #ffffff, #dcdcdc);
	background: -moz-linear-gradient(top, #ffffff, #dcdcdc);
	background: -o-linear-gradient(top, #ffffff, #dcdcdc);
	background: linear-gradient(top, #ffffff, #dcdcdc);
}
.company_address p{
	font-size: 0.824em;
	line-height: 1.8em;
	color: #555;
}
.company_address p span,.company_address p span a{
	text-decoration:underline;
	cursor:pointer;
	color: #555;
}
.company_address p span:hover{
	text-decoration:none;
	color: #CE63BC;
	-webkit-transition:0.9s;
}
.map{
	margin-top: 6%;
	border: 1px solid rgba(199, 199, 199, 0.19);
	margin-bottom:15px;
}
/*details*/
.details h2{
	font-family: 'Abel', sans-serif;
	font-size: 1.8em;
	color: #CE63BC;
	text-transform: capitalize;
}
.det-pic {
	margin: 2.33% 0;
}
.det-pic img{
	display: block;
	padding: 8px;
	background: #c5c5c5;
	-webkit-transition: all 0.7s ease 0s;
	-moz-transition: all 0.7s ease 0s;
	-o-transition: all 0.7s ease 0s;
	transition: all 0.7s ease 0s;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
}
.det-para p{
	font-size: 0.824em;
	color: #555;
	line-height: 1.8em;
}
/*404*/
.page {
	padding: 8% 0;
}
.page h2{
	text-align:center;
	font-size: 10em;
	font-family: 'Abel', sans-serif;
	color: #F09CE2;
}
/***** Media Quries *****/
@media only screen and (max-width: 1280px) {
	.wrap{
		width:95%;
	}
	.h-bg{
		background: url('../images/h_bg.jpg') center;
	}

}
@media only screen and (max-width: 1024px) {
	.wrap{
		width:95%;
	}
	.f_nav {
		width: 60.333%;
		margin-right: 1.333%;
	}
	.copy {
		width: 36.333%;
	}
	.f_nav,.copy {
		width: 100%;
		margin-right: 0;
		text-align: center;
	}
}
@media only screen and (max-width: 991px) {

	.span_1_of_2 h3.color,.span_1_of_2  h3 {
		font-size: 1.7em;
	}
}
@media only screen and (max-width: 991px) {
	.logo {
		width: 20%;
		margin: 1em 0 0 5px;
	}
	.nav {
		margin: 6% 0;
	}
}
@media only screen and (max-width: 900px) {
	.h_txt h2 {
		font-size: 2.2em;
	}
	.details h2 {
		font-size: 1.7em;
	}
	.about,.sidebar {
		float: none;
		width: 100%;
	}
	.about h2 {
		padding: 5px 10px;
		font-size: 1.6em;
	}
	.side_bar h2 {
		margin-bottom: 0;
	}
	.h_txt h3 {
		font-size: 1.2em;
	}
	.list li p {
		float: right;
		width: 78%;
	}
	.list li img {
		float: left;
		width: 14%;
	}
	.list li strong {
		font-size: 1.7em;
	}
	.contact_info h3, .contact-form h3, .company_address h3 {
		font-size: 1.7em;
	}
	.page {
		padding: 6% 0;
	}
}
/*  GO FULL WIDTH AT LESS THAN 800 PIXELS */

@media only screen and (max-width: 800px) {
	.wrap{
		width:95%;
	}
	.logo {
		margin: 0.2em 0 0 5px;
	}
	.h_txt h2 {
		font-size: 2em;
	}
	.h_txt h3 {
		font-size: 1.1em;
	}
	.f_nav ul li {
		margin-right: 4px;
	}
	.f_nav ul li a:l{
		display:none;
	}
	.nav li a {
		font-size: 1.1em;
		padding: 2px 15px;
	}
	.copy p {
		font-size: 0.95em;
	}
	.f_nav ul li a {
		font-size: 0.95em;
	}
	.wedding h2 {
		font-size: 1.6em;
	}
	.contact_info h3, .contact-form h3, .company_address h3 {
		font-size: 1.6em;
	}
	.page h2 {
		font-size: 9em;
	}
}
@media only screen and (max-width: 768px){
	.span_1_of_2 {
		width: 100%;
		float: none;
		margin: 1em 0;
	}
	.list li p {
		width: 87%;
	}
	.list li img {
		width: 9%;
	}
	.span_1_of_2 h3.color, .span_1_of_2 h3 {
		font-size: 1.5em;
	}
	.list li strong {
		font-size: 1.6em;
	}
	.span_1_of_3 {
		width: 100%;
	}
	.span_2_of_3 {
		width: 90%;
		margin: 2em 0 0;
	}
}
@media only screen and (max-width: 736px){
	.h_txt h2 {
		font-size: 1.8em;
	}
	.page {
		padding: 4% 0;
	}
}
@media only screen and (max-width: 667px){
	.logo {
		margin: 1em 0 0 5px;
	}
	.lb-album li {
		width: 33.33%;
	}
	.details h2 {
		font-size: 1.6em;
	}
}
/*  GO FULL WIDTH AT LESS THAN 640 PIXELS */

@media only screen and (max-width: 640px){
	.wrap{
		width:95%;
	}
	.span_1_of_2 {
		width: 99.333%;
	}
	.col_1_of_2 {
		margin: 2.333% 0%;
	}
	.f_nav {
		width: 100%;
		margin-right: 0%;
	}
	.copy {
		width: 100%;
	}
	.about {
		float: none;
		width: 100%;
		margin-right:0%;
	}
	.sidebar {
		float: none;
		width: 100%;
	}
	.side_bar h2 {
		margin-bottom: 0.333%;
	}
	.span_1_of_3 {
		width: 100%;
	}
	.col {
		margin-left: 0%;
	}
}
@media only screen and (max-width: 600px) {
	.h_txt h2 {
		font-size: 1.7em;
	}
	.h_txt h3 {
		font-size: 1em;
	}
	.span_1_of_2 h3.color, .span_1_of_2 h3 {
		font-size: 1.4em;
	}
	.det-pic img {
		padding: 5px;
	}	
	.details h2 {
		font-size: 1.5em;
	}
}
@media only screen and (max-width: 568px) {
	.h_txt h2 {
		font-size: 1.6em;
	}
	.txt_img {
		float: none;
		margin: 0 0 2.333%;
	}
	.txt_para{
		float: none;
		width: 100%;
	}
	.details h2 {
		font-size: 1.4em;
	}
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.wrap{
		width:95%;
	}
	.logo{
		float: none;
		text-align:center;
	}
	.menu {
		float: none;
		text-align:center;
	}
	.logo {
		float: none;
		text-align: center;
		padding: 1em 0 0;
		margin: 0 auto;
	}
	.nav {
		margin: 3% 0 0;
		padding: 0 0 1em 0;
	}
	.span_1_of_2 h3.color, .span_1_of_2 h3 {
		font-size: 1.3em;
	}
	.list li strong {
		font-size: 1.5em;
	}
	.search input[type="text"] {
		padding: 6px 15px 6px 11px;
	}
	.f_nav ul li a {
		font-size: 0.8em;
	}
	.logo {
		width: 30%;
	}
	.copy p {
		font-size: 0.8em;
	}
	.about h2 {
		font-size: 1.5em;
	}
	.side_bar h2 {
		font-size: 1.7em;
	}
	.details h2 {
		font-size: 1.3em;
	}
	.page h2 {
		font-size: 8em;
	}
	.button{
		height: 24px;
		line-height: 23px;
		padding: 0px 16px;
		font-size: 15px;
	}
}
@media only screen and (max-width: 414px) {
	.h_txt h2 {
		font-size: 1.5em;
	}
	.h_btm {
		padding: 5% 0;
	}
	.h_txt h3 {
		font-size: 0.95em;
	}
	.about h2 {
		font-size: 1.4em;
	}
	.about h2 {
		padding: 2px 10px;
	}
	.wedding h2 {
		font-size: 1.5em;
	}
}
@media only screen and (max-width: 384px) {
	.nav li {
		margin-right: 5px;
	}
	.h_txt h2 {
		font-size: 1.38em;
	}
	.txt_img {
		width: 100%;
	}
	.logo {
		width: 45%;
	}
	.contact_info h3, .contact-form h3, .company_address h3 {
		font-size: 1.5em;
	}
	.det-pic img {
		padding: 0px;
	}
	.details h2 {
		font-size: 1.2em;
	}
	.page h2 {
		font-size: 7.5em;
	}
}
@media only screen and (max-width: 375px) {
	.nav li {
		margin-right: 2px;
	}
	.logo {
		width: 42%;
	}
}
@media only screen and (max-width: 320px) {
	.nav li a {
		font-size: 1em;
		padding: 2px 11px;
	}
	.span_1_of_2 h3.color, .span_1_of_2 h3 {
		font-size: 1.2em;
	}
	.h_txt h2 {
		font-size: 1.3em;
	}
	.h_txt h3 {
		font-size: 0.85em;
	}
	.list li p {
		width: 86%;
	}
	.details h2 {
		font-size: 1.1em;
	}
	.page h2 {
		font-size: 7em;
	}
	.page {
		padding: 2% 0;
	}
	.txt_img {
		width: 95%;
	}
}





