/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
body{
	padding:0;
	margin:0;
	background:#fff;
	position:relative;
	font-family: 'Open Sans', sans-serif;
}
html {
  scroll-behavior: smooth;
}
body a{
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
a:hover{
	text-decoration:none;
}
input[type="button"],input[type="submit"],.contact-form input[type="submit"]{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
h1,h2,h3,h4,h5,h6{
	margin:0;	
}	
p{
	margin:0;
}
ul{
	margin:0;
	padding:0;
}
label{
	margin:0;
}
img{
	width:100%;
}

/*-- header --*/

/* CSS Document */

header {
    position: absolute;
    z-index: 9;
    width: 100%;
}

.toggle,
[id^=drop] {
    display: none;
}

/* Giving a background-color to the nav container. */

nav {
    margin: 0;
    padding: 0;
}


#logo a {
    float: left;
    display: initial;
    margin: 0;
    color: #fff;
}

#logo a span {
    color: #fff;
}
  .logo h1 a{ 
	    font-size: 24px;
    text-transform: uppercase;
    display: initial;
    margin: 0;
    letter-spacing: 0.04em;
    line-height: 1.3em;
	color: #fff;
    font-weight: 800;
}
nav.mnu{
    margin-top: 2em;
    background: rgba(70, 71, 74, 0.62);
    padding: 1.3em 2em;
    border-radius: 8px;
}
/* Since we'll have the "ul li" "float:left"
 * we need to add a clear after the container. */

nav:after {
    content: "";
    display: table;
    clear: both;
}

/* Removing padding, margin and "list-style" from the "ul",
 * and adding "position:reltive" */

nav ul {
    float: right;
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}

/* Positioning the navigation items inline */

nav ul li {
    margin: 0px;
    display: inline-block;
    float: left;
}

/* Styling the links */

nav a {
        color: #fff;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 0.95em;
    letter-spacing: 0.075em;
}


nav ul li ul li:hover {
    background: #f8f9fa;
}

/* Background color change on Hover */

nav a:hover {
    color: #e44c65;
}

.menu li.active a {
    color: #e44c65;
}

/* Hide Dropdowns by Default
 * and giving it a position of absolute */

nav ul ul {
    display: none;
    position: absolute;
    /* has to be the same number as the "line-height" of "nav a" */
    top: 30px;
    background: #fff;
    padding: 10px;
}

/* Display Dropdowns on Hover */

nav ul li:hover > ul {
    display: inherit;
}

/* Fisrt Tier Dropdown */

nav ul ul li {
    width: 170px;
    float: none;
    display: list-item;
    position: relative;
}

nav ul ul li a {
    color: #333;
    padding: 5px 10px;
    display: block;
}

/* Second, Third and more Tiers	
 * We move the 2nd and 3rd etc tier dropdowns to the left
 * by the amount of the width of the first tier.
*/

nav ul ul ul li {
    position: relative;
    top: -60px;
    /* has to be the same number as the "width" of "nav ul ul li" */
    left: 170px;
}


/* Change ' +' in order to change the Dropdown symbol */

li > a:only-child:after {
    content: '';
}


/* Media Queries
--------------------------------------------- */

@media all and (max-width: 768px) {

    #logo {
        display: block;
        padding: 0;
        width: 100%;
        text-align: center;
        float: none;
    }

    nav {
        margin: 0;
    }

    /* Hide the navigation menu by default */
    /* Also hide the  */
    .toggle + a,
    .menu {
        display: none;
    }

    /* Stylinf the toggle lable */
    .toggle {
        display: block;
        padding: 8px 20px;
        font-size: 15px;
        text-decoration: none;
        border: none;
        float: right;
        background-color: #ffffff;
        color: #333;
        cursor: pointer;
    }
    .menu .toggle {
        float: none;
        text-align: center;
        margin: auto;
        width: 80%;
        padding: 5px;
        font-weight: normal;
        font-size: 16px;
        letter-spacing: 1px;
    }

    .toggle:hover {
        color: #333;
        background-color: #fff;
    }

    /* Display Dropdown when clicked on Parent Lable */
    [id^=drop]:checked + ul {
        display: block;
        background: rgba(16, 16, 16, 0.85);
        padding: 15px 0;
        text-align: center;
		width: 100%;
    }

    /* Change menu item's width to 100% */
    nav ul li {
        display: block;
        width: 100%;
        padding: 5px 0;
    }

    nav ul ul .toggle,
    nav ul ul a {
        padding: 0 40px;
    }

    nav ul ul ul a {
        padding: 0 80px;
    }

    nav a:hover,
    nav ul ul ul a {
        background-color: transparent;
    }

    nav ul li ul li .toggle,
    nav ul ul a,
    nav ul ul ul a {
        padding: 14px 20px;
        color: #FFF;
        font-size: 17px;
    }


    nav ul li ul li .toggle,
    nav ul ul a {
        background-color: #212121;
    }

    /* Hide Dropdowns by Default */
    nav ul ul {
        float: none;
        position: static;
        color: #ffffff;
        /* has to be the same number as the "line-height" of "nav a" */
    }

    /* Hide menus on hover */
    nav ul ul li:hover > ul,
    nav ul li:hover > ul {
        display: none;
    }

    /* Fisrt Tier Dropdown */
    nav ul ul li {
        display: block;
        width: 100%;
        padding: 0;
    }

    nav ul ul ul li {
        position: static;
        /* has to be the same number as the "width" of "nav ul ul li" */
    }
    nav ul ul li a {
        color: #fff;
        font-size: 0.85em;
    }
}

@media all and (max-width: 330px) {

    nav ul li {
        display: block;
        width: 94%;
    }
}
/* header */
 h2.tittle {
       font-size: 2.2em;
    color: #52575c;
    line-height: 1em;
    font-weight: 800;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}

/*-- modal --*/
.modal-body {
    font-size: 15px;
    letter-spacing: .5px;
    line-height: 28px;
    color: #666;
}
.modal-title {
    font-size: 28px !important;
     font-weight: 700;
    padding: 0 !important;
    letter-spacing: 2px;
    color: #333;
}
.modal-title span.fas{
    color: #fd5c63;
}
.modal-title span.logo{
    font-size: 18px;
    letter-spacing: 1px;
}
/*-- //modal --*/


/*-- banner --*/
.banner{
	background:url(../images/banner1.jpg) no-repeat 0px 0px;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	min-height:770px;
	position: relative;
}
.banner-layer {
    background: url(../images/layer.png)repeat;
    min-height: 770px;
}
.banner1{
	background:url(../images/banner1.jpg) no-repeat 0px 0px;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	min-height:300px;
}
.banner-layer1 {
    background: url(../images/layer.png)repeat;
	min-height:300px;
}

.agile_banner_info {
    padding: 18em 0em 0em;
}
.agile_banner_info1{
	margin-left:0em;
}
.agile_banner_info1 h2 {
    text-align: center;
    border: double 6px rgba(255, 255, 255, 0.25);
    border-left: 0;
    border-right: 0;
    color: #fff;
    color: rgba(255, 255, 255, 0.75);
    font-size: 2em;
    font-weight: 700;
    line-height: 1.3em;
    margin: 0 0 1.5em 0;
    text-transform: uppercase;
    padding: 1.5em 0;
}


.banner_agile_para p{
        text-transform: uppercase;
    color: rgba(255, 255, 255, 0.75);
    font-size: 1.5em;
    font-weight: 700;
    line-height: 1.3em;
    letter-spacing: 0.04em;
    text-align: right;
    line-height: 1.5em;
    margin: 0;
}
.row.banner_agile_para span {
    background: #fff;
    color: #36b1af;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    border-radius: 50%;
}
.agile_banner_info a {
    padding: 12px 26px;
    color: #fff;
    background: #36b1af;
    font-size: 1.2em;
    letter-spacing: 0.075em;
    display: inline-block;
    font-weight: 800;
    margin-top: 0em;
    text-transform: uppercase;
    border-radius: 5px;
}
.agile_banner_info a:hover {
    background: #fd5c63;
}
button.btn.btn-primary.play {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    outline: none;
    cursor: pointer;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
    background-color: #03cce6;
    border: none;
}
/*-- news --*/
.w3l_head {
    border-bottom: 6px double #dbdbdb;
    padding-bottom: 2.5em;
}
h3.heading {
    font-size: 2.2em;
    color: #52575c;
    line-height: 1em;
    font-weight: 800;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}
p.subs {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.065em;
    font-size:1em;
    color: #696969;
    width: 86%;
}
.news p {
    font-size: 16px;
    line-height: 1.8em;
    color: #777;
}
section.news img {
    border-radius: 5px;
}
p.subs span{
    color: #404248;
    font-weight: 800;
}
.news_btm span {
    color: #b9bcc2;
    font-size: 2.5em;
}
.news_btm h6 {
    font-size: 1.25em;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0.04em;
    color: #404248;
	text-align:left;
}
.news_btm p{
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.065em;
    font-size: 0.9em;
    color: #696969;
	text-align:left;
}
.news_btm_rgt {
    padding-left: 0;
}
section.news {
    background: #efefef;
}
/*-- //news --*/
.w3l_head1 {
    border-bottom: 6px double #dbdbdb;
    padding-bottom: 2em;
}
.new-tp {
    padding: 2em;
}
.new-tp p {
    font-size: 16px;
    line-height: 1.8em;
    color: #777;
}
h4.heading {
    font-size: 1.7em;
    color: #52575c;
    line-height: 1em;
    font-weight: 800;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}
p.subs1 {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.065em;
    font-size:0.9em;
    color: #696969;
}
.agile-link-bnr1 {
    padding: 12px 26px;
    color: #fff;
    background: #36b1af;
    font-size: 1em;
    letter-spacing: 0.075em;
    display: inline-block;
    font-weight: 700;
    margin-top: 0em;
    border: 1px solid #36b1af;
    text-transform: uppercase;
    border-radius: 5px;
}
.agile-link-bnr1:hover {
    background: #fd5c63;
	border:1px solid #fd5c63;
}
.new-tp span {
    background: #fff;
    color: #36b1af;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    border-radius: 50%;
}
/*-- blog --*/
h4.heading span{
	color:#b9bcc2;
}
section.blog_w3l {
    background: #efefef;
}
section.blog_w3l h5{
display: block;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.065em;
    font-size: 0.9em;
    color: #696969;
    margin: 0 0 0.25em 0;
}
section.blog_w3l h3{
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0.04em;
    color: #404248;
    font-size: 1.35em;
}
section.blog_w3l h3 a{
    color: #404248;
}
section.blog_w3l img {
       border-radius: 5px;
}
section.blog_w3l p {
    font-size: 16px;
    line-height: 1.8em;
    color: #777;
}
.blog_w3l_left1,.blog_w3l_left2 {
    border-bottom: solid 1px #dbdbdb;
    margin: 0 0 2.75em 0;
    padding: 0 0 2.75em 0;
}
.blog_w3l_left3 {
    margin: 0 0 0em 0;
    padding: 0 0 0em 0;
}
.blog_w3l-1 {
    padding-left: 0;
}
/*-- //blog --*/
/*-- footer --*/
section.footer {
    background: #2d2f35;
}
.footer h4 {
    font-size: 1.3em;
    color: #fff;
	font-weight: 800;
    letter-spacing: 0.04em;
	line-height:1em;
    text-transform: uppercase;
}
.foot-top li {
    display: block;
    border-bottom:1px solid rgba(172, 178, 191, 0.37);
    padding: 1em 0;
}
.foot-top li:last-child{
    border-bottom: none;
}
.foot-top p {
    color: #acb2bf;
    line-height: 1.8em;
    font-size: 16px;
}
.foot-top p a {
	color: #acb2bf;
}
section.footer p span {
    font-size: 15px;
    font-weight: 700;
	color: #fff;
    letter-spacing: 0.065em;
}
.foot-top li a{
    color: #acb2bf;
}
.cpy-right p {
    color: #acb2bf;
}
.cpy-right p a{
	color:#fb4386;
}
.cpy-right p a:hover{
	color:#acb2bf;
}
.cpy-right {
    border-top: 1px solid rgba(230, 230, 230, 0.15);
    margin-top: 4em;
}
/*-- //footer --*/
/*-- to-top --*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 20px;
	right: 2%;
	overflow: hidden;
	z-index: 999; 
	width: 40px;
	height: 40px;
	border: none;
	text-indent: 100%;
	background: url(../images/arr.png) no-repeat 0px 0px;
}
#toTopHover {
	width: 40px;
	height: 40px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*-- //to-top --*/

/*-- Responsive design --*/

@media screen and (max-width: 1366px) {
	.banner,.banner-layer {
		min-height: 700px;
	}
	.agile_banner_info {
		padding: 15em 0em 0em;
	}
}
@media screen and (max-width: 1080px) {
	.team-info {
		padding: 1.5em 1em;
		padding-left: 2em;
	}
	#typed {
		font-size: 3em;
	}
	.agile_banner_info a {
    padding: 12px 20px;
	}
}
@media screen and (max-width: 1024px) {
	.banner, .banner-layer {
		min-height: 650px;
	}
	.agile_banner_info {
		padding: 13em 0em 0em;
	}
	.copyleft p {
		letter-spacing: .5px;
		font-size: 14.5px;
	}
}
@media screen and (max-width: 991px) {
	.navbar-light .navbar-toggler {
		border-color: #fd5c63;
		border-radius: 0;
		background: #fd5c63;
	}
	.navbar-collapse {
		background: rgba(0,0,0,0.7);
		padding: 2em 0;
	}
	.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
		color: #fd5c63;
	}
	.navbar-light .navbar-nav .nav-link {
		display: inline-block;
	}
	.dropdown-menu {
		min-width: auto;
		padding: 0;
		margin: 0;
		background-color: transparent;
		border: none;
		border-radius: 0;
		text-align: center;
	}
	.navbar-light .navbar-nav .dropdown-menu a.nav-link {
		color: #fff;
		padding-left: 0em;
	}
	.serv-icons span {
		font-size: 45px;
	}
	.serv-grids:after {
		top: 6%;
	}
	.serv-grids {
		padding: 0em 1em;
	}
	.read {
		width: 33%;
	}
	.serv-grids a {
		margin-top: 0em;
	}
	.w3l-info1 p {
		letter-spacing: .5px;
	}
	.agileinfo_stats_grid {
		width: 145px;
		height: 145px;
		padding: 1em 0;
	}
	.copyleft, .copyright {
		text-align: center;
	}
	.navbar {
		padding: 0;
	}
	h2.heading, h3.heading {
		font-size: 30px;
	}
	.agile_banner_info1 h2 {
    font-size: 1.5em;
}
.banner_agile_para p {
    font-size: 1.2em;
}
.ban-buton {
    text-align: right;
    margin-top: 1em;
}
.banner, .banner-layer {
    min-height: 590px;
}
p.subs {
    width: 100%;
}
h4.heading {
    font-size: 1.5em;
    line-height: 1.4em;
}
.new-tp {
    padding: 1em;
}
.blog_w3l_right {
    margin-top: 3em;
}
.footer_grid_right {
    margin-top: 2em;
}
section.blog_w3l h3 {
    font-size: 1.2em;
}
.footer h4 {
    font-size: 1.2em;
}
.banner1 {
    min-height: 240px;
}
h2.tittle {
    font-size: 1.8em;
}
}
@media screen and (max-width: 800px) {
	#typed {
		font-size: 2.7em;
	}
}
@media screen and (max-width: 736px) {
	.banner_agile_para {
		margin-right: 0em;
	}
	.banner_agile_para p {
		font-size: 15px;
	}
	.read {
		width: 42%;
	}
	.testimonials-grid-1 {
		width: 50%;
		margin: auto;
	}
	.testimonials h4 {
		font-size: 20px;
		letter-spacing: 1px;
	}
	.testimonials h5 {
		font-size: 15px;
	}
	.agileinfo_stats.mid-w3l-stat.hide_dot:after {
		background: none;
	}
	.agile_banner_info {
    padding: 11em 0em 0em;
}
.agile_banner_info1 h2 {
    font-size: 1.3em;
}
.banner, .banner-layer {
    min-height: 520px;
}
.tech-btm h5 {
    margin-top: 1em;
}
.blog_w3l-2 {
    padding: 1em 0;
}
}
@media screen and (max-width: 667px) {
	.navbar-brand {
		font-size: .9em;
	}
	.banner, .banner-layer {
		min-height: 550px;
	}
	.agile_banner_info {
		padding: 11em 0em 0em;
	}
	h2.heading, h3.heading {
		font-size: 28px;
	}
	.banner1 {
    min-height: 220px;
}
}
@media screen and (max-width: 568px) {
	#typed {
		font-size: 2.5em;
	}
	.serv-grids h4 {
		font-size: 23px;
	}
	.agileinfo_footer_grid h2 a {
		margin-top: 0em;
		margin-bottom: 1em;
	}
	.team-grids,.pricing-layer {
		padding: 0 5em;
	}
	.footer_grid_middle {
    margin-top: 2em;
}
.banner, .banner-layer {
    min-height: 500px;
}
.agile_banner_info {
    padding: 10em 0em 0em;
}
}
@media screen and (max-width: 480px) {
	#typed {
		font-size: 2.2em;
	}
	.banner_agile_para p {
		font-size: 14px;
		line-height: 1.8em;
	}
	h2.heading, h3.heading {
    font-size: 23px;
}
p.subs {
    font-size: 0.9em;
}
h4.heading {
    font-size: 1.3em;
}
section.blog_w3l h3 {
    font-size: 1em;
}
.footer h4 {
    font-size: 1.1em;
}
.news_btm h6 {
    font-size: 1.1em;
}
}
@media screen and (max-width: 440px) {
.agile_banner_info1 h2 {
    font-size: 1.2em;
}
.banner, .banner-layer {
    min-height: 470px;
}
.banner1 {
    min-height: 200px;
}
}
@media screen and (max-width: 414px) {
	.navbar-brand {
		font-size: .8em;
	}
	#typed {
		font-size: 1.8em;
	}
	.navbar-toggler {
		font-size: 1rem;
	}
	.serv-icons {
		width: 100%;
	}
	.serv-grids p {
		font-size: 14px;
		margin: 1em 0em;
	}
	.serv-grids h4 {
		font-size: 22px;
		letter-spacing: 1px;
	}
	.read {
		width: 62%;
	}
	.team-grids, .pricing-layer {
		padding: 0 2em;
	}
	.ban-buton {
    margin-top: 1em;
}
nav.mnu {
    margin-top: 1em;
    padding: 1em 1em;
}
.agile_banner_info {
    padding: 8em 0em 0em;
}
.agile_banner_info1 h2 {
    font-size: 1.1em;
}
.agile_banner_info a {
    font-size: 1em;
}
.banner, .banner-layer {
    min-height: 430px;
}
h2.heading, h3.heading {
    font-size: 20px;
}
}
@media screen and (max-width: 384px) {
	.team-grids, .pricing-layer {
		padding: 0 0em;
	}
	.agile_banner_info {
		padding: 9em 0em 0em;
	}
	.banner, .banner-layer {
		min-height: 500px;
	}
	.banner1 {
    min-height: 180px;
}
}
@media screen and (max-width: 375px) {
	.welcome_left h3 {
		font-size: 23px;
		letter-spacing: 0px;
	}
	.welcome_left h4 {
		letter-spacing: 3px;
	}
	.about-grids h3 {
		font-size: 16px;
	}
	a.contact {
		font-size: 13px;
	}
}
@media screen and (max-width: 320px) {
	.agileinfo_stats_grid {
		width: 125px;
		height: 125px;
	}
	p.counter {
		font-size: 2.2em;
	}
	.agileinfo_stats_grid {
		box-shadow: 5px 5px #fff;
		-webkit-box-shadow: 5px 5px #fff;
		-o-box-shadow: 5px 5px #fff;
		-moz-box-shadow: 5px 5px #fff;
		-ms-box-shadow: 5px 5px #fff;
	}
	#typed {
		font-size: 1.5em;
	}
	h2.heading, h3.heading {
		font-size: 17px;
	}
	p.heading-bottom {
		letter-spacing: 1px;
		font-size: 14px;
	}
	.grid_info h3 {
		font-size: 20px;
	}
	.read {
		width: 75%;
	}
	.foot-top p {
    font-size: 15px;
}
section.blog_w3l p {
    font-size: 15px;
}
.blog_w3l_left1, .blog_w3l_left2 {
    margin: 0 0 1.75em 0;
    padding: 0 0 1.75em 0;
}
.new-tp p {
    font-size: 15px;
}
.news_btm h6 {
    font-size: 1em;
}
.news p {
    font-size: 15px;
}
.agile_banner_info1 h2 {
    margin: 0 0 1em 0;
    padding:1em 0;
}
.logo h1 a {
    font-size: 18px;
}
.agile_banner_info {
    padding: 8em 0em 0em;
}
.banner, .banner-layer {
    min-height: 440px;
}
.blog-grid-top p, .two-blog2 p {
    font-size: 15px;
}
.blog-grid-top h3, .two-blog2 h3, h5.card-title {
    font-size: 1em;
}
.tech-btm h4 {
    font-size: 1.1em;
}
.banner1 {
    min-height: 150px;
}
h2.tittle {
    font-size: 1.5em;
}
}
/*-- //Responsive design --*/