/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body{
  font-family: 'Abel', sans-serif;
 	background:url(../images/bg.jpg) ;
}
.header{
	background: #f1f1f1; /* Old browsers */
	background: -moz-linear-gradient(top,  #f1f1f1 0%, #e0e0e0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1f1f1), color-stop(100%,#e0e0e0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f1f1f1 0%,#e0e0e0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f1f1f1 0%,#e0e0e0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f1f1f1 0%,#e0e0e0 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f1f1f1 0%,#e0e0e0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#e0e0e0',GradientType=0 ); /* IE6-9 */
	margin-top: 50px;
	border-bottom: 3px solid #a0a0a0;
	border-right: 1px solid #c8c8c8;
	border-left: 1px solid #c8c8c8;
	box-shadow: 0 0 10px #999;
}
.wrap{
	width:1000px;
	margin:0 auto;
}
.logo{
	float:left;
	margin-left: 15px;
	margin-top: 8px;
}
.logo h1{
	color: #555;
	font-size: 22px;
	text-transform:uppercase;
	font-family: 'Oregano', cursive;
	font-weight: bold;
}
/*--menu--*/
.menu-main{
	background:#06c8c7;
	margin:0;
	padding:0;
	height:48px;
}
.menu{
	font-family:verdana;
	font-size:14px;
	margin:0 auto;
	padding:0;
	float:right;
	text-transform: uppercase;
	font-family: 'Abel', sans-serif;
}
.menu ul{
	list-style-type:none;
	padding:0;
}
.menu ul li{
	border-left: 1px solid #ddd;
	float:left;
}
.menu ul li a{
	display:block;
	color:#777;
	margin:0;
	padding: 13px 35px;
	text-decoration:none;
	border-left: 1px solid #f7f7f7;
}
.menu ul li a:hover{
	background: #d1d1d1; 
	background: -moz-linear-gradient(top,  #d1d1d1 0%, #dedede 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d1d1d1), color-stop(100%,#dedede)); 
	background: -webkit-linear-gradient(top,  #d1d1d1 0%,#dedede 100%); 
	background: -o-linear-gradient(top,  #d1d1d1 0%,#dedede 100%); 
	background: -ms-linear-gradient(top,  #d1d1d1 0%,#dedede 100%); 
	background: linear-gradient(to bottom,  #d1d1d1 0%,#dedede 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1d1d1', endColorstr='#dedede',GradientType=0 ); 
    color: #a60000;
}
.preview{
	margin: 40px auto;
	padding: 10px;
	background: #fdfdfd;
	box-shadow: 0 0 10px #999;
}
.preview img{
	
}

.content{
	background: #EFEFEF;
	padding: 10px 10px  40px 10px;
	box-shadow: 0 0 10px #999;
}
.gallery{
	
}
.content h2{
	text-align: center;
	margin-bottom: 10px;
	font-size:20px;
	color:#777;
}
.gallery li{
	width:244px;
	float: left;
	margin-bottom: -5px;
}
.gallery li:hover{
	opacity: 0.8;
}
.l-text {
	float: left;
	font-size:18px;
}
.l-text h4  {
	color:#999;
}
.r-text{
	float: right;
}
.r-text h4 a{
	font-size:13px;
	background:#ddd;
	color:#555;
	padding: 2px 10px;
	margin-right: 20px;
	border-radius: .3em;
}



/*--footer--*/

.footer{
	background:#333;
	padding: 30px;
}	
.footer-nav h5{
	margin-bottom: 10px;
	font-size:18px;
	color:#888;
	border-bottom: 1px dashed #757373;
	padding-bottom: 5px;
}
.footer-nav h5 :hover{
	text-decoration: underline;
}
.footer-nav{
	width:204px;
	float:left;
	margin:0 15px;
}
.footer-nav  li a{
	color:#666;
	font-size:15px;
}
.footer-nav  li a:hover{
	color: #f7f7f7;
}

.f-desc{
	border-bottom: 1px dashed #777;
}
.f-pic{
	float:left;
}
.f-pic  img{
	padding:10px;
}
.f-desc1 {
   padding-bottom:10px;
}
.f-desc1  p{
	font-size:14px;
	color:#fff;
	padding-top: 10px;
    margin-left: 90px;
}
.f-desc1  p span{
	color:#fff;
	line-height: 1.5em;
}
.footer-bottom{
	background: #222;
	padding:20px;
}
.copy {
	float:left;
}
.copy  p{
	font-size:13px;
	color:#666;
	margin-top: 10px;
}
.copy a{
	color:#999;
}
.copy a:hover{
	color: #a60000;
}
.subcribe{
	float:right;
	width: 300px;
	background:#2d2d2d;
	padding: 3px;
	         border-radius: .2em;
		-moz-border-radius: .2em;
	 -webkit-border-radius: .2em;
}
.subcribe input[type="text"]{
	padding:0 3px;
	font-size: 12px;
	border:none;
	color: #666;
	width: 180px;
	background:none;
	outline: none;
}
.subcribe input[type="submit"]{
	cursor: pointer;
	color: #aaa;
	padding:3px;
	font-size: 11px;
	background:#444;
	border:none;
		     border-radius: .2em;
		-moz-border-radius: .2em;
	 -webkit-border-radius: .2em;
}
.subcribe input[type="submit"]:hover{
	background:#666;
	color:#fff;
}
/*--fashion--*/

.fashion{
	padding: 30px;
background: #EFEFEF;
}
.desc {
	float: right;
	width: 500px;
}
.desc p  {
	color: #888;
	line-height: 1.5em;
}

.fashion-preview{
float: left;
}
.fashion-preview img{
	padding: 5px;
	background: #fdfdfd;
}
.fashion-preview:hover{
	box-shadow: 0 0 5px #999;
}

#social{
	position:relative;
	margin-top: 42px;

}
#social li{
	margin:0;
	padding:0;
	list-style:none;
	position:absolute;
	bottom:0;
}
#social li, #social a{
	height:32px;
	display:block;
}

#facebook{
	left:0px;
	width:32px;
}
#facebook{
	background:url(../images/fb.png) 0 0;
}
#facebook a:hover{
	background:url(../images/fb-icon.png) 0 0;
}

#twitter{
	left:50px;
	width:32px;
}
#twitter{
	background:url(../images/tw.png) 0 0;
}
#twitter a:hover{
	background:url(../images/tw-icon.png) 0 0;
}

#mail{
	left:100px;width:32px;
}
#mail{
	background:url(../images/mail.png) 0 0;
}
#mail a:hover{
	background:url(../images/m-icon.png) 0 0;
}
/*--blog--*/
.blog{
	padding: 30px;
background: #EFEFEF;
	
}
.blog-content{
	
}
.blog-left{
	width:597px;
	float: left;
}
.blog-left h2{
	font-size: 30px;
	color:#777;
	margin-bottom: 20px;
}
.blog-left p{
	color:#999;
	font-size:18px;
	
	margin-bottom: 20px;
}
.blog-right{
	width:270px;
	float: right;
}
.blog-right h2{
	font-size: 30px;
	color:#777;
	margin-bottom: 10px;
}
.hor-box{
	 padding-bottom: 20px;	
}
.image{
	float:left;
}
.image img{
	padding: 5px;
	background: #fdfdfd;
	margin-right: 20px;
}
.image img:hover{
	box-shadow: 0 0 5px #999;
}
.desc1{
	
}
.desc1 p{
	font-size:15px;
	color:#888;
	line-height: 1.5em;
}
.desc1 p span{
	background: #d3d3d3; /* Old browsers */
	background: -moz-linear-gradient(top,  #d3d3d3 0%, #d3d3d3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d3d3d3), color-stop(100%,#d3d3d3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #d3d3d3 0%,#d3d3d3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #d3d3d3 0%,#d3d3d3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #d3d3d3 0%,#d3d3d3 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #d3d3d3 0%,#d3d3d3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3d3d3', endColorstr='#d3d3d3',GradientType=0 ); /* IE6-9 */
	padding: 10px 10px;
}
.desc1 p span:hover{
	background: #a6a5a3; /* Old browsers */
	background: -moz-linear-gradient(top,  #a6a5a3 0%, #a6a5a3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a6a5a3), color-stop(100%,#a6a5a3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #a6a5a3 0%,#a6a5a3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #a6a5a3 0%,#a6a5a3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #a6a5a3 0%,#a6a5a3 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #a6a5a3 0%,#a6a5a3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6a5a3', endColorstr='#a6a5a3',GradientType=0 ); /* IE6-9 */
	color:#fff;
}
.sidebar-top{
	 margin-bottom: 20px;
}	
.nav1 {
	border-bottom:1px  solid #ddd ;
}
.nav1  li a{
	border-bottom:1px  solid #ddd;
	font-size:15px;
	color:#808080;
	line-height: 2.9em;
	display:block;
	
}	
.nav1  li a:hover{
	color:#222;
	
}
.sidebar-bottom{
	
}	
.sidebar-bottom h3{
	font-size: 30px;
color: #777;
margin-bottom: 20px;
}
.sidebar-bottom p{
	font-size:15px;
	color:#888;
	line-height: 1.5em;
}	
/*--contact--*/
.contact{
	background: #EFEFEF;
	padding: 30px;
	box-shadow: 0 0 10px #999;
}
.b-box{
	margin-left: 10px;
}
.b-box h1{
	margin: 0 0 12px 0;
	
	font-size: 30px;
	color:#777;
}
.contact-top{
	width:597px;
	float: left;
}

/* form */
.form{
	font-size:.8em;
}
form label{
	font-size:15px;
	color:#666;
	padding-bottom:5px;
}
form div{
	padding-top: 20px;
}
form div:last-child{
	border-bottom:none;
}
form span{
	display:block;
	color:#aaa;
}
.form form input[type=text],
form input[type=password],
form textarea,
form input[type=text].error,
form input[type=password].error,
form select.error{
	padding:8px 5px;
	width:500px;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	margin:10px 0;
	border:1px solid #C4C8CA;
	color:#999;
	background:#fff;
	-webkit-border-radius:.2em;
	   -moz-border-radius:.2em;
			border-radius:.2em;
			box-shadow:0 0 5px #999;
			
}
.form form input[type=text]:hover{
	box-shadow:0 0 5px #999;
}
.form textarea {
	width: 500px;
	font-size: 15px;
	margin: 7px 0;
    color: #888;
	background: #fff;
	display: block;
	-webkit-border-radius: .2em;
	-moz-border-radius: .2em;
	border-radius: .2em;
	outline: none;
	font-family: Arial;
	margin-bottom: 25px;
	height:100px;
	padding: 7px;
	box-shadow:0 0 5px #999;
	
}

.form form input[type="text"]:focus,
form input[type=password]:focus,
form textarea:focus,
form select:focus{
	outline:none;
}
 form input[type="submit"]{
	cursor:pointer;
	color:#fff;
	background:#ddd;
	color:#444;
	padding:8px 30px;
	border:1px solid #AFB0B1;
-webkit-border-radius:.3em;
   -moz-border-radius:.3em;
		border-radius:.3em;
}
 form input[type=submit]:hover{
		background:#999;
	color:#fff;
}
.content form textarea{
	height:100px;
	width:470px;
}
.error{
display:inline;
	font-size:12px;
	font-weight:normal;
	padding:10px 0 0 10px;
	color:#FF0000;
}
form form input[type=text],
form input[type=password],
form textarea,
form input[type=text].error,
form input[type=password].error,
form select.error:hover{
	background: none;
}
.map{
	padding-top: 30px;
}




/* gray color */
a.tsc_buttons1.gray,
.tsc_buttons1.gray a,
a.tsc_buttons1.gray:after,
.tsc_buttons1.gray a:after { background-color:#989797; border-color:#3f3f3f; color:#fff;}
a.tsc_buttons1.gray:hover:after,
.tsc_buttons1.gray a:hover:after { background-image:none;}
a.tsc_buttons1.gray:hover,
.tsc_buttons1.gray a:hover,
a.tsc_buttons1.gray:hover:after,
.tsc_buttons1.gray a:hover:after { background-color:#acabab;}

/* default gradient */
a.tsc_buttons1.gradient,
.tsc_buttons1.gradient a { background-color:transparent !important;}
a.tsc_buttons1.gradient:after,
.tsc_buttons1.gradient a:after { padding:1px; content:""; width:100%; height:100%; position:absolute; top:-1px; left:-1px; z-index:-1; -webkit-box-shadow:inset 0 2px 0 rgba(255, 255, 255, .3); -moz-box-shadow:inset 0 2px 0 rgba(255, 255, 255, .3); box-shadow:inset 0 2px 0 rgba(255, 255, 255, .3); /* default gradient */
	background:-moz-linear-gradient(top, #eeeeee 0%, #d2d2d2 100%); background:-webkit-linear-gradient(top, #eeeeee 0%, #d2d2d2 100%); background:linear-gradient(top, #eeeeee 0%, #d2d2d2 100%);}


/* Large Buttons ------------------------------------------------- */
.tsc_c3b_large.tsc_button { font-size:14px; padding:8px 19px 9px; background-image:url(../images/large-button-overlay.png); }
input[type="submit"].tsc_c3b_large.tsc_button,
.tsc_c3b_large.tsc_button.tsc_c3b_input { padding:6px 16px 6px; }
input[type="button"].tsc_c3b_large.tsc_button,
button.tsc_c3b_large.tsc_button { padding:7px 16px; }





.tsc_c3b_teal.tsc_button:hover {
background-color: #007D9A;
}
.tsc_c3b_large.tsc_button {
font-size: 14px;
padding: 8px 19px 9px;
background-image: url(../images/large-button-overlay.png);
}
.tsc_c3b_teal.tsc_button {
background-color: #2DAEBF;
}
.tsc_button:hover {
background: #111;
color: white;
}
a:hover {
color: #999;
}
.tsc_button {
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.50);
-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.50);
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.50);
background: #222 url(../images/button-overlay.png) repeat-x;
border: 1px solid rgba(0, 0, 0, 0.25);
color: white !important;
cursor: pointer;
display: inline-block;
font-size: 13px;
font-weight: bold;
line-height: 1;
overflow: visible;
padding: 5px 15px 6px;
position: relative;
text-decoration: none;
text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
width: auto;
text-align: center;
}
a {
color: #333;

}

iframe{
	width:100%!important;
}
/*--responsive--*/

@media(max-width:1050px){
	.wrap {
		margin: 0px auto;
		width: 945px;
	}
	.contact-top {
		width: 100%;
		float: left;
	}
}
@media(max-width:1024px){
	.wrap {
		width: 961px;
	}
	.menu ul li a {
       padding: 13px 20px;
	}
	.footer-nav {
		width: 45%;
		float: left;
		margin: 9px 15px;
	}
}
@media(max-width:991px){

	.wrap {
		margin: 0px auto;
		width: 897px;
	}
	.blog-right {
		width: 100%;
		float: right;
	}
	.blog-left {
		width: 100%;
		float: left;
	}
	.hor-box {
		padding-bottom: 65px;
	}
	.form form input[type=text], form input[type=password], form textarea, form input[type=text].error, form input[type=password].error, form select.error,.form textarea {
		padding: 8px 5px;
		width:90%;
	}
}
@media(max-width:900px){
	.wrap {
		margin: 0px auto;
		width: 820px;
	}

}	
@media(max-width:800px){
	.wrap {
		margin: 0px auto;
		width: 700px;
	}
	.menu ul li a {
		padding: 13px 11px;
	}
}
@media (max-width:736px){
	.wrap {
		margin: 0px auto;
		width: 627px;
	}
	.copy {
		float: none;
		text-align: center;
		margin-bottom: 10px;
	}
	.subcribe {
		float: none;
		padding: 3px;
		margin: 0 auto;
	}
	.desc {
		float: right;
		width: 100%;
		margin-top: 10px;
	}
}
@media(max-width:667px){
	.wrap {
		margin: 0px auto;
		width: 600px;
	}
	.logo {
		float: none;
		margin-left: 0;
		margin-top: 10px;
		text-align: center;
		padding-top: 20px;
	}
	.menu {
		font-size: 14px;
		margin: 0 auto;
		width: 100%;
		float:none;
	}
}
@media(max-width:640px){
	.wrap {
		margin: 0px auto;
		width: 570px;
	}
}
@media(max-width:600px){
	.wrap {
		margin: 0px auto;
		width:458px;
	}
	.menu ul li a {
		padding: 13px 10px;
	}
	.footer {
		padding: 10px;
	}
}
@media(max-width:568px){
	.menu ul li a {
		padding: 13px 7px;
	}

}
@media(max-width:480px){
	.wrap {
		margin: 0px auto;
		width:375px;
	}

}

@media(max-width:414px){

	.wrap {
		margin: 0px auto;
		width: 357px;
	}
	.menu ul li a {
		padding: 13px 5px;
	}

}
@media(max-width:375px){
	.wrap {
		margin: 0px auto;
		width: 337px;
	}
	.menu ul li {
		float: none;
	}
}
@media(max-width:320px){
	.wrap {
		margin: 0px auto;
		width: 285px;
	}
	.subcribe {
        width: 225px;
	}
}