/*
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/

body{
	font-family: 'Offside', cursive;
	font-size:12px;
	background:#cde7f6;
}
.wrap {
	width:1024px;
	margin:0 auto;
	/*background:#e8e8e6;*/
}
.logo{
	margin:25px 0;
	float: left;
	
}
.logo a{
	font-size:50px;
	color:#165d88;
}
.nav {
	float: right;
	margin: 40px 0 0 0; 

}
.nav li {
	display:inline-block;
}
.nav li a {
	color:#719db8;
	font-size:13px;
	display:block;
	margin:10px 15px;
	text-transform:uppercase;
	text-shadow: 0 1px 0 white;
}
.nav li:first-child a,
.nav li a:hover{
	color:#165d88;
}
.main-body{
}
.content{
	float:left;
	border-right:1px solid #fff;
}
.slide img{
	padding: 12px;
	background: #fff;
	box-shadow: 0 0 8px #8ebae3;
	border-bottom: 1px solid #ffffff;
}
.slide{
	padding-bottom: 10px;
}
.hr{
	height: 2px;
	margin: 20px 0;
	background: url('../images/div.png') repeat-x;
}
/*--grids--*/
.grids{
	margin:35px 0;
	
}
.grids li{
	float:left;
	display: inline;
	width: 315px;
	margin:0 39px 0 0; 
	box-shadow: 0 0 8px #8ebae3;
	background: #fff;
	padding-bottom: 10px;

}
.grids li:first-child{
	margin-left: 0;
}
.grids li.last{
	margin-right: 0;
}
.grids h3{
	color: #165d88;
	padding: 10px 0 0 15px;
	background: #fff;
	font-size: 18px;
}
.grids p{
	color: #999;
	padding:8px 15px;
	background: #fff;
	line-height: 1.8em;
}
.grids button{
	color: #fff;
	background: #9ac429;
	background: -moz-linear-gradient(top,  #9ac429 0%, #8fc800 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9ac429), color-stop(100%,#8fc800));
	background: -webkit-linear-gradient(top,  #9ac429 0%,#8fc800 100%);
	background: -o-linear-gradient(top,  #9ac429 0%,#8fc800 100%);
	background: -ms-linear-gradient(top,  #9ac429 0%,#8fc800 100%);
	background: linear-gradient(to bottom,  #9ac429 0%,#8fc800 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9ac429', endColorstr='#8fc800',GradientType=0 );
	padding: 3px 8px;
	border: none;
	border-radius:.2em;
	margin:8px 15px;
	
}
.grids button:hover{
	cursor: pointer;
}
/*gallery*/
.gallery{
	margin:35px 0 0 0;
}
.gallery li{
	float:left;
	display: inline;
	width: 315px;
	margin:0 39px 30px 0; 
	box-shadow: 0 0 8px #8ebae3;
	background: #fff;
	padding-bottom: 10px;
	opacity: .95;

}
.gallery li:first-child{
	margin-left: 0;
}
.gallery li.last{
	margin-right: 0;
}
.gallery h3{
	color: #165d88;
	padding: 10px 0 0 15px;
	background: #fff;
	font-size: 18px;
}
.gallery li:hover{
	cursor: pointer;
	box-shadow: 0 0 2px #8ebae3;
	opacity: 1;
}
/*--text-box--*/
.text-box{
	margin: 30px 0 60px 0; 
}
.text-box p{
	font-size: 13px;
	color: #719DB8;
	line-height: 1.9em;
	text-shadow: 0 1px 0 #fff; 
}
/*--feedback--*/
.feed{
	padding:50px 0;
	margin-bottom:30px;
	font-family: 'Offside', cursive;
}
.feedback{
	font-size:16px;
	padding-bottom:10px;
	color:#464646;
	margin:0 0 0 30px;
	float:left;
}
.feedback h1{
	font-size:28px;
	padding-bottom:10px;
	color:#464646;
}
.feedback div{
	padding:10px;
}
.feedback label{
	color: #165D88;
}
.feedback span{	
	display:block;
	padding:3px 0;
}
.feedback input[type="text"]{
	width:450px;
	padding:5px;
	font-size:16px;
	color:#fff;
	background:#9AC0DB;
	border:none;
	outline: none;
	font-family: 'Offside', cursive;
}
.feedback textarea{
	width:450px;
	height:100px;
	padding:5px;
	font-size:16px;
	background:#9AC0DB;
	border:none;
	font-size:16px;
	color:#fff;
	outline: none;
	font-family: 'Offside', cursive;
}
.feedback input[type="submit"]{
	width:100px;
	padding:7px 0;
	font-size:16px;
	background:#9AC0DB;
	border:none;
	font-size:14px;
	color:##165D88;
	cursor:pointer;
	font-family: 'Offside', cursive;
}
.feedback input[type="submit"]:hover{
	background:#165D88;
	color: #fff;
}
.map{
	float: right;
	margin-right: 30px;
	box-shadow: 0 0 8px #8ebae3;
}
/*--footer--*/
.footer{
	background:#2f2f2f;
	text-align:center;
	padding:20px;
	color:#969485;
}
.footer ul{
	float: left;
}
.footer li{
	margin:5px 10px;
	display:inline-block;
}
.footer li a{
	color:#799ebb;
	font-size:14px;
}
.footer li a:hover{
	color:#fff;
	border-bottom:1px dashed #799ebb;
}
.copy{
	float: right;
	word-spacing:3px;
	padding:10px;
	color:#969485;
}
.copy a{
	color:#799ebb;
}
.copy a:hover{
	color: #fff;
	border-bottom:1px solid #799ebb;
}
@media screen and (max-width: 1024px){
	.wrap {
		width: 88%;
	}
	.grids li {
		width: 30%;
	}
	.slide img {
		padding: 0px;
	}
	.gallery li {
		width: 280px;
		margin: 0 22px 30px 0;
	}
	.map {
		float: none;
		margin-top: 30px;
		margin-left: 30px;
		width:48%;
	}
	.feedback {
		float: none;
	}
}
@media screen and (max-width: 991px){
	.gallery li {
		width: 271px;
	}
	.map {
		width: 50%;
	}
	.feed {
		padding: 10px 0 50px
	}
}
@media screen and (max-width: 900px){
	.logo {
		margin: 25px 0 0;
	}
	.grids li {
		width: 31%;
		margin: 0 27px 0 0;
	}
	.grids h3 {
		font-size: 17px;
	}
	.grids button {
		padding: 5px 11px;
	}
	.footer ul,.copy {
		float: none;
	}
	.gallery li {
		width: 246px;
		margin: 0 19px 30px 0;
	}
	.gallery h3 {
		font-size: 16px;
	}
	.map {
		width: 55%;
	}
}
@media screen and (max-width: 800px){
	.logo a {
		font-size: 45px;
	}
	.grids li {
		width: 32%;
		margin: 0 13px 0 0;
	}
	.gallery li.last,.gallery li,.gallery li:first-child{
		margin: 1em;
		width:46%;
	}
	.map {
		width: 62%;
	}
}
@media screen and (max-width: 768px){
	.grids h3 {
		font-size: 16px;
	}
	.map {
		width: 65%;
	}
}
@media screen and (max-width: 736px){
	.grids li {
		width: 100%;
		margin: 1em 0;
	}
	.grids img {
		margin: 1em;
	}
	.map {
		width: 68%;
	}
}
@media screen and (max-width: 667px){
	.logo a {
		font-size: 39px;
	}
	.gallery li.last, .gallery li, .gallery li:first-child {
		width: 45%;
	}
	.feedback h1 {
		font-size: 25px;
	}
	.map {
		width: 75%;
	}
}
@media screen and (max-width: 640px){
	.logo {
		float: none;
		text-align: center;
		margin: 25px 0 15px;
	}
	.nav {
		float: none;
		text-align: center;
		margin: 0 0 1em;
	}
	.map {
		width: 79%;
	}
}
@media screen and (max-width: 600px){
	.text-box {
		margin: 30px 0 35px 0;
	}
	.gallery h3 {
		font-size: 15px;
	}
	.feedback {
		margin: 0;
	}
	.map {
		margin: 1em 0 0 1em;
		width: 84%;
	}
}
@media screen and (max-width: 568px){
	.feed {
		padding: 10px 0 35px;
	}
	.map {
		width: 88%;
	}

}
@media screen and (max-width: 480px){
	.logo a {
		font-size: 38px;
	}
	.gallery li.last, .gallery li, .gallery li:first-child {
		width: 77%;
		margin-left: 3em;
	}
	.feedback input[type="text"],.feedback textarea {
		width: 97%;
	}
	.map {
		margin: 1em 0 0 0em;
	}
	.map iframe {
		width: 109%;
	}
	.feedback input[type="submit"] {
		width: 90px;
		padding: 4px 0;
	}
	.map iframe {
		width: 100%;
	}
	.copy p {
		line-height: 1.8;
	}
}
@media screen and (max-width: 414px){ 
	.nav li a {
		margin: 10px 10px;
	}
	.gallery li.last, .gallery li, .gallery li:first-child {
		width: 90%;
		margin-left: 1em;
	}
	.footer li {
		margin: 5px 5px;
	}
	.map {
		width: 100%;
	}
}
@media screen and (max-width: 384px){
	.footer {
		padding: 20px 0;
	}
	.nav li a {
		margin: 10px 7px;
	}
	.grids img {
		width: 92%;
	}
}
@media screen and (max-width: 375px){
	.logo a {
		font-size: 30px;
	}
	.grids {
		margin: 20px 0;
	}
	.feedback h1 {
		font-size: 23px;
	}
	.feedback label {
		font-size: 14px;
	}
}
@media screen and (max-width: 320px){
	.nav li a {
		margin: 20px 0;
	}
	.nav li {
		display: block;
	}
	.logo a {
		font-size: 27px;
	}
	.footer li {
		margin: 5px 2px;
	}
	.footer li a {
		font-size: 13px;
	}
	.feedback h1 {
		font-size: 21px;
	}
}
/* -- //Responsive code -- */

