/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body{
	background:url(../images/1.jpg) no-repeat 0px 0px;
	background-attachment: fixed;
    background-position: center;
    background-size: cover;
	font-family: 'Alegreya Sans', sans-serif;
}
.main-agile{
	width:35%;
	margin:50px auto;
	text-align:center;
}

h1 {
    text-align: center;
    color: #fff;
    font-size: 50px;
    margin-top: 50px;
}
/*-- count-down --*/
.simply-countdown-losange {
  overflow: visible;
  display: table;
  font-family: 'Arial', sans-serif;
  width:100%;
}
.simply-countdown-losange > .simply-section {
  width: 24.8%;
  height: 110px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  float: left;
  background:#edca49;
  background:#ed4986;
  border-right: 1px solid rgba(213, 207, 207, 0.57);
}
.simply-countdown-losange > .simply-section > div .simply-amount,
.simply-countdown-losange > .simply-section > div .simply-word {
  display: block;
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
}
span.simply-amount {
    font-size: 45px;
}
/*-- //count-down --*/
.c-bootom-w3{
	background:#fff;
	padding:20px;
}
.c-bootom-w3 h3{
    font-size: 40px;
    color: #000;
    letter-spacing: 2px;
}
.c-bootom-w3 h2{
	font-size:20px;
	color:#000;
	margin:25px 0;
}
.progress_single span {
    padding-left: 11em;
}
.progressbars.progress_single {
    background: #ed4986!important;
}
.progress_single_wrapper {
    background:#e6dddd;
    margin-bottom: 5px;
    margin: 0 auto;
    width: 80%;
}
.sign-up-w3l {
    background: #ececec;
	padding:20px 30px;
}
.sign-up-w3l h3{
	text-align:left;
	color:#000;
	font-size:25px;
}
.sign-up-w3l p{
	font-size:14px;
	color:#000;
	line-height:27px;
	text-align:left;
	margin:25px 0;
	font-family: 'Open Sans', sans-serif;
}
.sign-up-w3l input[type="text"]{
	padding:12px;
	border:none;
	outline:none;
	width:60%;
}
.sign-up-w3l input[type="submit"] {
    padding: 12px 20px;
    border: none;
    outline: none;
    background: #ed4986;
    color: #fff;
	cursor:pointer;
}
p.agileinfo {
    color: #fff;
    margin: 20px 0;
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	text-align:center;
}
p.agileinfo a{
	color:#fff;
}
p.agileinfo a:hover{
	text-decoration:underline;
}

/*--responsive--*/
@media (max-width:1366px){
	.main-agile {
		width: 37.6%;
	}
}
@media (max-width:1280px){
	.main-agile {
		width: 40%;
	}
}
@media (max-width:1080px){
	h1 {
		font-size: 45px;
		margin-top: 45px;
	}
	span.simply-amount {
		font-size: 42px;
	}
	.main-agile {
		width: 47%;
	}
	.progress_single span {
		padding-left: 8em;
	}
	.c-bootom-w3 h3 {
		font-size: 35px;
	}
}
@media (max-width:1024px){
	.main-agile {
		width: 49%;
	}
}
@media (max-width:991px){
	.main-agile {
		width: 51%;
	}
}
@media (max-width:900px){
	.main-agile {
		width: 55.9%;
	}
}
@media (max-width:800px){
	.main-agile {
		width: 63.5%;
	}
}
@media (max-width:768px){
	.main-agile {
		width: 66.5%;
	}
}
@media (max-width:736px){
	.main-agile {
		width: 69.5%;
	}
}
@media (max-width:667px){
	.main-agile {
		width: 77.3%;
	}
}
@media (max-width:640px){
	h1 {
		font-size: 40px;
		margin-top: 40px;
	}
	.main-agile {
		width: 79.2%;
		margin:40px auto;
	}
}
@media (max-width:600px){
	.main-agile {
		width: 85%;
	}
}
@media (max-width:568px){
	.simply-countdown-losange > .simply-section {
		width: 24.789%;
		height: 99px;
	}
		.main-agile {
		width: 84.9%;
	}
}
@media (max-width:480px){
	h1 {
		font-size: 35px;
		margin-top: 35px;
	}
	span.simply-amount {
		font-size: 35px;
	}
	.simply-countdown-losange > .simply-section {
		width: 24.73%;
	}
	.c-bootom-w3 h3 {
		font-size: 30px;
	}
	.c-bootom-w3 h2 {
		font-size: 18px;
		margin: 18px 0;
	}
	p.agileinfo {
		width:90%;
		margin:20px auto;
		font-size:13px;
	}
}
@media (max-width:414px){
	h1 {
		font-size: 30px;
		margin-top: 30px;
	}
	span.simply-amount {
		font-size: 32px;
	}
	.simply-countdown-losange > .simply-section {
		width: 24.69%;
	}
	.progress_single span {
		padding-left: 5em;
	}
	.sign-up-w3l input[type="text"] {
		width: 58%;
	}
	.sign-up-w3l input[type="submit"] {
		padding: 12px;
	}
}
@media (max-width:384px){
	h1 {
		font-size: 28px;
		margin-top: 25px;
	}
	span.simply-amount {
		font-size: 30px;
	}
	.simply-countdown-losange > .simply-section {
		width: 24.67%;
	}
	.sign-up-w3l {
		padding: 20px;
	}
}
@media (max-width:375px){
	.sign-up-w3l input[type="text"] {
		width: 57%;
	}
}
@media (max-width:320px){
	h1 {
		font-size: 23px;
		margin-top: 20px;
	}
	span.simply-amount {
		font-size: 27px;
	}
	.main-agile {
		width: 87.79%;
	}
	.simply-countdown-losange > .simply-section {
		width: 24.629%;
	}
	span.simply-word{
		font-size:13px;
	}
	.c-bootom-w3 h3 {
		font-size: 24px;
	}
	.c-bootom-w3 h2 {
		font-size: 16px;
	}
	.progress_single span {
		padding-left: 3em;
	}
	.sign-up-w3l p {
		font-size: 13px;
		line-height: 25px;
		margin: 20px 0;
	}
	.sign-up-w3l input[type="text"] {
		padding: 10px;
		width:54%;
	}
	.sign-up-w3l input[type="submit"] {
		padding: 10px 7px;
	}
}