
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body{
	font-family:Arial, Helvetica, sans-serif;
	background:url(../images/body-bg.jpg);
	 transition:all .2s linear;
	-moz-transition:all .2s linear;/* firefox */
	-webkit-transition:all .2s linear; /* safari and chrome */
	-o-transition:all .2s linear; /* opera */
	-ms-transition:all .2s linear;
}
.wrap{
	width:1200px;
	margin:0 auto;
}
.header_top{
	text-align:center;
	padding:30px 0;
}
.header_top p{
	font-size: 18px;
	color: #95947F;
	font-style: italic;
	line-height: 1.8em;
}
.logo{
	padding:19px 0px;
	text-align:center;
}
.menu li{
	display:block;	
}
.menu li a{
	font-family:'Gafata', sans-serif;
	color:#FFF;
	font-size:20px;
	padding:19px 0px;
	display: block;
	text-align:center;
	border-bottom:2px ridge #EC300C;
}
.menu li:nth-child(5) a{
	border:none;
	border-bottom-left-radius:25px;
    -moz-border-bottom-left-radius:25px;
	-webkit-border-bottom-left-radius:25px;
	-o-border-bottom-left-radius:25px;
}
.menu li a:hover{
	background:#A51A0A;
}
.header_bottom_left{
	float:left;
	width:30%;
	border-bottom-left-radius:25px;
    -moz-border-bottom-left-radius:25px;
	-webkit-border-bottom-left-radius:25px;
	-o-border-bottom-left-radius:25px;
	border-top-left-radius:25px;
	-moz-border-top-left-radius:25px;
	-webkit-border-top-left-radius:25px;
	-o-border-top-left-radius:25px;
	background: #dc4323;
	background: -moz-linear-gradient(top,  #dc4323 0%, #cc270e 14%, #c41f09 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dc4323), color-stop(14%,#cc270e), color-stop(100%,#c41f09));
	background: -webkit-linear-gradient(top,  #dc4323 0%,#cc270e 14%,#c41f09 100%);
	background: -o-linear-gradient(top,  #dc4323 0%,#cc270e 14%,#c41f09 100%);
	background: -ms-linear-gradient(top,  #dc4323 0%,#cc270e 14%,#c41f09 100%);
	background: linear-gradient(to bottom,  #dc4323 0%,#cc270e 14%,#c41f09 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dc4323', endColorstr='#c41f09',GradientType=0 );
}
.header_bottom_right_images{
	float:left;
	width:70%;
}
.content h2{ 
	font-size:30px;
	color:#5A5A38;
	padding:5px 0;
	font-family:'Gafata', sans-serif;
}
.grid1{
	width:35%;
	float:left;
	background:#FFF;
	box-shadow: 0px 0px 7px #808080;
	-moz-box-shadow: 0px 0px 7px #808080;
    -webkit-box-shadow: 0px 0px 7px #808080;
	-o-box-shadow: 0px 0px 7px #808080;
}
.grid_desc{
	padding:25px;
}
.grid1_desc{
	border-bottom:1px solid #d6d5d5;
}
.grid1 p span{
	font-size:12px;
	color:#E65B56;
	font-weight:bold;
}
.grid1 img{
	border: 1px solid #FFF;
}
.grid1 p{
    font-size:12px;
    color:#9FA08F;
    line-height:1.8em;
    padding:5px 0;
}
.grid1 h5{
	font-size:12px;
	color:#E65B56;
	cursor:pointer;
	font-weight:bold;
	padding-right:35px;
    margin-top:15px;
    text-align:right;
	background:url(../images/list_img2.png) no-repeat right 2px;
}
.grid1 h5:hover{
	text-decoration:underline;
}
.grid2{
	width:25%;
	float:left;
	margin:0px 2%;	
	background:#FFF;
	box-shadow: 0px 0px 7px #808080;
	-moz-box-shadow: 0px 0px 7px #808080;
    -webkit-box-shadow: 0px 0px 7px #808080;
	-o-box-shadow: 0px 0px 7px #808080;
}
.grid2_data{
	padding:15px 0;
	border-bottom:1px solid #d6d5d5;
}
.grid2 img{
	border:1px solid #FFF;
}
.grid2_desc p span{
	font-size:16px;
	font-weight:bold;
	color:#E65B56;
}
.grid2_desc p{
    font-size:14px;
    color: #A5A4A4;
     padding:6px 0;
     line-height:1.6em;
}
.grid2 h5{
	font-size:12px;
	color:#E65B56;
	cursor:pointer;
	font-weight:bold;
	padding-right:35px;
    margin-top:12px;
    text-align:right;
	background:url(../images/list_img2.png) no-repeat right 2px;
}
.grid2 h5:hover{
	text-decoration:underline;
}
.grid3{
	float:left;
	width:36%;
	background:#FFF;
	box-shadow: 0px 0px 7px #808080;
	-moz-box-shadow: 0px 0px 7px #808080;
    -webkit-box-shadow: 0px 0px 7px #808080;
	-o-box-shadow: 0px 0px 7px #808080;	
}
.sub_grid_img img{
	border:1px solid #EEE;
}
.sub_grid{
    float:left;
    width:48%;
}
.sub_grid_data{
	padding:5px 0;
	  border-bottom:1px solid #d6d5d5;
}
.sub_grid_data h4{
	color:#E65B56;
	font-size:16px;
    font-weight:bold;
    padding:5px 0;	
 }
.sub_grid_data p{
	font-size:12px;
    color:#9FA08F;
    line-height:1.6em;
    padding:5px 0;   
}
.sub_grid_data p span{
	color:#707070;
	font-size:13px;
}
.grid3 h5{
	font-size:12px;
	color:#E65B56;
	cursor:pointer;
	font-weight:bold;
	padding-right:35px;
    margin-top:15px;
    text-align:right;
	background:url(../images/list_img2.png) no-repeat right 2px;
}
.grid3 h5:hover{
	 text-decoration:underline;
}
 .footer{
	 background: #999983;
	 box-shadow:inset 2px -1px 8px #494848;
	 margin-top:20px;
 }
  .footer h3{
	 font-size:18px;
	 color: #FFF;
	 margin:5px 0px;
	 border-bottom: 1px dashed #6C704D;
	 padding-bottom:3px;
 }
  .footer_grides{
	 border-bottom: 2px ridge #BBBEA9;
	 padding-top:10px;
 }
  .footer_grid1{
	  float:left;
	  width:23.5%;
	  padding-left:2%;
 }
  .grid1_data{
	  margin:8px 0;
 }
  .grid1_data p{
	  font-size:12px;
      color:#444;
      line-height:1.6em;
 }
  .footer_grid2{
	 float:left;
	 width:23.5%;
	 padding-left:2%;
 }
 .footer_grid2 p{
	 font-size:12px;
	 color:#444;
	 line-height:1.8em;
 }
 .footer_grid2 p a{
 	 color:#444;
 	 font-size:12px;
 	 padding-top:5px;
 }
 .footer_grid2 p a:hover{
 	 color:#D10700;
 }
 .footer_grid3{
	 float:left;
	 width:23.5%;
	 padding-left:2%;
 }
 .f_menu li{
	 display:block;
	 margin:8px 0;
 }
 .f_menu li a{
	color:#444;
	font-size:13px;
 }
 .f_menu li a:hover{
	color:#D10700;
 }
 .footer_grid4{
	float:left;
	width:23.5%;
	padding-left:2%;
 }
 .img_list li {
	 display:block;
	 margin:10px 0;
 } 
 .img_list li a{
	 font-size:13px;
	 color:#444;
	 margin:10px;
 }
  .img_list li a:hover{
	 color:#D10700;
 }
  .img_list img{
	 vertical-align:middle;
 }
 .f_bottom{
	 border-top: 1px solid #1F1F1F;
	 background:#111;
	 padding:20px 0
 }
 .f_bottom p{
	text-align:center;
	color:#444;
	font-size:12px;
	margin-top:5px;
 }
 .f_bottom p a{
	text-decoration:none;
	color:#EEE;
 }
 .f_bottom p a:hover{
	text-decoration:underline;
	color:#E65B56;
 }
 .copy_right{
	text-align:center;
	padding:15px 0;
 }
 .copy_right p{
	font-size:12px;
	color:#444;
 }
 .copy_right p a{
    color: #414141;
	font-size:12px;
	text-decoration:underline;
 }
 .copy_right p a:hover{
	color:#202020;
	text-decoration:none;
 }
 /* About */
.about_data{
	float:left;
	width:70%;
	background:#FFF;
	box-shadow: 0px 0px 7px #808080;
	-moz-box-shadow: 0px 0px 7px #808080;
    -webkit-box-shadow: 0px 0px 7px #808080;
	-o-box-shadow: 0px 0px 7px #808080;
}
.about_desc{
	float:left;
	width:48%;
}
.about_desc img{
	padding:5px;
	background: #F1F1F1;
	border: 1px solid #DDD;
	margin:10px 0;
}
.about_desc p{
	font-size:12px;
	color:#9FA08F;
	line-height:1.8em;
}
.about_desc h5{
	font-size:12px;
	color:#E65B56;
	cursor:pointer;
	font-weight:bold;
	padding:13px 35px 0 35px;
    margin-top:8px;
    text-align:right;
	background:url(../images/list_img2.png) no-repeat right 15px;
	border-top:1px solid #d6d5d5;
}
.about_desc h5:hover{
	text-decoration:underline;
}
.sidebar{
	float:left;
	width:28%;
	margin-left:2%;
	background:#FFF;
	box-shadow: 0px 0px 7px #808080;
	-moz-box-shadow: 0px 0px 7px #808080;
    -webkit-box-shadow: 0px 0px 7px #808080;
	-o-box-shadow: 0px 0px 7px #808080;
}
.sidebar_top li{
	font-size:12px;
	color:#9FA08F;
	padding:8px 24px;
	background:url(../images/arrow.png) no-repeat 0;
	list-style:none;
	cursor:pointer;
}
.sidebar_top li:hover{
	color:#C82B16;
    background:url(../images/arrow-hover.png) no-repeat 0;
}
.sidebar_bottom{
	padding-top:10px;
}
.posts{
	padding:10px 0;
	border-bottom:1px solid #EEE;
}
.date{
	float:left;
	width:15%;
	background:url(../images/date-bg.png) no-repeat;
 }
.posts figure{
	font-weight:bold;
	font-size:10px;
	color:#FFF;
	text-align:center;
	padding-bottom:13px;
 }
 .posts figure span{
	 font-size:20px;
	 line-height:35px; 
	 color:#FFF;
	 display:block;
	 margin-bottom:-10px;
 }
 .post_desc{
	 float:left;
     padding-left:3%;
     width:75%;
 }
 .post_desc li{
	color:#9FA08F;
	font-size:12px;
	list-style:none;
	cursor:pointer;
	padding:3px 0;
 }
 .post_desc li span{
 	color:#9C9980;
 	text-decoration:underline;
 }
 .post_desc li span:hover{
 	text-decoration:none;
 	color:#C82B16;
 }
 .post_data{
 	padding-top:10px;
 }
 .post_data p span{
     font-size:15px;
     font-weight:bold;
 }
 .post_data p{
     font-size:12px;
    color:#9FA08F;
    line-height:1.6em;
 }
/* Services */
.box1{
	float:left;
	width:23.5%;
	background:#FFF;
	box-shadow: 0px 0px 7px #808080;
	-moz-box-shadow: 0px 0px 7px #808080;
    -webkit-box-shadow: 0px 0px 7px #808080;
	-o-box-shadow: 0px 0px 7px #808080;
}
.box2{
	float:left;
	width:23.5%;
	margin:0 2%;
	background:#FFF;
	box-shadow: 0px 0px 7px #808080;
	-moz-box-shadow: 0px 0px 7px #808080;
    -webkit-box-shadow: 0px 0px 7px #808080;
	-o-box-shadow: 0px 0px 7px #808080;
}
.box_desc{
	padding:15px;
}
.box_desc img{
	border: 1px solid #F1F1F1;
}
.service_desc{
	padding-top:10px;
}
.service_desc h4{
	font-size:13px;
	color:#F86B58;
	font-weight:bold;
}
.service_desc p{
	color: #BABBA8;
	font-size:12px;
	line-height:1.6em;
}
/* Gallery */
.gallery{
	float:left;
	width:30%;
}
.gallery2{
	float:left;
	width:30%;
	margin:0 5%;
}
.gallery h5{
	font-size:12px;
	color:#E65B56;
	cursor:pointer;
	font-weight:bold;
	padding:6px 35px;
    text-align:right;
	background:url(../images/list_img2.png) no-repeat right 8px;
}
.gallery h5:hover{
	text-decoration:underline;
}
.gallery_img{
	padding:8px 0;
}
.img_desc p{
	font-size:14px;
    color:#F86B58;
    font-weight:bold;
    padding:10px 0;
}
.gallery_img img{
	border:1px solid #DDD;
}
/* contact us */
.feedback{
    padding:0px 0 25px 0;
    position:relative;
}
.form-1{
	float:left;
	width:48%;
}
.form-2{
	float:left;
	width:48%;
	margin-left:4%;
}
form label{
	font-size:13px;
	color:#9FA08F;
}
.feedback form input[type="text"],.feedback textarea{
	padding:8px;
	font-size:12px;
	margin:3px 0 10px 0;
    display:block;
	width:95%;
	background:none;
	border: 1px solid #E4E6D4;
	outline:none;
	color:#666147;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.05) inset;
   -moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.05) inset;
   -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.05) inset;
    font-family:Arial, Helvetica, sans-serif;		
}
.feedback textarea{
	resize:none;
	height:145px;	
}
 .feedback form input[type="text"]:focus,.feedback textarea.active { 
    border: 1px solid #CACAB5;  
}
.feedback form input[type="submit"]{
	    border            : 1px solid #8f8f8f;
        background        : #d7d7d7;
        background        : url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q3ZDdkNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhOGE4YTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background        : -moz-linear-gradient(top,  #d7d7d7 0%, #a8a8a8 100%);
        background        : -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d7d7d7), color-stop(100%,#a8a8a8));
        background        : -webkit-linear-gradient(top,  #d7d7d7 0%,#a8a8a8 100%);
        background        : -o-linear-gradient(top,  #d7d7d7 0%,#a8a8a8 100%);
        background        : -ms-linear-gradient(top,  #d7d7d7 0%,#a8a8a8 100%);
        background        : linear-gradient(top,  #d7d7d7 0%,#a8a8a8 100%);
        filter            : progid:DXImageTransform.Microsoft.gradient( startColorstr='#d7d7d7', endColorstr='#a8a8a8',GradientType=0 );
        color             : #303030;
        text-shadow       : 1px 1px 0 rgba(255, 255, 255, 0.5);  
    	cursor:pointer;
    	font-family:Arial, Helvetica, sans-serif;
    	font-size:12px;
    	border-radius:3px;
   		-webkit-border-radius:3px;
   		-moz-border-radius:3px;
   		-o-border-radius:3px;
    	padding:6px 10px;
    	position:absolute;
    	right:10px;
}
.feedback form input[type="submit"]:hover{
        background        : #d8d8d8;
        background        : url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q4ZDhkOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjOWM5YzkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background        : -moz-linear-gradient(top,  #d8d8d8 0%, #c9c9c9 100%);
        background        : -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d8d8d8), color-stop(100%,#c9c9c9));
        background        : -webkit-linear-gradient(top,  #d8d8d8 0%,#c9c9c9 100%);
        background        : -o-linear-gradient(top,  #d8d8d8 0%,#c9c9c9 100%);
        background        : -ms-linear-gradient(top,  #d8d8d8 0%,#c9c9c9 100%);
        background        : linear-gradient(top,  #d8d8d8 0%,#c9c9c9 100%);
        filter            : progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8d8d8', endColorstr='#c9c9c9',GradientType=0 ); 
	 box-shadow: 0 -1px 1px rgba(0,0,0,0.2) inset, 0 1px 1px rgba(255,255,255,0.8) inset, 1px 2px 2px -1px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 -1px 1px rgba(0,0,0,0.2) inset, 0 1px 1px rgba(255,255,255,0.8) inset, 1px 2px 2px -1px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 -1px 1px rgba(0,0,0,0.2) inset, 0 1px 1px rgba(255,255,255,0.8) inset, 1px 2px 2px -1px rgba(0,0,0,0.3);
}
.feedback form input[type="submit"]:active{
        background        : #c9c9c9;
        background        : url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M5YzljOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhOWE5YTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background        : -moz-linear-gradient(top,  #c9c9c9 0%, #a9a9a9 100%);
        background        : -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c9c9c9), color-stop(100%,#a9a9a9));
        background        : -webkit-linear-gradient(top,  #c9c9c9 0%,#a9a9a9 100%);
        background        : -o-linear-gradient(top,  #c9c9c9 0%,#a9a9a9 100%);
        background        : -ms-linear-gradient(top,  #c9c9c9 0%,#a9a9a9 100%);
        background        : linear-gradient(top,  #c9c9c9 0%,#a9a9a9 100%);
        filter            : progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9c9c9', endColorstr='#a9a9a9',GradientType=0 );
        box-shadow        : inset 0 2px 5px 0 #a0a0a0;
        -moz-box-shadow   : inset 0 2px 5px 0 #a0a0a0;
        -webkit-box-shadow: inset 0 2px 5px 0 #a0a0a0;
}
.map{
	border:1px solid #DDD;
}
.address li{
	font-size:12px;
	color:#9FA08F;
	margin:8px 0;
	list-style-type:none;	
}
.address li span{
	font-weight:bold;
}
.address li a{
	color:#000;
}
.address li a:hover{
	text-decoration:underline;
}
 .sub_grid:nth-child(3){
	margin-left:4%;
}
@media all and (max-width:1280px) and (min-width:1024px){
	.wrap{
		width:984px;
		padding:0 40px;
	}
  .logo {
	padding: 8px 10px;
  }
 .menu li a {
  	padding:14px 0;
  }
  .grid_desc {
	padding:15px;
 }
  .grid1 p {
  	padding:3px 0;
  } 
  .grid1 h5 {
	margin-top:12px;
 }
  .grid2_data {
  	padding:29px 0;
  }
  .grid2 h5 {
  	margin-top:13px;
  }
  .sub_grid_data {
  	padding:0;
  }
  .about_desc img {
  	width:97%;
  	padding:3px;
  	margin:2px 0;
  }
  .about_desc h5 {
  	padding:9px 35px 0 0px;
  	margin-top:5px;
  	background: url(../images/list_img2.png) no-repeat right 11px;
  }
  .date {
  	width:18%;
  }
  .service_desc {
  	padding:0px;
  }
  .service_desc h4 {
  	padding-top:5px;
  }
  .gallery_img {
	padding: 28px 0;
   }
  .gallery h5 {
  	padding:10px 35px;
  	background: url(../images/list_img2.png) no-repeat right 12px;
  }
  .post_data {
  	padding:5px 0;
  }
  .sidebar_top li {
  	padding:8px 20px;
  }
  .feedback {
  	padding:0px 0 24px 0;
  }
}
 @media all and (max-width:1024px) and (min-width:800px){
 	.wrap{
 		width:760px;
 		padding:0 20px;
 	}
 	.header_top{
 		padding:20px 0;
 	}
    .header_top p{
    	line-height:1.6em;
    }
 	.logo {
 		padding:10px 10px;
 	}
 	.menu li a {
 		padding:8px 0;
 		font-size:18px;
 	}
 	.content h2{
 		font-size:25px;
 	}
 	.content{
 		padding:0;
 	}
 	.grid_desc {
 		padding:10px;
 	}
 	.grid1 p {
 		padding:0;
 	}
 	.grid2_data {
 		padding:26px 0;
 	}
 	.grid2 h5 {
 		margin-top:14px;
 	}
 	.sub_grid_data h4 {
 		padding:0;
 		font-size:12px;
 	}
    .sub_grid_data{
    	padding:0;
    }
 	.sub_grid_data p {
 		padding:2px 0;
 	}
 	.about_desc img {
 		padding:3px;
 		width:96%;
 		margin:0px;
 	}
 	.about_desc p {
 		line-height:1.6em;
 	}
 	.posts {
 		padding:12px 0;
 	}
 	.date {
 		width:21%;
 	}
 	.post_data p span {
 		font-size:12px;
 	}
 	.post_data {
 		padding:7px 0;
 	}
 	.about_desc h5 {
 		padding:8px 35px 0 0;
 		margin-top:6px;
 		background: url(../images/list_img2.png) no-repeat right 10px;
 	}
 	.box_desc {
		padding: 10px;
    }
 	.service_desc {
		padding-top: 5px;
   }
   .service_desc h4 {
   	font-size:12px;
   	text-transform:lowercase;
   	padding:0;
  }
  .sidebar_top li {
  	padding:8px 16px;
  }
  .gallery_img img {
  	height:200px;
  }
  .gallery_img {
  	padding:13px 0;
  }
  .gallery h5 {
  	padding: 10px 35px;
  	background: url(../images/list_img2.png) no-repeat right 12px;
  }
  .feedback {
  	padding:15px 0 56px 0;
  }
  .address li {
  	margin:5px 0;
  }
 }
 @media all and (max-width:800px) and (min-width:640px){
 	.wrap{
 		width:90%;
 		padding:0 20px; 
 	}
 	.header_top{
 		padding:15px 0;
 	}
 	.header_top p {
 		font-size:14px;
 		line-height:1.6em;
 	}
 	.logo{
 		padding:10px 0;
 	}
 	.menu li a {
 		font-size:14px;
 		padding:6px 0;
 	}
 	.content{
 		padding:0;
 	}
 	.grid_desc {
		padding:20px;
	}
	.grid1,.grid2,.grid3{
		float:inherit;
		width:100%;
	}
	.grid1 img{
		width:100%;
	}
	.grid2{
		margin:3% 0;
	}
	.grid2 h5 {
		background:none;
	}
	.grid2_data{
		float:left;
		width:50%;
		padding:0;
		text-align:center;
	}
	.footer {
		margin-top:15px;
	}
	.about_data,.sidebar{
		float:inherit;
		width:100%;
	}
	.about_desc img {
		width:97%;
		margin:0;
		padding:3px;
	}
	.sidebar{
		margin:3% 0 0 0;
	}
	.sidebar_top{
		float:left;
		width:43%;
	}
	.sidebar_bottom{
		float:left;
		width:50%;
		padding:0 0 0 6%;
		border-left:1px solid #E0E0D9;
	}
	.post_data {
		padding:0;
	}
	.box_desc {
		padding:20px;
	}
	.box1{
		float:inherit;
		width:100%;
		margin-bottom:3%;
	}
	.box2{
		float:inherit;
		width:100%;
		margin:0 0 3% 0;
	}
	.service_desc {
		padding:5px 0;
	}
	.img_desc p {
		padding:0;
	}
	.address{
		float:left;
		width:43%;
	}
	.date {
    width: 13%;
}
 }
 @media all and (max-width:640px) {
 	.header_top {
 		padding:10px;
 	}
 	.header_top p {
 		font-size:13px;
 		line-height:1.6em;
 	}
 	.header_bottom_left,.header_bottom_right_images{
 		float:inherit;
 		width:100%;
   }
   .header_bottom_left{
   	border-bottom-left-radius:0px;
    -moz-border-bottom-left-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-o-border-bottom-left-radius:0px;
   }
   .menu li:nth-child(5) a{
   	border-radius:0px;
   }
   .header_bottom_right_images{
   		margin-top:4%;
   }
   .logo{
   	padding:10px 0;
   }
   .menu li a {
   	 font-size:16px;
   	 padding:10px 0;
   }
   .content{
   	padding:0;
   }
   .content h2{
 		font-size:25px;
 	}
 	.grid_desc {
 		padding:15px;
 	}
 	.grid1,.grid2,.grid3{
		float:inherit;
		width:100%;
	}
	.grid1 img{
		width:100%;
	}
	.grid2{
		margin:3% 0;
	}
	.grid2 h5 {
		background:none;
	}
	.grid2_data{
		float:left;
		width:50%;
		padding:0;
		text-align:center;
	}
	.grid2_desc p {
		font-size:12px;
		padding:0;
	}
	.grid2_desc p span{
		font-size:13px;
	}
	.footer{
		margin-top:3%;
	}
	.footer h3{
		font-size:16px;
	}
	.about_data,.sidebar{
		float:inherit;
		width:100%;
	}
	.about_desc img {
		width:97%;
		margin:0;
		padding:3px;
	}
	.sidebar{
		margin:3% 0 0 0;
	}
	.sidebar_top{
		float:left;
		width:45%;
	}
	.sidebar_top li {
		padding:8px 0 8px 16px;
	}
	.sidebar_bottom{
		float:left;
		width:50%;
		padding:0 0 0 4%;
		border-left:1px solid #E0E0D9;
	}
	.date {
		width:19%;
	}
	.post_data {
		padding:0;
	}
	.post_data p span {
		font-size:13px;
	}
	.box_desc {
		padding:20px;
	}
	.box1{
		float:inherit;
		width:100%;
		margin-bottom:3%;
	}
	.box2{
		float:inherit;
		width:100%;
		margin:0 0 3% 0;
	}
	.service_desc {
		padding:5px 0;
	}
	.img_desc p {
		padding:0;
	}
	.img_desc p {
		font-size:12px;
	}
	.address{
		float:left;
		width:43%;
	}	
 }
@media all and (max-width:600px) {
.wrap{
 	width:90%;
 }
}
@media all and (max-width:480px) {
 	.header_top {
 		padding:10px;
 	}
 	.header_top p {
 		font-size:13px;
 		line-height:1.6em;
 	}
 	.header_bottom_left,.header_bottom_right_images{
 		float:inherit;
 		width:100%;
   }
   .header_bottom_left{
   	border-bottom-left-radius:0px;
    -moz-border-bottom-left-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-o-border-bottom-left-radius:0px;
   }
   .menu li:nth-child(5) a{
   	border-radius:0px;
   }
   .header_bottom_right_images{
   		margin-top:5%;
   }
   .logo{
   	padding:10px 20px;
   }
   .menu li a {
   	 font-size:16px;
   	 padding:10px 0;
   }
   .content{
   	padding:0;
   }
   .content h2{
 		font-size:25px;
 	}
 	.grid_desc {
 		padding:15px;
 	}
 	.grid1,.grid2,.grid3{
		float:inherit;
		width:100%;
	}
	.grid1 p {
		line-height:1.6em;
		padding:2px 0;
	}
	.grid1 img{
		width:100%;
	}
	.grid2{
		margin:3% 0;
	}
	.grid2 h5 {
		background:none;
	}
	.grid2_data{
		float:inherit;
		width:100%;
		padding:0;
	}
	.grid2_desc p {
		font-size:12px;
		padding:0;
	}
	.grid2 img {
		width:100%;
	}
	.grid2_desc p span{
		font-size:13px;
	}
	.sub_grid_data h4 {
		font-size:12px;
	}
	.sub_grid_data p {
		padding:0;
	}	
	.footer{
		margin-top:3%;
	}
	.footer_grides{
		padding:10px;
	}
	.footer h3{
		font-size:16px;
	}
	.footer_grid1,.footer_grid2,.footer_grid3,.footer_grid4 {
		float:inherit;
		width:100%;
	}
	.footer_grid1,.footer_grid3{
		padding:0;
	}
	.f_menu,.img_list{
 		margin:10px 0;
  }
	.f_menu li {
		display:inline;
	}
	.f_menu li a{
		margin:0 6px;		
	}
	.img_list li {
		display:inline;
	}
	.img_list li a{
		font-size:12px;
		margin:0 1px;
	}
	.about_data,.sidebar{
		float:inherit;
		width:100%;
	}
	.about_desc{
		float:inherit;
		width:100%;
	}
	.about_desc h5 {
		padding:5px 35px 15px 0;
		background: url(../images/list_img2.png) no-repeat right 8px;
	}
	.about_desc img {
		width:97%;
		margin:0;
		padding:3px;
	}
	.sidebar{
		margin:3% 0 0 0;
	}
	.sidebar_top li {
		padding:5px 20px;
	}
	.date {
		width:15%;
	}
	.post_data {
		padding:0;
	}
	.post_data p span {
		font-size:13px;
	}
	.box_desc {
		padding:20px;
	}
	.box1{
		float:inherit;
		width:100%;
		margin-bottom:3%;
	}
	.box2{
		float:inherit;
		width:100%;
		margin:0 0 3% 0;
	}
	.service_desc {
		padding:2px 0;
	}
	.gallery,.gallery2{
		float:inherit;
		width:100%;
	}
	.gallery2{
		margin:0;
	}
	.gallery_img{
		padding:5px 0;
	}
	.img_desc p {
		padding:0;
	}
	.img_desc p {
		font-size:12px;
	}
	.form-1,.form-2{
		float:inherit;
		width:100%;
	}
	.form-2{
		margin:0;
	}
	.feedback form input[type="text"], .feedback textarea {
		margin:3px 0 5px 0;
	}
	.feedback form input[type="submit"] {
		right:0;
	}
	.gallery_img img {
    width: 100%;
}

}
@media all and (max-width:384px) {
.wrap{
 	width:89%;
 }
 .sub_grid {
    float: left;
    width: 100%;
	margin-bottom:1.5em;
}
 .sub_grid:nth-child(3){
	margin-left:0em;
}
.sub_grid_img img {
    width: 100%;
}
.sidebar_top {
    float: left;
    width: 100%;
}
.sidebar_bottom {
    float: left;
    width: 100%;
    padding: 0 0 0 0%;
    border-left: none;
}
}
@media all and (max-width:375px) {
.wrap{
 	width:88%;
 }
}
@media all and (max-width:320px) {
.wrap{
 	width:87%;
 }
}