/*
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/

body{
	font-family: 'Verdana', cursive;
	font-size:12px;
	background:#222 url(../images/dark-bg.png) ;
}
.wrap {
	width:1024px;
	margin:0 auto;
	background:#222 url(../images/bg.png);
	box-shadow: 0 0 8px #000;
}
.logo{
	margin:20px 10px;
	float: left;
	
}
.logo a{
	font-size:50px;
	color:#165d88;
}
.nav {
	float: right;
	margin:0 10px 0 0; 

}
.nav li {
	display:inline-block;
}
.nav li a {
	color:#666;
	font-size:13px;
	display:block;
	padding:45px 15px 15px 15px;
	text-transform:uppercase;
}
.nav li:first-child a,
.nav li a:hover{
	color:#eee;
	background: rgb(169,3,41);
	background: -moz-linear-gradient(top,  rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(169,3,41,1)), color-stop(44%,rgba(143,2,34,1)), color-stop(100%,rgba(109,0,25,1)));
	background: -webkit-linear-gradient(top,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%);
	background: -o-linear-gradient(top,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%);
	background: -ms-linear-gradient(top,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%);
	background: linear-gradient(to bottom,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 );
	box-shadow:0 0 2px #222;
	border-bottom: 1px solid #060000;
}
.main-body{
}
.content{
	float:left;
	border-right:1px solid #fff;
}
.slider img{
	background: #fff;
	box-shadow: 0 0 8px #000;
}
.slider{
	padding-bottom: 10px;
	text-align: center;
}
.hr{
	height: 2px;
	margin: 20px 13px;
	background: url('../images/div.png') repeat-x;
}
/*--grids--*/
.grids{
	margin:35px 0;
	
}
.grids li{
	float:left;
	display: inline;
	width: 315px;
	margin:0 13px 0 13px; 
	box-shadow: 0 0 8px #000;
	background: #222;
	padding-bottom: 10px;

}
.grids li img{
	display: block;	
}
.grids li.last{
	margin-right: 0;
}
.grids h3{
	color: #eee;
	padding: 10px 0 0 15px;
	background: #222;
	font-size: 18px;
}
.grids p{
	color: #555;
	padding:8px 15px;
	background: #222;
	line-height: 1.8em;
}
.grids div{
	float: left;
	width: 250px;
}
.grids button{
	float: right;
	color: #fff;
	background: rgb(169,3,41);
	background: -moz-linear-gradient(top,  rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(169,3,41,1)), color-stop(44%,rgba(143,2,34,1)), color-stop(100%,rgba(109,0,25,1)));
	background: -webkit-linear-gradient(top,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%);
	background: -o-linear-gradient(top,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%);
	background: -ms-linear-gradient(top,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%);
	background: linear-gradient(to bottom,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 );
	box-shadow:0 0 2px #222;
	border-bottom: 1px solid #060000;
	border: none;
	border-radius:.2em;
	margin:15px 15px;
	height: 65px;
	opacity: .6;
}
.grids button:hover{
	cursor: pointer;
	opacity: 1;
}
/*gallery*/
.gallery{
	margin:35px 0 0 0;
}
.gallery li{
	float:left;
	display: inline;
	width: 315px;
	margin:0 13px 30px 13px; 
	box-shadow: 0 0 8px #222;
	background: #222;
	padding-bottom: 10px;
	opacity: .95;

}
.gallery li img{
	width: 315px;
}
.gallery li.last{
	margin-right: 0;
}
.gallery h3{
	color: #888;
	padding: 10px 0 0 15px;
	font-size: 18px;
}
.gallery li:hover{
	cursor: pointer;
	box-shadow: 0 0 2px #111;
	opacity: 1;
}
/*--text-box--*/
.text-box{
	margin:40px 15px 0 15px; 
	padding-bottom:20px;
}
.text-box p{
	font-size: 13px;
	color: #aaa;
	line-height: 2em;
	text-shadow: 0 1px 0 #000; 
}
/*--feedback--*/
.feed{
	padding:50px 0;
	margin-bottom:30px;
	font-family: 'Offside', cursive;
}
.feedback{
	font-size:16px;
	padding-bottom:10px;
	color:#464646;
	margin:0 0 0 30px;
	float:left;
}
.feedback h1{
	font-size:28px;
	padding-bottom:10px;
	color:#999;
	text-shadow: 0 1px 0 #000; 
}
.feedback div{
	padding:10px;
}
.feedback label{
	color: #888;
	text-shadow: 0 1px 0 #000; 
}
.feedback span{	
	display:block;
	padding:3px 0;
}
.feedback input[type="text"]{
	width:450px;
	padding:5px;
	font-size:16px;
	color:#fff;
	background: #222 url(../images/dark-bg.png);
	border:none;
	outline: none;
	font-family: 'Offside', cursive;
}
.feedback textarea{
	width:450px;
	height:100px;
	padding:5px;
	font-size:16px;
	background: #222 url(../images/dark-bg.png);
	border:none;
	font-size:16px;
	color:#fff;
	outline: none;
	font-family: 'Offside', cursive;
}
.feedback input[type="submit"]{
	width:100px;
	padding:7px 0;
	font-size:16px;
	color:#eee;
	background: rgb(169,3,41);
	background: -moz-linear-gradient(top,  rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(169,3,41,1)), color-stop(44%,rgba(143,2,34,1)), color-stop(100%,rgba(109,0,25,1)));
	background: -webkit-linear-gradient(top,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%);
	background: -o-linear-gradient(top,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%);
	background: -ms-linear-gradient(top,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%);
	background: linear-gradient(to bottom,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 );
	box-shadow:0 0 2px #222;
	border-bottom: 1px solid #060000;
	text-shadow: 0 1px 0 #000; 
	border:none;
	font-size:14px;
	color:##165D88;
	cursor:pointer;
	font-family: 'Offside', cursive;
}
.feedback input[type="submit"]:hover{
	background: #eeeeee;
	background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc));
	background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%);
	background: -o-linear-gradient(top,  #eeeeee 0%,#cccccc 100%);
	background: -ms-linear-gradient(top,  #eeeeee 0%,#cccccc 100%);
	background: linear-gradient(to bottom,  #eeeeee 0%,#cccccc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );
	border: 1px solid #aaa;
	color: #222;
	text-shadow: none;
}
.map{
	float: right;
	margin-right: 30px;
	box-shadow: 0 0 8px #111;
}
/*--footer--*/
.footer{
	padding:20px;
	color:#969485;
}
.footer ul{
	float: left;
	width: 310px;
	margin: 0 5px 0 10px;
}
.footer ul h3{
	color: #ddd;
	font-size: 18px;
	border-bottom: 1px solid #222;
	padding-bottom: 5px;
	width: 280px;
}
.footer li{
	margin:10px 0;
}
.footer li a{
	color:#888;
	font-size:12px;
	text-shadow: 0 1px 0 #000; 
}
.footer li a:hover{
	color:#fff;
}
.copy{
	text-align: center;
	word-spacing:3px;
	padding:30px 0;
	margin: 10px 0;
	color:#969485;
	background: #222 url(../images/dark-bg.png);
}
.copy a{
	color:#A90329;
}
.copy a:hover{
	color: #fff;
	border-bottom:1px solid #A90329;
}
iframe{
	width:100%!important;
}
/*--responsive--*/

@media(max-width:1050px){
	.wrap {
		margin: 0px auto;
		width: 945px;
	}
	.grids li {
		width:293px;
	}
}
@media(max-width:1024px){
	.wrap {
		width: 961px;
	}
}
@media(max-width:991px){

	.wrap {
		margin: 0px auto;
		width: 897px;
	}

}
@media(max-width:900px){
	.wrap {
		margin: 0px auto;
		width: 820px;
	}

}	
@media(max-width:800px){
	.wrap {
		margin: 0px auto;
		width: 700px;
	}
	
}
@media (max-width:736px){
	.wrap {
		margin: 0px auto;
		width: 627px;
	}
	.map {
		float: right;
		margin-right: 0;
		box-shadow: 0 0 8px #111;
		width: 100%;
		margin-top: 40px;
	}
	.feedback {
		margin: 0 0 0 10px;
		float: left;
		width: 100%;
	}
}
@media(max-width:667px){
	.wrap {
		margin: 0px auto;
		width: 600px;
	}
	.logo {
		margin: 29px 0px 0 0;
		float: none;
		text-align: center;
		padding-top: 13px;
	}
	.nav {
		float: none;
		margin: 0 10px 0 0;
		text-align: center;
	}
	.grids li {
		width:84%;
	}
}
@media(max-width:640px){
	.wrap {
		margin: 0px auto;
		width: 570px;
	}
}
@media(max-width:600px){
	.wrap {
		margin: 0px auto;
		width:458px;
	}
	.feedback textarea,.feedback input[type="text"] {
		width:85%;
	}
}
@media(max-width:568px){
	.nav li a {
		padding: 9px 10px;
	}
	.nav li {
		display: block;
	}
	.nav {
		float: none;
		margin: 0 0px 0 0;
		text-align: center;
	}
	.gallery li {
       width: 70%;
	   background:none;
	}
}
@media(max-width:480px){
	.wrap {
		margin: 0px auto;
		width:375px;
	}
	.nav li a {
		padding:10px 10px;
	}
}

@media(max-width:414px){

	.wrap {
		margin: 0px auto;
		width: 357px;
	}
	.grids li {
		width: 91%;
	}
	.footer {
      padding: 0;
	}
	.footer ul {
		float: left;
		width: 95%;
		margin: 0 5px 0 10px;
	}
}
@media(max-width:375px){
	.wrap {
		margin: 0px auto;
		width: 337px;
	}

}
@media(max-width:320px){
	.wrap {
		margin: 0px auto;
		width: 285px;
	}
}
