/*
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body{
	background:#fff;
	font-family: 'Kite One', sans-serif;
}
.header{
		
	
}
.wrap{
	width:1000px;
	margin:0 auto;
}
/*--nav--*/

.h-top{
	background: #722438; 
	background: -moz-linear-gradient(top,  #722438 0%, #8f0222 44%, #9c3552 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#722438), color-stop(44%,#8f0222), color-stop(100%,#9c3552)); 
	background: -webkit-linear-gradient(top,  #722438 0%,#8f0222 44%,#9c3552 100%); 
	background: -o-linear-gradient(top,  #722438 0%,#8f0222 44%,#9c3552 100%); 
	background: -ms-linear-gradient(top,  #722438 0%,#8f0222 44%,#9c3552 100%);
	background: linear-gradient(to bottom,  #722438 0%,#8f0222 44%,#9c3552 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#722438', endColorstr='#9c3552',GradientType=0 ); 
}
.nav {
}
.nav li{
	text-align:center;
	display:inline-block;
}
.nav li a{
	color:#FCF4F6;
	font-size:12px;
	display:block;
	margin: 6px 20px;
}
.nav li a:hover{
	color:#E2D0D6;
}
.h-bottom{
	background: -moz-linear-gradient(top,  #412e3a 4%, #715a6c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(4%,#412e3a), color-stop(100%,#715a6c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #412e3a 4%,#715a6c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #412e3a 4%,#715a6c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #412e3a 4%,#715a6c 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #412e3a 4%,#715a6c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#412e3a', endColorstr='#715a6c',GradientType=0 ); /* IE6-9 */
}
.logo{
	float:left;
	margin:12px 0 0 14px;
	display: block;
}

.h-right{
	float:right;
	margin-right: 10px;
}
.search input[type="text"] {
	border: 1px solid #431b26;
	font-size: 11px;
	width: 300px;
	background: #E2D0D6;
	outline: none;
	margin-top: 14px;
	color:#97495D;
	padding: 3px;
	font-family: 'Kite One', sans-serif;
}
.search input[type="submit"] {
	cursor: pointer;
	color:#FFF;
	border:1px solid #7c283f;
	font-size: 11px;
	background:#7c283f;
	padding: 3px 10px;
	font-family: 'Kite One', sans-serif;
}
.search input[type="submit"]:hover {
	background: #a13957;
}


/*--main--*/

.sidebar{
	width: 250px;
	float:left;
	background: #FCF4F6;
	padding:20px;
}
.sub-sidebar{
	margin-bottom: 20px;
}
h1{
	font-size: 20px;
	color:#b8b8b8;
}
.sidebar-bottom{
	border-bottom: 1px solid #DDDCDC;
	padding-bottom: 10px;
}
.sidebar-bottom h2{
	font-size: 20px;
	color:#b7aeb1;
	margin-bottom: 10px;
	margin-top: 10px;
}
.sidebar-bottom img{
	border: 2px solid #e1d0d6;
	padding: 8px;	
}
.sub-sidebar form{
	padding-bottom: 10px;
	border-bottom: 1px solid #DDDCDC;
}
.sub-sidebar label{
	font-size:14px;
	color:#ccc;
}
.sub-sidebar input[type="text"] {
	border: 1px solid #f5ecef;
	padding: 2px;
	width: 245px;
	outline: none;
	color: #111;
	font-size: 15px;
	background:#fefffe;
	font-family:trebuchet ms, arial, sans-serif;
	margin-bottom: 20px;
}
h3{
	font-size: 20px;
	color:#b7aeb1;
	margin-bottom: 10px;
}	
.s-left{
	float: left;
	margin-top: 10px;
}
.s-left h2{
	color:#F70E5C;
	font-size:14px;
}
.submit{
	float:right;
	margin-top: 5px;
}
.submit input[type="submit"] {
	float:right;
	cursor: pointer;
	color: white;
	border:1px solid #431b26;
	font-size: 11px;
	font-weight: bold;
	border-radius: 4.2em;
	padding: 4px 30px;
	background: -moz-linear-gradient(top,  #412e3a 4%, #715a6c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(4%,#412e3a), color-stop(100%,#715a6c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #412e3a 4%,#715a6c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #412e3a 4%,#715a6c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #412e3a 4%,#715a6c 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #412e3a 4%,#715a6c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#412e3a', endColorstr='#715a6c',GradientType=0 ); /* IE6-9 */
}
.sidebar-nav{
	border-bottom:1px solid #DDDCDC;
	padding-bottom: 10px;
}
.sidebar-nav li{
	list-style-image: url(../images/icon6.png);
	margin-left: 20px;
}
.sidebar-nav li a{
	font-size: 13px;
	color:#999;
	line-height: 2.5em;
}
.content{
	width:710px;
	float:right;
	background:url(../images/bg2.jpg) repeat-x;
	
}
h4{
	font-size: 20px;
	color:#ddd;
	padding: 20px;
}
.content-pic{
	
	margin-left: 70px;
	float: left;
}
.content-pic img{
	margin-right: 15px;
	border: 4px solid #9a8594;
}
.content-bottom{
	background:#e2d0d6;
}
.content-text h5{
	 margin-top: 31px;
	 font-size:20px;
	 color:#89243F;
	 padding-top: 20px;
	 margin-left: 20px;
}
h6{
	 font-size:20px;
	 color:#89243F;
	 padding-top: 20px;
	 margin-left: 20px;
	 margin-bottom: 20px;
}
.content-text p{
	font-size: 14px;
	color: #444;
	line-height: 1.5em;
	padding-top: 10px;
	margin-left: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #C2BDBD;
	margin-right: 20px;
}
.content-img1{
	 padding-top: 15px;	
}
.content-desc{
	width: 204px;
	margin-left: 20px;	
    float:left;
    border-bottom: 1px solid #C2BDBD;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.content-desc h1{
	font-size: 12px;
	color:#fff;
	background: #888;
	margin-bottom: 7px;
	padding-left: 5px;
}
.content-desc img{
	border: 2px solid #c1b3b8;
	padding: 4px;
}
.content-desc p{
	font-size: 12px;
	color:#333;
}
span.hilight{
	color:#89243f;
	font-weight: bold;
}
.c-but input[type="view"] {
	cursor: pointer;
	color: #fff;
	border:1px solid #431b26;
	font-size: 11px;
	font-weight: bold;
	border-radius: 4.2em;
	padding:4px;
	text-align:center;
	margin-bottom: 40px;
	background: -moz-linear-gradient(top,  #412e3a 4%, #715a6c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(4%,#412e3a), color-stop(100%,#715a6c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #412e3a 4%,#715a6c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #412e3a 4%,#715a6c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #412e3a 4%,#715a6c 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #412e3a 4%,#715a6c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#412e3a', endColorstr='#715a6c',GradientType=0 ); /* IE6-9 */
}
.c-but{
	border-bottom: 1px solid #C2BDBD;
	margin-left: 20px;
	margin-right: 20px;
}

/*--footer--*/

.footer{
	background: -moz-linear-gradient(top,  #412e3a 4%, #715a6c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(4%,#412e3a), color-stop(100%,#715a6c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #412e3a 4%,#715a6c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #412e3a 4%,#715a6c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #412e3a 4%,#715a6c 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #412e3a 4%,#715a6c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#412e3a', endColorstr='#715a6c',GradientType=0 ); /* IE6-9 */
	padding:30px;
	height: 190px;
	color:#A0848E;
}	
.footer-nav{
	width:278px;
	float:left;
}
.footer-nav h5,
.footer-nav1 h5,
.footer-nav2 h5 {
	font-size:15px;
	border-bottom: 1px solid #A0848E;
	
	padding-bottom: 10px;
}
.footer-nav li{
	border-bottom: 1px dashed #A0848E;
}
.footer-nav  li a{
	color:#A0848E;
	font-size:13px;
	padding:10px 0;
	display:block;
	padding-left: 5px;
}
.footer-nav  li a:hover{
	color:#E2D0D6;
}
.footer-nav1{
	float:left;
	width:278px;
	margin-left:40px;
}
.footer-nav1 p{
	color:#A0848E;
	font-size:13px;
	line-height: 2.5em;
}
.footer-nav1  h5 {
	font-size:15px;
	border-bottom: 1px solid #A0848E;
	color:#A0848E;
	padding-bottom: 10px;
}
.footer-nav1 p span{
	color:#A0848E;
}
.footer-nav1 p span:hover{
	color:#E2D0D6;
}
span.mail a{
	cursor:pointer;
	color:#fff;
}
.footer-nav2{
	float:left;
	width:278px;
	margin-left:40px;
	}
.footer-nav2 img{
	cursor: pointer;
}	
.footer-nav2  h5 {
	font-size:15px;
	border-bottom: 1px solid #A0848E;
	padding-bottom: 10px;
}
.f-desc{
	border-bottom: 1px dashed #777;
}
.f-pic{
	float:left;
}
	
.f-pic  img{
	padding:10px;	
}
.f-desc1 {
   padding-bottom:10px;
}
.f-desc1   p{
	font-size:13px;
	color:#aaa;
	padding-top: 10px;
    margin-left: 90px;
}
.f-desc1   p span{
	color:#aaa;
	line-height: 1.5em;
}
.copy {
	background:#3d2c36;
	padding:20px;
}
.copy  p{
	font-size:12px;
	color:#fff;
	text-align:center;
}
.copy  a{
	color:#f2aec1;
	font-size: 11px;
}
.copy  a:hover{
	color:#fff;
	text-decoration:underline;
}


/*--contact--*/

.contact{
	
}
.sub-content p{
	font-size: 13px;
	color:#666;
}
.sidebar1{
	width: 250px;
	float:right;
	background: #FCF4F6;
	padding:20px;
}
.sub-sidebar{
	margin-bottom: 20px;
}
 h1{
	font-size: 20px;
	color: #B8B8B8;
}
.sidebar-bottom{
	border-bottom: 1px solid #DDDCDC;
	padding-bottom: 10px;
	margin-bottom: 7px;
}
.sidebar-bottom h2{
	font-size: 20px;
	color:#b7aeb1;
	margin-bottom: 10px;
	margin-top: 10px;
}
.sidebar-bottom img{
	border: 2px solid #e1d0d6;
	padding: 8px;	
}
.sub-sidebar form{
	padding-bottom: 10px;
	border-bottom: 1px solid #DDDCDC;
}
.sub-sidebar label{
	font-size:12px;
	color: #aaa;
}
.sub-sidebar input[type="text"] {
	border: 1px solid #f5ecef;
	padding: 4px;
	width: 245px;
	outline: none;
	color: #111;
	font-size: 12px;
	background:#fefffe;
	font-family:trebuchet ms, arial, sans-serif;
	text-transform: lowercase;
	font-family: 'Kite One', sans-serif;
}
.sub-sidebar input[type="password"] {
	border: 1px solid #f5ecef;
	padding: 4px;
	width: 245px;
	outline: none;
	color: #111;
	font-size: 12px;
	background:#fefffe;
	font-family:trebuchet ms, arial, sans-serif;
	text-transform: lowercase; 
	font-family: 'Kite One', sans-serif;
}
h3{
	font-size: 20px;
	color:#b7aeb1;
	margin-bottom: 10px;
}	
.s-left{
	float: left;
	margin-top: 10px;
}
.s-left h2 a{
	color:#F70E5C;
	font-size:14px;
}
.submit{
	float:right;
	margin-top: 5px;
}
.submit input[type="submit"] {
	float:right;
	cursor: pointer;
	color: white;
	border:1px solid #431b26;
	font-size: 11px;
	font-weight: bold;
	border-radius: 4.2em;
	padding: 4px 30px;
	font-family: 'Kite One', sans-serif;
	background: -moz-linear-gradient(top,  #412e3a 4%, #715a6c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(4%,#412e3a), color-stop(100%,#715a6c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #412e3a 4%,#715a6c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #412e3a 4%,#715a6c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #412e3a 4%,#715a6c 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #412e3a 4%,#715a6c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#412e3a', endColorstr='#715a6c',GradientType=0 ); /* IE6-9 */
}
.sidebar-nav{
	border-bottom:1px solid #DDDCDC;
	padding-bottom: 10px;
}
.sidebar-nav li{
	list-style-image: url(../images/icon.png);
	margin-left: 20px;
}
.sidebar-nav li a{
	font-size: 13px;
	color:#999;
	line-height: 2.5em;
}
.sidebar-nav li a:hover{
	color:#555;
}
.content1{
	width:650px;
	float:left;
	background: #E2D0D6;
	padding: 30px;
}
.contact h1{
	margin: 0 0 30px 0;
	padding: 12px 0;
	font-size: 24px;
	color: #89243F;
	border-bottom: 2px dotted #888;
}
.contact form span{
	color:#111;
	font-size:16px;
}
.contact form label {
	font-size: 15px;
	color:#777;
}
.abc input[type="text"]{
	padding: 7px ;
	margin-bottom: 20px;
	width: 195px;
	font-size: 13px;
	margin: 7px 0 20px;
	border: 1px solid #f0f0f0;
	color: #888;
	background:#F8F8F8;
	display: block;
	outline: none;
	-webkit-border-radius: .2em;
	-moz-border-radius: .2em;
	border-radius: .2em;
	border: 1px solid #715a6c;
	float: left;
	font-family: 'Kite One', sans-serif;
}
.contact input[type="textbox"]{
	padding: 7px ;
	margin-bottom: 20px;
	width: 415px;
	font-size: 13px;
	margin: 7px 0 20px;
	border: 1px solid #f0f0f0;
	color: #888;
	background:#F8F8F8;
	display: block;
	outline: none;
	-webkit-border-radius: .2em;
	-moz-border-radius: .2em;
	border-radius: .2em;
	border: 1px solid #715a6c;
	font-family: 'Kite One', sans-serif;
}
.contact textarea {
	width: 414px;
	font-size: 13px;
	margin: 7px 0;
    color: #888;
	background: #F8F8F8;
	display: block;
	-webkit-border-radius: .2em;
	-moz-border-radius: .2em;
	border-radius: .2em;
	outline: none;
	font-family: Arial;
	margin-bottom: 25px;
	height:100px;
	padding: 7px;
	font-family: 'Kite One', sans-serif;
}
.contact input[type="submit"] {
	background:#7c283f;
	color: #fff;
	padding: 5px 19px;
	border: 1px solid #E2D0D6;
	cursor: pointer;
	-webkit-border-radius: .2em;
	-moz-border-radius: .2em;
	border-radius: .2em;
	font-family: 'Kite One', sans-serif;
	
}
.contact input[type="submit"]:hover{
	color:#ddd;
  	background: #a13957;
}
.map{
 	padding-top: 30px;
 }


/*--templates--*/


.content2{
	background:#e2d0d6;	
}
.pic img{
	padding:20px;
	float: left;	
}
.desc p{
	padding: 20px;
	font-size:13px;
	color:#444;
}
/* -- Responsive code -- */
@media screen and (max-width: 1024px){}
@media screen and (max-width: 991px){
	.wrap {
		width: 974px;
	}
	.content {
		width: 684px;
	}
	.content1 {
		width: 624px;
	}
}
@media screen and (max-width: 900px){
	.content {
		width: 600px;
	}
	.content-pic {
		margin-left: 20px;
	}
	.sidebar {
		width: 226px;
	}
	.wrap {
		width: 870px;
	}
	.content-pic img {
		margin-right: 13px;
	}
	.sub-sidebar input[type="text"],.sub-sidebar input[type="password"] {
		width: 215px;
	}
	.footer-nav {
		width: 174px;
	}
	.content1 {
		width: 520px;
	}
}
@media screen and (max-width: 800px){
	.wrap {
		width: 783px;
	}
	.sidebar {
		width: 94.95%;
		float: none;
	}
	.content{
		width: 100%;
		float: none;
	}
	.footer-nav ,.footer-nav2{
		width: 40%;
		float: left;
	}
	.footer-nav2 {
		margin-top: 40px;
		margin-left: 0;
	}
	.footer{
		height: 290px;
	}
	.sub-sidebar {
		text-align: center;
	}
	.s-left {
		float: left;
		margin-top: 1em;
		width: 67%;
	}
	.submit {
		float: left;
		margin-top: 1em;
		width:2%;
	}
	.content-desc {
		width: 230px;
	}
	.content1 {
		width: 92.4%;
	}
	.sidebar1 {
		width: 95%;
	}
	.desc p {
		padding: 25px;
	}
}
@media screen and (max-width: 768px){
	.wrap {
		width: 747px;
	}
	.content-desc {
		margin-left: 12px;
	}
	.content1 {
		width: 92.3%;
	}
}
@media screen and (max-width: 736px){
	.wrap {
		width: 711px;
	}
	.content-desc {
		margin-left: 7px;
		width: 226px;
	}
	.content1 {
		width: 91.5%;
	}
}
@media screen and (max-width: 667px){
	.wrap {
		width: 635px;
	}
	.content-desc {
		margin-left: 25px;
		width: 280px;
	}
	.content1 {
		width: 90.6%;
	}
	.desc {
		float: left;
	}
	.pic img {
		padding: 15px 20px 0px;
		float: left;
	}
}
@media screen and (max-width: 640px){
	.wrap {
		width: 605px;
	}
	.sidebar {
		width: 93.5%;
	}
	.logo img {
		width: 95%;
	}
	.content-desc {
		margin-left: 20px;
		width: 271px;
	}
	.content1 {
		width: 90.1%;
	}
}
@media screen and (max-width: 600px){
	.logo {
		float: none;
		margin: 0;
		display: block;
		text-align: center;
	}
	.h-right {
		float: none;
		text-align: center;
		margin-right: 0;
	}
	.logo img {
		width: 35%;
		margin: 1em 0 0;
	}
	.search input[type="text"] {
		margin: 14px 0;
	}
	.content-desc {
		margin-left: 20px;
		width: 255px;
	}
	.wrap {
		width: 579px;
	}
	.content-pic img {
		margin-right: 9px;
	}
	.footer-nav, .footer-nav2 {
		width: 38%;
	}
	.content1 {
		width: 89.7%;
	}
}
@media screen and (max-width: 568px){
	.wrap {
		width: 542px;
	}
	.content-pic {
		margin-left: 10px;
	}
	.content-pic img {
		margin-right: 3px;
	}
	.content-desc {
		width: 91%;
	}
	.footer-nav1 {
		float: left;
		width: 100%;
		margin-top: 32px;
		margin-left: 0;
	}
	.footer-nav, .footer-nav2 {
		width: 100%;
	}
	.footer {
		height: 540px;
	}
	.content1 {
		width: 89.1%;
	}
}
@media screen and (max-width: 480px){
	.wrap {
		width: 441px;
	}
	.content-pic img {
		margin: 6px;
	}
	.content {
		background-repeat: repeat;
	}
	.footer-nav2 {
		margin-top: 26px;
	}
	.footer {
		height: 520px;
	}
	.content1 {
		width: 86.3%;
	}
	.abc input[type="text"],.contact input[type="textbox"],.contact textarea {
		width: 89%;
		margin: 1em;
	}
	.map iframe {
		width: 100%;
	}
	.contact h1 {
		margin: 0 0 20px 0;
	}
	.contact input[type="submit"]{
		margin-left: 1em;
	}
}
@media screen and (max-width: 414px){
	.wrap {
		width: 365px;
	}
	.search input[type="text"] {
		width: 270px;
	}
	.logo img {
		width: 45%;
	}
	.s-left {
		width: 81%;
	}
	.content1 {
		width: 83.5%;
	}
} 
@media screen and (max-width: 384px){
	.wrap {
		width: 331px;
	}
	.search input[type="text"] {
		width: 248px;
	}
	.content-pic img {
		margin: 1px;
	}
	.content-desc {
		width: 87%;
	}
	.copy p {
		line-height: 1.8;
	}
	.content1 {
		width: 82%;
	}
	.content1 {
		width: 90%;
		padding: 10px 16px;
	}
	.sidebar1 {
		width: 88%;
	}
	.sidebar {
		width: 89%;
	}
}
@media screen and (max-width: 375px){
	.wrap {
		width: 320px;
	}
	.search input[type="text"] {
		width: 225px;
	}
	.nav li a {
		margin: 6px 19px;
	}
	.sidebar-bottom h2 {
		font-size: 17px;
	}
	.content-text h5 {
		font-size: 18px;
	}
	.sub-sidebar input[type="text"], .sub-sidebar input[type="password"] {
		width: 211px;
	}
	.pic img {
		padding: 15px 10px 0px;
	}
	.desc p {
		padding: 22px 15px;
	}
}
@media screen and (max-width: 320px){
	.wrap {
		width: 287px;
	}
	.nav li a {
		margin: 6px 11px;
	}
	.search input[type="text"] {
		width: 169px;
	}
	.footer {
		height: 520px;
	}
	.content-pic {
		margin-left: 16px;
	}
	.submit {
		width: 39%;
	}
	.s-left {
		width: 51%;
	}
	.sidebar {
		width: 93%;
		padding: 20px 10px;
	}
	.sidebar-bottom img{
		padding: 0;
	}
	.abc input[type="text"], .contact input[type="textbox"], .contact textarea {
		width: 85%;
	}	.pic img {
		padding: 15px 0px 0px;
	}
	.pic img {
		padding: 15px 0px 0px;
	}
}
/* -- //Responsive code -- */



