/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
body,html{
	padding:0px;
	margin:0px;
	font-family: 'Open Sans', sans-serif;
	}
/*-- banner --*/
.banner{
	background:#E0DCCD;
	padding: 3em;
	}
.banner1{
	background:url(../images/banner.jpg) no-repeat 0px 0px;
	background-size:cover;
	min-height:875px;
	width:100%;
	margin:0 auto;
	}
.head-logo{
	float:left;	
	margin: 2em 0 0 2em;
	}
.head-logo a{
	display:block;
	}
.banner-info{
	background: url(../images/line-2.png) no-repeat 439px 154px;
	width:100%;
	height:410px;
	display:block;
	padding: 23em 0 31.5em 34em;
	}
.banner-info h2{
	font-size:55px;
	font-weight:800;
	margin:0;
	color:#fff;
	background: url(../images/cross.png) no-repeat 37px 0px;
	width: 100px;
	height:9px;
	font-family: 'Raleway', sans-serif;
	padding: 16px 0;
	}
.banner-info h2 span{
	background: url(../images/w-l.png) no-repeat 0px 82px;
	width: 50px;
	height: 45px;
	padding: 0 0 24px 9px;
	}
.banner-info p{
	font-size:16px;
	font-weight: 600;
	margin: 3.5em 0 0 6em;
	color:#fff;
	}
.top-nav ul{
	margin:0px;
	padding:0px;
	}
.top-nav {
	margin-left: 13em;
	}
.top-nav ul li{
	display:inline-block;
	float: left;
	}
.top-nav ul li a{
	font-size:16px;
	color:#fff;
	padding: 1.5em 4.5em;
	border-right:2px solid #fff;
	}
.top-nav ul li a:hover{
	text-decoration:none;
	color:#303332;
	background:#fff;
	}
.top-nav{
	margin-left: 13em;
	}
.top-nav span{
	display:none;
}
/*-- //banner --*/
/*-- banner-bottom */
.mag{
	background:#1F1F21;
	padding:2em 0;
	text-align:center;
}
.mag h4{
	font-size:32px;
	color:#fff;
	margin:0px;
	font-family: 'Antic Didone', serif;
	font-style:italic;
	display:block;
	}
.mag span{
	border-top:1px solid #F2AB7F;
	display: block;
	background: url(../images/line-1.png) no-repeat 560px 0px;
	height: 15px;
	margin-top: 10px;
	}
.dor{
	margin:4em 0 0;
	}
.dor-left{
	float:left;
	width:50%;
	position:relative;
	}
.dor-right{
	float:right;
	width: 28%;
	text-align: center;
	margin: 5em 0 0;
	}
.dor-left-text{
	position:absolute;
	top:1%;
	left: 43%;
	}
.dor-left-text h3{
	font-size:30px;
	margin: 2em 0 1em;
	color:#28272A;
	font-family: 'Antic Didone', serif;
	font-style:italic;
	}
.dor-left-text ul{
	padding:0px;
	margin:0px;
	text-align:right;
	background: url(../images/cross-1.png) no-repeat 202px 118px;
	height: 130px;
	display:block;
	}
.dor-left-text ul li{
	list-style-type:none;
	font-size: 14px;
	color: #363538;
	}
.dor-right-image{
	background:url(../images/plate.png) no-repeat 0px 0px;
	width:136px;
	height:96px;
	display:block;
	}
.dor-right-image p{
	font-size:22px;
	color:#363538;
	margin:0px;
	padding: 1.3em 0 0;
	}
.dor1{
	margin:6em 0 0;
	}
.dor-right1{
	float:right;
	width:50%;
	position:relative;
	}
.dor-left1{
	float:left;
	width: 28%;
	text-align: center;
	margin: 5em 0 0 9em;
	}
.dor-right-image1{
	background:url(../images/plate.png) no-repeat 0px 0px;
	width:136px;
	height:96px;
	display:block;
	}
.dor-right-image1 p{
	font-size:22px;
	color:#363538;
	margin:0px;
	padding: 1.3em 0 0;
	}
.dor-left-fig1{
	text-align:right;
	}
.dor-left-text1{
	position:absolute;
	top:1%;
	right: 43%;
	text-align:left;
	}
.dor-left-text1 h3{
	font-size:30px;
	margin: 2em 0 1em;
	color:#28272A;
	font-family: 'Antic Didone', serif;
	font-style:italic;
	}
.dor-left-text1 ul{
	padding:0px;
	margin:0px;
	background: url(../images/cross-1.png) no-repeat 3px 118px;
	height: 130px;
	display:block;
	}
.dor-left-text1 ul li{
	list-style-type:none;
	font-size: 14px;
	color: #363538;
	}
h3.tal{
	text-align:right;
	}
/*-- //banner-bottom */
/*-- aktionen --*/
.aktionen{
	margin:8em 0 2em;
	}
.aktionen-text{
	text-align:center;
	}
.aktionen-text h4{
	font-size:16px;
	margin:0px;
	font-family: 'Antic Didone', serif;
	font-style:italic;
	color:#000;
	}
.aktionen-text h4 span{
	display:block;
	margin: .5em 0 3em;
	}
.aktionen-text-bottom{
	background: url(../images/line.png) no-repeat 335px 12px;
	height: 30px;
	display:block;
	text-align:center;
	}
.aktionen-text-bottom h3{
	color:#F2AB7F;
	font-size:33px;
	margin:0px;
	font-family: 'Antic Didone', serif;
	font-style:italic;
	}
.aktionen-grids{
	margin:3em 0;
	}
.aktionen-grid {
	float:left;
	width:33.33%;
	text-align:center;
	}
.aktionen-grid  img{
	border:1px solid #F3AF85;
	padding:8px;
	}

/*-- Slider Part starts Here--*/
#slider2,
#slider3 {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0 auto;
}
.rslides_tabs {
  list-style: none;
  padding: 0;
  background: rgba(0,0,0,.25);
  box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  -moz-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  font-size: 18px;
  list-style: none;
  margin: 0 auto 50px;
  max-width: 540px;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}
.rslides_tabs li {
  display: inline;
  float: none;
  margin-right: 1px;
}
.rslides_tabs a {
  width: auto;
  line-height: 20px;
  padding: 9px 20px;
  height: auto;
  background: transparent;
  display: inline;
}
.rslides_tabs li:first-child {
  margin-left: 0;
}
.rslides_tabs .rslides_here a {
  background: rgba(255,255,255,.1);
  color: #fff;
  font-weight: bold;
}
.events {
  list-style: none;
}
.callbacks_container {
  position: relative;
  float: left;
  width: 100%;
}
.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.callbacks li {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
.callbacks img {
  position: relative;
  z-index: 1;
  height: auto;
  border: 0;
}
.callbacks .caption {
	display: none;
	position: absolute;
	z-index: 2;
	font-size: 20px;
	text-shadow: none;
	color: #fff;
	left: 0px;
	right: 0;
	padding: 10px 20px;
	margin: 0;
	max-width: none;
	top: 0%;
	text-align: center;
}
.callbacks_nav {
  	position: absolute;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	top: 60%;
	left: -6%;
	opacity: 0.7;
	z-index: 3;
	text-indent: -9999px;
	overflow: hidden;
	text-decoration: none;
	height: 61px;
	width: 30px;
	background: transparent url("../images/themes.png") no-repeat left top;
	margin-top: -65px;
}
.callbacks_nav:active {
  opacity: 1.0;
}
.callbacks_nav.next {
  left:102%;
  background-position: right top;
  right: 0;
}
#slider3-pager a,#slider2-pager a {
  display: inline-block;
}
#slider3-pager span,#slider2-pager span{
  float: left;
}
#slider3-pager span,#slider2-pager span{
	width:100px;
	height:15px;
	background:#fff;
	display:inline-block;
	border-radius:30em;
	opacity:0.6;
}
#slider3-pager .rslides_here a,#slider2-pager .rslides_here a {
  background: #FFF;
  border-radius:30em;
  opacity:1;
}
#slider3-pager a,#slider2-pager a {
  padding: 0;
}
#slider3-pager li,#slider2-pager li{
	display:inline-block;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}
.rslides li{
  position: relative;
  display: block;
  float: left;
}
.rslides img {
  height: auto;
}
.callbacks_tabs{
	list-style: none;
	position: absolute;
	top: 93%;
	z-index: 999;
	left: 46%;
	padding: 0;
}
.callbacks2_tabs{
	list-style: none;
	position: absolute;
	top: 36%;
	z-index: 999;
	left: 2%;
	padding: 0;
}
@media screen and (max-width: 600px) {
  .callbacks_nav {
    top: 47%;
    }
}
/*----*/
.callbacks_tabs li{
	margin:0;
	display:inline-block;
}
.callbacks2_tabs li{
	margin:0;
	display:block;
}
.callbacks_tabs li:after{
  content: "\f111";
  font-size:0;
  font-family: FontAwesome;
  visibility: visible;
  display: block;
  height:25px;
  width:23px;
  display:inline-block;
  background: url(../images/.png) no-repeat -2px 0px;
  position: absolute;
  top: 27px;
}
.callbacks2_tabs li:after{
  content: "\f111";
  font-size:0;
  font-family: FontAwesome;
  visibility: visible;
  display: block;
  height:25px;
  width:23px;
  display:inline-block;
  background: url(../images/.png) no-repeat -2px 0px;
  position: absolute;
  top: 27px;
}
.callbacks_tabs a{
 visibility: hidden;
}
.callbacks_tabs a:after {
  content: "\f111";
  font-size:0;
  font-family: FontAwesome;
  visibility: visible;
  display: block;
  height:25px;
  width:26px;
  display:inline-block;
  background: url(../images/white.png) no-repeat 0px 0px;
}
.callbacks2_tabs a:after {
  content: "\f111";
  font-size:0;
  font-family: FontAwesome;
  visibility: visible;
  display: block;
  height:25px;
  width:26px;
  display:inline-block;
  background: url(../images/b.png) no-repeat 0px 0px;
}
.callbacks_tabs a:before{
	content: "\f111";
	font-size: 0;
	font-family: FontAwesome;
	visibility: visible;
	display: block;
	height: 25px;
	display: inline-block;
	position: absolute;
	left: 8px;
 }
 .callbacks2_tabs a:before{
	content: "\f111";
	font-size: 0;
	font-family: FontAwesome;
	visibility: visible;
	display: block;
	height: 25px;
	display: inline-block;
	position: absolute;
	left: 8px;
 }
.callbacks_here a:after{
	 background: url(../images/red.png) no-repeat 0px 0px;
}
.callbacks2_here a:after{
	 background: url(../images/w.png) no-repeat 0px 0px;
}
/*-- //aktionen --*/
/*-- Speisekarte --*/
.Speisekarte{
	background:#E0DCCD;
	padding-bottom: 4em;
}
.Speisekarte-grid{
	margin-top:3em;
	}
.Speisekarte-grid1{
	float:left;
	width:40%;
	border:1px solid #F2AB7F;
	padding:8px;
	}
.Speisekarte-grid1 img{
	float:right;
	}
.Speisekarte-grid1-text{
	float:left;
	background:#fff;
	text-align:left;
	padding: 0 3em 0.5em 1em;
	}
.Speisekarte-grid1-text h3{	
	color:#282729;
	font-size:22px;
	margin: 1em 0;
	font-family: 'Antic Didone', serif;
	font-style:italic;
	}
.Speisekarte-grid2{
	float:right;
	width:40%;
	border:1px solid #F2AB7F;
	padding:8px;
	}
.Speisekarte-grid2 img{
	float:right;
	}
.Speisekarte-grid1-text ul{
	padding:0px;
	margin: 0 0 .5em;
	}
.Speisekarte-grid1-text ul li{
	color:#282729;
	font-size:14px;
	list-style-type:none;
	margin-bottom: 3px;
	}
.Speisekarte-grid1-text a{
	color:#282729;
	font-size:14px;
	border-bottom:2px solid #C9C9CA;
	}
.Speisekarte-grid1-text a:hover{
	color:#F2AB7F;
	text-decoration:none;
	border-bottom:2px solid #F2AB7F;
	}
/*-- //Speisekarte --*/
/*-- gallery --*/
.gallery-banner{
	background:url(../images/banner-1.jpg) no-repeat 0px 0px;
	background-size:cover;
	width:100%;
	min-height:949px;
	position:relative;
	}
.gallery{
	padding:25px;
	background:#fff;
	}
.mag1{
	background:#1F1F21;
	padding:1em 0 1em;
	text-align:center;
	position:absolute;
	top: -3.3%;
	width: 74.5%;
}
.mag1 h4{
	font-size:32px;
	color:#fff;
	margin:0px;
	font-family: 'Antic Didone', serif;
	font-style:italic;
	display:block;
	}
.mag1 span{
	border-top:1px solid #F2AB7F;
	display: block;
	background: url(../images/line-1.png) no-repeat 541px 0px;
	height: 15px;
	margin-top: 20px;
	}
.figure{
	position:absolute;
	top: 93%;
	left: 48%;
	}
.figure span{
	background:url(../images/2.png) no-repeat 0px 0px;
	width:144px;
	height:42px;
	display:block;
	}
.gallery-banner1{
	background:url(../images/banner-2.jpg) no-repeat 0px 0px;
	background-size:cover;
	width:100%;
	min-height:949px;
	position:relative;
	}
.gallery-banner2{
	background:url(../images/banner-3.jpg) no-repeat 0px 0px;
	background-size:cover;
	width:100%;
	min-height:949px;
	position:relative;
	}
.gallery-banner3{
	background:url(../images/banner-4.jpg) no-repeat 0px 0px;
	background-size:cover;
	width:100%;
	min-height:949px;
	position:relative;
	}
.gallery-banner4{
	background:url(../images/banner-5.jpg) no-repeat 0px 0px;
	background-size:cover;
	width:100%;
	min-height:949px;
	position:relative;
	}
.gallery-banner5{
	background:url(../images/banner-6.jpg) no-repeat 0px 0px;
	background-size:cover;
	width:100%;
	min-height:949px;
	position:relative;
	}
.gallery-banner6{
	background:url(../images/banner-7.jpg) no-repeat 0px 0px;
	background-size:cover;
	width:100%;
	min-height:949px;
	position:relative;
	}
/*-- //gallery --*/
/*-- contact --*/
.contact{
	background:#E0DCCD;
	padding-bottom: 10em;
	}
.contact-left{
	float:left;
	width:45%;
	}
.contact-left input[type=text]{
	padding: .6em 12em;
	background: #E0DCCD;
	width:30%;
	outline:none;
	border:1px solid #F2AB7F;
	}
.in p{ 
	font-size:15px;
	color:#1F1F21;
	margin: 3em 0 0;
	font-weight: 700;
	}
.contact-left textarea{
	resize:none;
	outline:none;
	height: 205px;
	border:1px solid #F2AB7F;
	width:100%;
	background: #E0DCCD;
	}
.msg p{
	font-size:15px;
	color:#1F1F21;
	margin: 2em 0 0;
	font-weight: 700;
	}
.contact-left input[type=submit] {
	outline:none;
	border:1px solid #F2AB7F;
	padding: 1em 7em;
	margin: 1.6em 0 0;
	background: #E0DCCD;
	font-size:15px;
	color:#1F1F21;
	font-weight: 700;
	}
.contact-left input[type=submit]:hover{
	color:#F2AB7F;
	text-decoration:none;
	}
.contact-right{
	float:right;
	width:50%;
	border:1px solid #F2AB7F;
	margin-top: 5em;
	}
.contact-right iframe{
	width:100%;
	height: 270px;
	padding:8px;
	}
.footer-top{
	background:#fff;
	width: 100%;
	width: 75%;
	position: absolute;
	top: -14%;
	}
.footer-top-left{
	float:left;
	width:50%;
	font-family: 'Antic Didone', serif;
	font-style:italic;
	margin-left: 8em;
	}
.footer-top-left h3{
	font-size:32px;
	color:#242426;
	margin:2em 0 .3em;
	}
.footer-top-left h3 span{
	display:block;
	background:url(../images/line-3.png) no-repeat 0px 60px;
	height:80px;
	}
.footer-top-left p{
	font-size:16px;
	color:#242426;
	margin: 0;
	}
.footer-top-right{
	float:right;
	width:38%;
	}
.footer-top-right-imag{
	margin:2em 0 1em;
	}
.footer-top-right-imag img{
	float:left;
	width:15%;
	}
.footer-top-right-imag-text {
	float:left;
	margin-left: .3em;
	}
iframe.text{
	float:left;
	}
.footer-top-right-imag-text h6{
	color:#4861B9;
	font-size:15px;
	margin:.3em 0 0 0em;
	font-weight: 700;
	}
.frme{
	margin-top:1em;
	}
.footer{
	background:#1F1F21;
	position:relative;
	}
.footer-left h5{
	color:#969697;
	font-size:13px;
	margin:0px;
	}
.footer-left ul{
	padding:0px;
	margin:0px;
	}
.footer-left ul li{
	list-style-type:none;
	color:#969697;
	font-size:12px;
	}
.footer-left p{
	color:#969697;
	font-size:13px;
	margin:0px;
	background: url(../images/a.png) no-repeat 0px 0px;
	height: 32px;
	padding-left: 35px;
	}
.footer-left ul li a{
	color:#F2AB7F;
	font-size:13px;
	}
.footer-left ul li a:hover{
	color:#969697;
	text-decoration:none;
	}
.footer-left p a{
	color:#F2AB7F;
	font-size:13px;
	}
.footer-left p a:hover{
	color:#969697;
	text-decoration:none;
	}
.footer-bottom{
	padding:23em 0 3em;
	}
/*-- //contact --*/
/*-- to-top --*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 0px;
	right: 2%;
	overflow: hidden;
	z-index: 999; 
	width: 32px;
	height: 32px;
	border: none;
	text-indent: 100%;
	background: url("../images/arrow.png") no-repeat 0px 0px;
}
#toTopHover {
	width: 32px;
	height: 32px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*-- //to-top --*/
@media (max-width: 1440px)
{
.top-nav {
	margin-left: 9em;
	}
.footer-top {
	width: 81%;
	}
.mag1{
	width:84%;
	}
.mag span {
	background: url(../images/line-1.png) no-repeat 545px 0px;
	}
}
@media (max-width: 1366px)
{
.top-nav {
	margin-left: 6em;
	}
.top-nav ul li a {
	padding: 1.5em 4.5em;
	}
.mag1 {
	width: 88%;
	}
.footer-top {
	width: 84%;
	}
}
@media (max-width: 1280px)
{
.figure {
	left: 45%;
	}
.banner-info h2 {
	font-size: 50px;
	background: url(../images/cross.png) no-repeat 20px 0px;
	}
.banner-info p {
	font-size: 15px;
	}
.banner-info {
	background: url(../images/line-2.png) no-repeat 435px 145px;
	padding: 23em 0 31.5em 32em;
	}
.top-nav {
	margin-left: 3em;
	}
.top-nav ul li a {
	padding: 1.5em 4.5em;
	}
.mag1 {
	width: 95%;
	}
}
@media (max-width: 1024px)
{
.top-nav {
	margin-left: 4em;
	}
.banner {
	padding: 2em;
	}
.banner1{
	min-height:680px;
	}
.banner-info {
	background: url(../images/line-2.png) no-repeat 270px 33px;
	padding: 15em 0 25.6em 20em;
	}
.top-nav ul li a {
	padding: 1.5em 3em;
	}
.mag span {
	background: url(../images/line-1.png) no-repeat 450px 0px;
	}
.dor-left{
	width:58%;
	}
.aktionen-text-bottom {
	background: url(../images/line.png) no-repeat 240px 12px;
	}
.Speisekarte-grid1{
	width:48%;
	}
.Speisekarte-grid2{
	width:48%;
	}
.Speisekarte-grid1-text {
	padding: 0 3em 0.5em .6em;
	}
.mag1{
	left:1%;
	width: 98%;
	}
.mag1 span {
	background: url(../images/line-1.png) no-repeat 447px 0px;
	}
.gallery-banner{
	min-height:750px;
	}
.gallery-banner1{
	min-height:750px;
	}
.gallery-banner2{
	min-height:750px;
	}
.gallery-banner3{
	min-height:750px;
	}
.gallery-banner4{
	min-height:750px;
	}
.gallery-banner5{
	min-height:750px;
	}
.gallery-banner6{
	min-height:750px;
	}
.gallery {
	padding: 15px;
	}
.footer-top-right {
	width: 42%;
	}
.footer-top-left h3 {
	font-size: 29px;
	margin: 2em 0 .3em;
	}
.footer-top-left {
	width: 46%;
	}
.footer-top {
	width: 93%;
	}
.figure{
	left:44%;
	}
.footer-top-left{
	margin-left:5em;
	}
}
@media (max-width: 768px)
{
.banner-info h2 span {
	background: url(../images/w-l.png) no-repeat 0px 64px;
	}
.banner-info h2 {
	font-size: 45px;
	background: url(../images/cross.png) no-repeat 14px 0px;
	}
.banner-info p {
	margin: 2.5em 0 0 6em;
	}
.banner-info {
	background: url(../images/line-2.png) no-repeat 153px 7px;
	padding: 14em 0 26.6em 12em;
	}
.top-nav {
	margin-left: 3em;
	}
.top-nav ul li a {
	padding: 1.5em;
	}
.mag span {
	background: url(../images/line-1.png) no-repeat 323px 0px;
	}
.dor-left {
	width: 72%;
	}
.dor-left-text h3 {
	font-size: 28px;
	text-align: right;
	}
.dor-left-text1 h3 {
	font-size: 28px;
	}
.dor-left1 {
	margin: 5em 0 0 2em;
	}
.dor-right1 {
	width: 68%;
	}
.dor-right-image{
	margin:0 auto;
	}
.aktionen-text-bottom {
	background: url(../images/line.png) no-repeat 127px 12px;
	}
.aktionen-grid{
	width:33%;
	}
.aktionen-grid img{
	width:100%;
	}
.callbacks_tabs {
	left: 41%;
	}
.callbacks2_tabs {
	left: 4%;
	}
.Speisekarte-grid1-text {
	padding: 0 .8em 0.5em .6em;
	}
.Speisekarte-grid1 img {
	width: 35%;
	}
.Speisekarte-grid2 img {
	width: 35%;
	}
.Speisekarte-grid1-text h3 {
	font-size: 17px;
	margin: .5em 0;
	}
.Speisekarte-grid1-text ul li {
	font-size: 12px;
	margin-bottom: 2px;
	}
.Speisekarte-grid1-text a {
	font-size: 13px;
	}
.mag1 span {
	background: url(../images/line-1.png) no-repeat 327px 0px;
	}
.gallery-banner {
	min-height: 600px;
	}
.gallery-banner1 {
	min-height: 600px;
	}
.gallery-banner2 {
	min-height: 600px;
	}
.gallery-banner3 {
	min-height: 600px;
	}
.gallery-banner4 {
	min-height: 600px;
	}
.gallery-banner5 {
	min-height: 600px;
	}
.gallery-banner6 {
	min-height: 600px;
	}
.footer-top-left{
	margin-left:4em;
	width: 40%;
	}
.footer-top-left h3 {
	font-size: 19px;
	}
.footer-top-right {
	float: right;
	width: 46%;
	}
.footer-top {
	width: 94%;
	}
.footer-top {
	width: 96%;
	}
.footer-left{
	float:left;
	}
.footer-bottom {
	padding: 21em 0 3em;
	}
}
@media (max-width: 640px)
{
.figure {
	left: 41%;
	top:91%;
	}
.banner {
	padding: 1em;
	}
.banner1 {
	min-height: 582px;
	}
.banner-info h2 {
	font-size: 40px;
	background: url(../images/cross.png) no-repeat 9px 0px;
	}
.banner-info h2 span {
	background: url(../images/w-l.png) no-repeat -9px 55px;
	}
.banner-info p {
	margin: 2.5em 0 0 5em;
	font-size: 13px;
	}
.banner-info {
	background: url(../images/line-2.png) no-repeat 140px -21px;
	padding: 13em 0 21.4em 12em;
	}
.top-nav ul li a {
	font-size: 15px;
	padding: 1em 1.4em;
	}
.top-nav {
	margin-left: 2em;
	}
.mag span {
	background: url(../images/line-1.png) no-repeat 270px 0px;
	}
.mag{
	padding:1em 0;
	}
.dor-left-fig img{
	width:80%;
	}
.dor-left-text h3 {
	font-size: 25px;
	margin:1em 0;
	}
.dor-left-text ul li{
	font-size:13px;
	}
.dor-left-text {
	top: 0%;
	left: 44%;
	}
.dor-left-text ul {
	padding: 0px;
	margin: 0px;
	text-align: right;
	background: url(../images/cross-1.png) no-repeat 175px 104px;
	}
.dor1 {
	margin: 6em 0 0;
	}
.dor-left-fig1 img{
	width:80%;
	}
.dor-left-text1 h3 {
	font-size: 25px;
	margin:1em 0;
	}
.dor-left-text1 ul li{
	font-size:13px;
	}
.dor-left-text1 {
	top: 0%;
	right: 44%;
	}
.dor-left-text1 ul {
	padding: 0px;
	margin: 0px;
	text-align: left;
	background: url(../images/cross-1.png) no-repeat -3px 104px;
	}
.dor-left1 {
	margin: 5em 0 0 1em;
	}
.aktionen-text-bottom {
	background: url(../images/line.png) no-repeat 66px 12px;
	}
.callbacks_tabs {
	left: 41%;
	}
.callbacks2_tabs {
	left: 4%;
	}
.Speisekarte-grid1 img {
	width: 25%;
	}
.Speisekarte-grid1 {
	width: 100%;
	}
.Speisekarte-grid2 img {
	width: 25%;
	}
.Speisekarte-grid2 {
	width: 100%;
	margin-top: 3em;
	}
.Speisekarte-grid1:nth-child(1){
	display:none;
	}
.Speisekarte-grid:nth-child(3){
	display:none;
	}
.Speisekarte-grid1-text h3 {
	font-size: 25px;
	}
.Speisekarte-grid1-text ul li {
	font-size: 14px;
	margin-bottom: 3px;
	}
.Speisekarte-grid1-text a {
	font-size: 16px;
	}
.Speisekarte-grid1-text {
	padding: 0 11.5em 0.8em .6em;
	}
.Speisekarte-grid1-text {
	padding: 1px 7.5em 0.8em 6.6em;
	}
.dor-left-text1 {
	right: 32%;
	}
.Speisekarte-grid {
	margin-top: 0;
	}
.contact-left {
	width: 100%;
	}
.contact-left input[type=text] {
	width: 85%;
	}
.contact-right {
	width: 100%;
	margin-top: 4em;
	}
.contact {
	padding-bottom: 8em;
	}
.footer-left {
	width: 50%;
	margin-bottom: 3em;
	}
.footer-bottom {
	padding: 18em 0 1em;
	}
.footer-top-left {
	margin-top: 3em;
	margin-left: 1em;
	}
.footer-top-left h3 {
	font-size: 17px;
	}
.footer-top-right {
	width: 54%;
	}
.footer-top-left h3 span {
	height: 30px;
	}
.footer-top-left p {
	font-size: 14px;
	}
.footer-top {
	width: 95%;
	}
.mag1 span {
	background: url(../images/line-1.png) no-repeat 263px 0px;
	}
}
@media (max-width: 480px)
{
.top-nav {
	margin-left: 0em;
	}
.banner1 {
	min-height: 400px;
	}
.banner-info {
	background: none;
	padding: 11em 0 0em 5em;
	height:0;
	}
.banner-info h2 {
	font-size: 35px;
	background: url(../images/cross.png) no-repeat 5px 0px;
	}
.banner-info p {
	margin: 2.9em 0 0 5em;
	font-size: 11px;
	}
.top-nav {
	width: 5%;
	}
span.menu {
	display: block;
	cursor: pointer;
	width: 100%;
	position: relative;
	}
ul.nav1{
	display:none;
	background: rgba(135, 133, 128, 0.96);
	}
.top-nav ul li a{
	display:block;
	font-size: 18px;
	padding: 0;
	}
.top-nav ul {
	position: absolute;
	padding: 0;
	margin: 0;
	top: 14%;
	left: 0%;
	width: 100%;
	z-index: 999;
	}
.top-nav ul.nav1 li {
	display: inline-block;
	text-align: center;
	margin: 0;
	width: 100%;
	padding: 20px 0 13px;
	}
span.menu{
	padding: 11em 0 0px;
	margin-left: 14em;
	}
.top-nav ul li a:hover{
	border:none;
	padding:0px;
	}
.top-nav ul {
	top: 11%;
	}
.top-nav ul.nav1 li{
	padding: 17.5px 0;
	}
.mag span {
	background: url(../images/line-1.png) no-repeat 182px 0px;
	}
.dor-left-text {
	left: 22%;
	}
.dor-right {
	display: none;
	}
.dor-left {
	width: 100%;
	}
.dor-left-text {
	left: 46%;
	}
.dor-right1 {
	width: 100%;
	}
.dor-left-text1 {
	left: 12%;
	}
.dor-left1 {
	display: none;
	}
.aktionen-text h4 {
	font-size: 15px;
	}
.aktionen-text h4 span {
	display: none;
	}
.aktionen-text-bottom {
	background:none;
	}
.callbacks_tabs {
	left: 39%;
	}
.Speisekarte-grid1-text {
	padding: 1px 3.8em 0.8em 3em;
	}
.Speisekarte-grid1-text h3 {
	font-size: 18px;
	margin: 0.2em 0;
	}
.Speisekarte-grid1-text ul li {
	font-size: 13px;
	margin-bottom: 1px;
	}
.Speisekarte-grid1-text a {
	font-size: 13px;
	}
.Speisekarte-grid2 img {
	width: 27%;
	}
.callbacks2_tabs {
	left: 4%;
	}
.footer-top-left {
	display: none;
	}
.footer-top-right {
	width: 100%;
	}
.footer-top-right-imag {
	margin: 2em 0 1em 5em;
	}
.contact-left input[type=text] {
	width: 100%;
	}
.mag1 span {
	background: url(../images/line-1.png) no-repeat 184px 0px;
	}
}
@media (max-width: 320px)
{
.frme iframe{
	width:85%;
	}
.head-logo {
	margin: 2em 0 0 0em;
	}
.banner-info {
	padding: 5em 0 0em 5em;
	}
.banner1 {
	min-height: 324px;
	}
.banner {
	padding: .5em;
	}
span.menu {
	margin-left: 9em;
	}
.banner-info p {
	display: none;
	}
.top-nav ul.nav1 li {
	padding: 9px 0;
	}
.top-nav ul {
	top: 14%;
	}
.mag span {
	background: url(../images/line-1.png) no-repeat 120px 0px;
	}
.dor-left-text h3 {
	font-size: 21px;
	margin: 0;
	overflow: hidden;
	height: 25px;
	text-align: right;
	}
.dor-left-text1 h3{
	font-size: 21px;
	margin: 0;
	overflow: hidden;
	height: 25px;
	text-align:left;
	}
.dor-left-text ul {
	background: none;
	}
.dor-left-text1 ul {
	background: none;
	}
.aktionen-text h4 {
	overflow: hidden;
	height: 18px;
	}
.aktionen-text-bottom h3 {
	font-size: 29px;
	}
.aktionen-grids {
	margin: 1em 0;
	}
.callbacks_tabs {
	top: 87%;
	left:33%;
	}
.Speisekarte-grid2 img {
	width: 33%;
	}
.Speisekarte-grid1-text h3 {
	font-size: 18px;
	margin: 0.2em 0;
	}
.Speisekarte-grid1-text ul li {
	font-size: 10px;
	margin-bottom: 1px;
	}
.Speisekarte-grid1-text {
	padding: 1px 0.5em 0em .8em;
	}
.mag1 span {
	background: url(../images/line-1.png) no-repeat 118px 0px;
	}
.gallery-banner {
	min-height: 500px;
	}
.gallery-banner1 {
	min-height: 500px;
	}
.gallery-banner2 {
	min-height: 500px;
	}
.gallery-banner3 {
	min-height: 500px;
	}
.gallery-banner4 {
	min-height: 500px;
	}
.gallery-banner5 {
	min-height: 500px;
	}
.gallery-banner6 {
	min-height: 500px;
	}
.callbacks2_tabs {
	top: 32%;
	left: 4%;
	}
.contact-left input[type=text] {
	padding: .6em 7em;
	}
.footer-top-right-imag {
	margin: 2em 0 1em 0em;
	}
.footer-left {
	width: 100%;
	}
.figure {
	left:29%;
	top: 89%;
	}
.dor-left-text1 {
	left: 0%;
	}
.Speisekarte-grid2 {
	margin-top: 2em;
	}
.Speisekarte {
	padding-bottom: 2em;
	}
.gallery {
	padding: 7px;
	}
}